[2022-02-10 08:09] ndegendogo commented on #4163
@Nutzerin

github doesn't like json file extension for upload.
Just rename the file to *.txt then it should work

[2022-02-10 08:09] Ein-Tim commented on #4163
@Nutzerin
<details>
<summary>How to export Exposure Notificaiton Logs under iOS 13.7 or newer</summary>

**German:**

`Einstellungen` ➡️ `Begegnungsmitteilungen` ➡️ `Status von Begegnungsaufzeichnungen` ➡️ `Begegnungsüberprüfungen` ➡️ `Überprüfungen exportieren`

**English:**

`Settings` ➡️ `Exposure Notifications` ➡️ `Exosure Logging Status` ➡️ `Exposure Checks` ➡️ `Export Exposure Checks`

**To

[2022-02-10 08:20] ndegendogo commented on #4163
@Nutzerin

2) your ENF log shows that there were indeed many checks started yesterday (even more than 6 which is the limit). So, technically, the error 13 is expected behaviour (rate limit exceeded). However, we need to understand the root cause.
The short sequence in which new checks were started suggests that the previous check was not finished successfull. **Error or timeout?**

Are you aware o

[2022-02-10 08:41] Nutzerin commented on #4163
@ndegendogo
No issues of those mentioned.
And I Really Start worrying about the CWA Software quality, if any of the conditions you mentioned Could really have an impact on the reliability of the App.

[2022-02-10 08:41] Ein-Tim commented on #4163
You should be able to delete the .json extension and add the .txt instead. Uploading other files is possible via the GitHub website.

[2022-02-10 08:45] Nutzerin commented on #4163
@tim

No, I can’t change the extension on the iPhone!!

If you want me to transfer it to the website, then please provide a description of how to do it!

[2022-02-10 08:48] ndegendogo commented on #4163
@Nutzerin please don't misunderstand my statements. I am not a developer here (although I have provided them with a few minor bugfixes). I am only a long-term user. **I have seen quality and reliability of cwa improving a lot over the time since I am using it.**
And my questions are only "the usual suspects" that can cause unstable behaviour on software (and, yes, I have seen several of these in t

[2022-02-10 08:50] ndegendogo commented on #4163
@thomasaugsten I have seen a few times the following pattern on my iPhone 6 / iOS 12.5.
I open cwa, and the download starts, then the check starts. But the check takes a long time these days with the high numbers, and it is an old and slow model, and it has a very short timeout for the screensaver.
So often the screensaver timeout interrupts it before the check is finished.
When I notice that, I o

[2022-02-10 09:02] ndegendogo commented on #4163
I just checked my ENF logs, and I see a similar pattern with a large gap in time on 29 Jan at 23:22. At this time we have the full load (22 hourly files plus 14 daily).
Not sure if this check was from background or from foreground.

My timestamps start at 23:22, then continue 23:23 / 23:24 / 23:25 / 23:26. And then there is a large gap... the very last file follows at 00:09.

[2022-02-10 09:04] thomasaugsten commented on #4163
iOS normally doesn't kill the app when you put in background or lock your screen. You receive between 3-10min before iOS will put the app in standby.

[2022-02-10 09:06] ndegendogo commented on #4163
@thomasaugsten also I have sometimes seen the following pattern in the ENF log: a single entry with a starting timestamp but no files in the list.

I think this happened when I opened cwa shortly but immediately closed it while the check was still ongoing.

@thomasaugsten do you know if such interrupted checks count against the rate limit?

[2022-02-10 09:11] ndegendogo commented on #4163
@Nutzerin do you have a computer? I am not sure if it is possible to change the file extension on the phone

[2022-02-10 09:30] Nutzerin commented on #4163
@ndegendogo
Then we have Long-Term using in common, and the Willingness to help improve the CWA quality.
But, at the end of the day I am a user, Working Full-time, and Spending hours here to provide developers with Information to fix bugs of Software already deployed.

[2022-02-10 09:57] Nutzerin commented on #4163
- @Ein-Tim
S. Screenshot
These are the icons i see on the iPhone GitHub App. Which is the icon of Dateien-App?

![image](https://user-images.githubusercontent.com/98880332/153383070-f6a0bf7c-23cb-4077-a3b0-325a241f0c8f.png)

[2022-02-10 10:00] thomasaugsten commented on #4163
@Nutzerin the reason for your error 13 is that iOS will kill the background check because of high load and/or low battery of your device. Unfortunately Apple is counting this interrupted risk check in the daily quota. We will fix this issue in 2.18 by hiding the error 13 and showing the last successful risk check
It is up to you to provide more information to the community but from developer side

[2022-02-10 11:05] ndegendogo commented on #4180
Actually, you should not make such assumptions about how and under what conditions users are using the app ... meanwhile we have a lot of use cases that don't need internet connectivity....

[2022-02-10 11:20] ndegendogo commented on #4134
Just a question. The OP mentioned app offloading. Does cwa support such a scenario? It means that all data be "off-loadable" and then of course restorable again - right?
As far as I understand, not even all cwa data are included in a backup - is this still the case, or is my understanding outdated?

Does iOS provide some API or similar interface so that an app can prevent being off-loaded (e.g. if

[2022-02-10 17:17] Ein-Tim commented on #4163
Fix for this: https://github.com/corona-warn-app/cwa-app-ios/pull/4203

[2022-02-10 17:22] Nutzerin commented on #4163
@thomasaugsten Thanks, but, please, you can Rest assured that none of the causes mentioned apply in this case.

[2022-02-10 17:26] Nutzerin commented on #4163
In the meantime i can use the App again. However, 2.18 hasn't been released yet ....

[2022-02-10 20:09] ndegendogo commented on #4163
@thomasaugsten the PR#4203 mentions error 16 besides error 13.

Do you have any insights (or even suspicions) what can cause error 16 to happen?

[2022-02-10 20:37] thomasaugsten commented on #4163
The official documentation states the device is not unlocked.
https://developer.apple.com/documentation/exposurenotification/enerror/code/datainaccessible
The recommendation is to ignore the error because it is not clear what causes the error on an unlocked device

[2022-02-11 08:05] coman1977 commented on #4199
What do you mean by that. QR code is unique and the owner of my test is my wife. I can understand that a QR code can only be registered with one phone once in CoronaWarnApp but why not allowing to restore it if owner of test requested? What protection are you offering?

[2022-02-11 08:43] thomasaugsten commented on #4163
Error 13 doesn't count in the rate limit it is only the rate limit warning.
There is no retry strategy planned because we have no reliable feedback when a risk check failed.

[2022-02-11 09:03] #4199 closed

[2022-02-11 09:23] jucktnich commented on #4199
@coman1977 I think the problem is, that if you're app registers a test, the app gets a long term registration token in exchange, but the tests GUID is deleted or otherwise made inaccessible from the server. If you now deinstall the app, the registration token is deleted too and there's no change of re-registering the test.

[2022-02-11 09:48] dsarkar commented on #4199
Hi @coman1977,
Test codes can only be scanned once: For example, f it was possible to scan it unlimited times, theoretically somebody could scan it on many devices and if positive tested warn from many devices a lot of people and tamper the system.

[2022-02-11 10:56] dsarkar commented on #3441
@eilers Thanks for the feedback.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-02-11 14:11] leif5672 opened #4207 "Check-Ins gone due to full storage"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8 Plus
- iOS version: 15.0.1
- App version: 2.17.1

## Describe the bug

When opening the CWA after having a lot of forced hard resprings and some manual reboots due to a fu

[2022-02-11 14:15] Ein-Tim commented on #4207
Did you have certificates or contact journal entries? Are they gone to?

The received Bluetooth IDs are stored by iOS, so there is a good chance that they were not deleted.

[2022-02-11 14:23] leif5672 commented on #4207
Certificates stay (no bug there), however, the contact journal entries (as well as added people/places) are wiped completely.

Well, if there is no way to have a look into this, unfortunately we have to neglect it :(

[2022-02-11 14:23] #4143 closed

[2022-02-11 14:25] Ein-Tim commented on #4207
Might be related to #4134.

[2022-02-11 14:26] Ein-Tim commented on #4207
@thomasaugsten Do you have a guess how this happens? Is it normal that iOS starts deleting data stored in apps if there is no much free space available?

[2022-02-11 14:56] leif5672 commented on #4207
@Ein-Tim Wow, you really have a huge overview over all issues! 🥇👍🏼 Difference in the Bug would be that @7u771e lost his certificates as well according to his description.
Because you have such a great overview: Is there an issue already about the huge lagging while the "data is being downloaded" phase after opening the app? Very annoying when you need to Check-In quickly.

I am confused by this as

[2022-02-11 15:00] Ein-Tim commented on #4207
No, I am not aware of such an issue and I am not experiencing this on my devices. But feel free to open a new issue reporting this, in the best case with a screen recording attached!

[2022-02-11 15:24] thomasaugsten commented on #4207
The resprings leads very likely to the corruption of the separate db of checkins, we will add an error message to receive a detailed information when this happens

[2022-02-11 15:39] Ein-Tim commented on #4040
@dsarkar I will make a test: Change the time of my phone to 2 days in the future, wait if/until a risk check was carried out and then switch the time back to the correct one.

No worries, I won't do this on my productive device.

[2022-02-11 15:47] Ein-Tim commented on #4040
As intended, the app does not carry out risk checks in the future but shows the following error pop up:
<img src="https://user-images.githubusercontent.com/67682506/153622816-250e9f1e-47b5-4623-91dd-5b4cbe644beb.jpeg" width="300">

[2022-02-11 16:37] leif5672 commented on #4207
Strange; after the here issued Bug, my CWA seems to have a normal starting process again.

[2022-02-12 10:23] Ein-Tim commented on #3854
I would like to know which data is actually stored in the iCloud backup as restoring the phone from an iCloud backup does not restore the data of the CWA, although it seems like it stores something in the backup.

@thomasaugsten Do you know what data is stored in the backup?

[2022-02-12 11:06] Ein-Tim opened #4211 "Simulator does not recognize QR codes from files/photos"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Si

[2022-02-12 11:59] mbay-SAG commented on #4150
@Ein-Tim I have no Android available, thus can not test.

[2022-02-12 23:09] Ein-Tim commented on #4211
Full stack trace from the Xcode log (starts when I first open the QR code scanner):

[code]

To me it seems like

[code]

is the issue here. @ndegendogo any guess what the problem could be?

[2022-02-13 10:12] Ein-Tim commented on #4211
"Have you tried turning it off and on already"
"No"
"Try it"
"It works now, Magic!"

A reboot fixed this issue.

[2022-02-13 10:12] #4211 closed

[2022-02-13 10:32] Ein-Tim opened #4212 "App shows "2G-Zertifikat" although the status is shown as 1G+ (Version 2.18)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Si

[2022-02-13 10:53] ndegendogo commented on #3934
Just retried / now the error is gone 🤷

🎉

[2022-02-13 12:01] dsarkar commented on #3854
Currently backup is not supported as far I understand. For the the time being you can exclude the CWA from the iCloud Backup in the settings: https://apple.stackexchange.com/questions/327364/how-do-i-only-backup-data-for-specific-apps-on-ios

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-02-13 12:22] tmechen commented on #3854
sorry but why is it activated in the first place while bringing literally zero funtionality to the users?
why would you depend on them finding this issue on github and manually deactivating the icloud backup for this app because it is eating away >10% of their free subscription plan?

[2022-02-13 12:32] thomasaugsten commented on #4212
This is as intended. The view is a general feature to show a 2G certificate or better and a test certificate in one view and a 1G certificate is also fulfilling the 2G requirements

[2022-02-13 12:35] Ein-Tim commented on #4212
@thomasaugsten

But correct me if I'm wrong 1G+ is only shown if a booster vaccination & test is in the app, or?

[2022-02-13 12:36] thomasaugsten commented on #4212
This is correct

[2022-02-13 12:38] Ein-Tim commented on #4212
Then it is not showing a 2G certificate so 2G is just wrong here, IHMO & will confuse users.

[2022-02-13 12:48] Ein-Tim commented on #4212
To add some context here:

I understand the reasoning from a developers perspective but we have to look at this "as a normal user".
What a normal user sees is:
The app is showing "1G+" as the status at the top, but then on the button it is talking about a 2G-certificate.
Now I ask myself the question: Am I allowed to enter 1G+ venues with this? Or only 2G+? Is this a fault by the app?

I understan

[2022-02-15 23:02] Jakre73 commented on #3161
Short update: iOS 15.4 dev beta 3 (19E5225g) is just out now and both issues are still occurring in that beta reproducible on an iPhone 12 Pro Max and an iPhone XR.

[2022-02-16 12:16] dsarkar commented on #3161
@Jakre73 Thanks for the feedback.

[2022-02-16 18:23] Nutzerin commented on #4163
Again ...![image](https://user-images.githubusercontent.com/98880332/154330972-1f348601-ba55-4760-8d5f-119246f910a0.png)

[2022-02-17 10:40] dsarkar commented on #4163
@Nutzerin Thanks for reporting. We will forward this.

[2022-02-17 10:42] dsarkar commented on #4163
@Nutzerin There is a fix planned for release 2.18

[2022-02-17 15:15] depechka commented on #4163
I’m also facing this error 13 for the second day in a row now. Nevertheless my phone last night warned me about a risky contact last week. I’m using a vintage iPhone 7.

[2022-02-18 08:39] ndegendogo opened #4237 "Improve error message for failed risk check because of missing internet / server timeout"
## Avoid duplicates
* [ ] This enhancement request has not already been raised before
* [ ] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ ] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2022-02-18 08:42] ndegendogo commented on #4237
Example of the current behavior
(cwa 2.17.1 / iOS 15.1 / iPhone 13 pro)

(1/4) This morning when I checked-out cwa, I saw an error message of the failed risk check, and the suggestion to retry.

![DED7B73C-C02D-4FB0-87B8-79093DC008EE](https://user-images.githubusercontent.com/6118267/154648152-35d0094f-d9ab-4916-a29b-c0545a08decd.png)

[2022-02-18 08:45] ndegendogo commented on #4237
(2/4) So I pressed the retry button, and it started the download. But then I again got the same error message. And now the **retry button did not even have any visible effect**.

![B438B28A-0B87-4C33-9B4C-969B989729DF](https://user-images.githubusercontent.com/6118267/154648716-dad6e921-a0f8-426a-80e3-fd0aaf71ca36.png)

[2022-02-18 08:47] ndegendogo commented on #4237
(3/4) I had seen this behavior before, and I know that closing cwa and swiping it out of memory can recover the button. I did this, and could trigger the risk check - but again it failed with the same error message.

![E2F995C6-9AE4-446D-A7B9-926AC810DBA1](https://user-images.githubusercontent.com/6118267/154648948-efe1eda7-7a59-4ee7-bbc2-701b4796a8ec.png)

![23626806-7856-4D1F-96A5-310E7B9E8721](

[2022-02-18 08:48] ndegendogo commented on #4237
(4/4) Finally I noticed that our router had been down last night, and **there was WLAN coverage but no internet**.
So the remedy was to restart WLAN on my device.

***An error message with more details would have helped me a lot.***

[2022-02-18 08:53] ndegendogo commented on #4237
**I just noticed that the error message already contains a hint on the phase that failed**
"Abgleich mit dem Server ist fehlgeschlagen..."
😅😅

So my request boils down to add a (more prominent) suggestion to check the internet

[2022-02-18 09:36] dsarkar commented on #4212
@Ein-Tim This ticket becomes obsolete. https://github.com/corona-warn-app/cwa-documentation/issues/851#issuecomment-1044189220 and following comment.

[2022-02-18 09:38] Ein-Tim commented on #4212
@dsarkar

You were faster than me (-;
Closing this issue.

[2022-02-18 09:38] #4212 closed

[2022-02-18 14:54] Ein-Tim commented on #4180
PR #4245

[2022-02-19 08:12] xenia71120 opened #4247 "Fehler 13"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name:
- iOS versio

[2022-02-19 08:14] xenia71120 commented on #4247
Es öffnet sich eine Push Mitteilung und dort steht es dann drin

[2022-02-19 08:21] xenia71120 commented on #4163
![D5A0810E-C365-4645-9F25-3AA89CD10769](https://user-images.githubusercontent.com/100017749/154793030-13b761e3-c599-43f0-95f1-154e82b0124c.png)

[2022-02-19 09:38] Ein-Tim commented on #4163
@xenia71120

24 Stunden warten, so wie es im Pop-Up steht. Oder hilft das nichts?

[2022-02-19 09:38] Ein-Tim commented on #4247
Ich habe dir in https://github.com/corona-warn-app/cwa-app-ios/issues/4163 geantwortet.
Ist dieser Issue auch notwendig?

[2022-02-19 09:39] xenia71120 commented on #4163
Naja ist jetzt noch nicht ganz 24h aber nervt auch weil ich auf ein PCR
Test Ergebnis warte hoffe das es dadurch nicht gestört wird

Tim ***@***.***> schrieb am Sa. 19. Feb. 2022 um 10:38:

[2022-02-19 09:45] Ein-Tim commented on #4163
@xenia71120

Etwas anderes kannst du nicht tun, außer die Risiko-Ermittlung für die nächsten Stunden auszuschalten, dann werden aber natürlich auch keine Kontakte mehr aufgezeichnet.

Der Test kommt trotzdem in der App an.

[2022-02-19 09:45] Nutzerin commented on #4163
@Ein-Tim
Ich nochmal...
Das Problem besteht seit Wochen!
Hier nochmal: DIE APP IST DANN EINGEFROREN. Man kann nichts machen: kein Zertifikat vorzeigen, sich einchecken, die eigene Risikoermittlung überprüfen, das Tagebuch führen usw.
Ist das tatsächlich Euer ernst, die Kunden jedesmal 24 std warten zu lassen? Und auf irgendein Release in ferner Zukunft zu verweisen?
Ich hoffe nicht und Ihr erarbei

[2022-02-19 10:04] Ein-Tim commented on #4163
@Nutzerin

Ich verstehe deine Frustration gut, aber auch das Entwicklungs-Team kann nicht zaubern. Version 2.18 ist die nächste Version, ich vermute, sie wird nächste Woche veröffentlicht.

Was mir gerade als Workaround einfällt: Schalte die Hintergrundaktualisierung der CWA aus (Systemeinstellungen -> Corona-Warn -> Hintergrundaktualisierung-> AUS). Dann musst du zwar deinen Risiko-Status manuell

[2022-02-19 10:15] Nutzerin commented on #4163
@Ein-Tim
Meine Frustration?
Nicht zaubern?
Wie wäre es mal mit Testing VORAB? Oder einer durchdachten Release Strategie? Bevor Ihr die Änderungen produktiv schaltet. Anstatt die zahlenden Anwender die Tests machen zu lassen.

Ich experimentiere jetzt nicht herum mit workarounds, die Ihr wahrscheinlich genauso wenig durchdacht und getestet habt. Tut mir leid, keinerlei Vertrauen mehr in Eure Truppe

[2022-02-19 10:38] Ein-Tim commented on #4163
@Nutzerin

Das einzige was sich geändert hat, ist das mehr Nutzer:innen ihre Infektionen über die App melden und deshalb auch mehr Daten verarbeitet werden. Dadurch kann es auf einigen Geräten zu Abstürzen bei der Risiko-Überprüfung im Hintergrund kommen.
Das Entwicklungs-Team hat darauf reagiert und veröffentlicht eine Version, die das Problem für den Normalen-Anwender so gering wie möglich macht

[2022-02-19 12:15] Nutzerin commented on #4163
Eben: re-agiert.

[2022-02-23 14:14] Ein-Tim commented on #4247
Can this issue be closed?

[2022-02-23 14:16] Ein-Tim commented on #4161
Can this issue be closed?

[2022-02-23 14:17] Ein-Tim commented on #4112
Can this issue be closed?

[2022-02-23 14:18] Ein-Tim commented on #4091
Please check back with version 2.18, see: [CWA 2.18: Improving the display of the G status in the Corona-Warn-App](https://www.coronawarn.app/en/blog/2022-02-23-cwa-2-18).

I suggest closing this issue.

[2022-02-23 14:19] Ein-Tim commented on #4069
@dsarkar I think you forgot to press the "Close" button (-;

[2022-02-23 14:19] Ein-Tim commented on #4010
Does this still occur with version 2.18?

[2022-02-23 14:23] lucasreiners commented on #4091
Works fine after updating to 2.18

[2022-02-23 16:21] #4161 closed

[2022-02-24 08:16] Jakre73 commented on #3161
Short update:  iOS 15.4 dev beta 4 (19E5235a) is just out now and both issues are still occurring in that beta reproducible on an iPhone 12 Pro Max and an iPhone XR.

[2022-02-24 09:47] dsarkar commented on #4091
@burnzii Thanks again for reporting here, please see comment https://github.com/corona-warn-app/cwa-app-ios/issues/4091#issuecomment-1048827808

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-02-24 09:52] dsarkar commented on #4247
@xenia71120 Thanks for reporting, please continue in https://github.com/corona-warn-app/cwa-app-ios/issues/4163. We are closing this issue as duplicate. Do you still have this issue?

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-02-24 18:43] Ein-Tim commented on #3161
@Jakre73 Please report the issue with the transparent tab bar on the journal tab in a separate issue, as I can report it on the production iOS version 15.3.1, not only on the beta.

Regarding the other issues with the check in: I still can't reproduce this on my iPhone 6s running the latests public beta.

[2022-02-24 18:50] Ein-Tim commented on #3161
Update no need to open a new issue just comment on: https://github.com/corona-warn-app/cwa-app-ios/issues/3728

[2022-02-24 21:20] Ein-Tim commented on #4163
@Nutzerin

Und, wie sieht es mit Version 2.18 bis jetzt aus?

[2022-02-24 21:20] Ein-Tim commented on #4180
I will try to reproduce this with version 2.18 & report back.

[2022-02-25 10:23] jessinger179 opened #4267 "Corona Warn App zeigt Fehler 13 länger als 24h auf Ios"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name:
- iOS versio

[2022-02-25 11:54] Ein-Tim commented on #4267
Hallo @jessinger179, hast du die neuste Version der App installiert? Das ist Version 2.18.1.

[2022-02-25 12:01] jessinger179 commented on #4267
Ja. Die habe ich vorgestern installiert und seitdem geht garnichts mehr.

[2022-02-25 12:01] jessinger179 commented on #4267
Ja. Die habe ich vorgestern installiert und seitdem geht garnichts mehr

[2022-02-25 12:05] thomasaugsten commented on #4267
@jessinger179 Kannst du bitte ein Screenshot bereitstellen und nochmal überprüfen das unter Appinformation wirklich v2.18 installiert ist

[2022-02-25 12:07] jessinger179 commented on #4267
![1A77DD05-E73E-4DFD-AAF7-B5617A77CF2C](https://user-images.githubusercontent.com/100413215/155712618-47906035-9c39-4814-a5e6-3ee01570bc2c.png)
![Uploading 1759214F-015F-4928-B0F7-8DE0B3F2ADC9.png…]()

[2022-02-25 12:08] jessinger179 commented on #4267
![6EC91E22-FB0C-452C-8920-E05C4E7884C3](https://user-images.githubusercontent.com/100413215/155712709-54b4bcef-c8c0-4b7b-9809-9ff244a742e2.png)

[2022-02-25 12:09] jessinger179 commented on #4267
![Uploading 99AA9D35-6F11-4A47-975B-731B35EA5150.png…]()

[2022-02-25 12:11] Ein-Tim commented on #4267
@jessinger179 Wenn du ganz nach unten scrollst und auf "App-Informationen" klickst, was steht als Version ganz unten? 2.18.1?

[2022-02-25 12:12] jessinger179 commented on #4267
![Uploading FB65ECE7-0B3D-477B-8BFF-85A932FB6F21.png…]()

[2022-02-25 12:14] jessinger179 commented on #4267
![Uploading AF074AE9-A98B-46F4-9D5D-89366A8555A4.png…]()

[2022-02-25 12:14] Ein-Tim commented on #4267
@jessinger179 Du musst warten, bis da nicht mehr Uploading... steht. Sonst können wir das Bild nicht sehen.

[2022-02-25 12:17] jessinger179 commented on #4267
![Uploading 7F07D95A-5DBE-43B1-83AB-FDE0B6A9C0AC.png…]()

[2022-02-25 12:24] jessinger179 commented on #4267
Das Bild wird nicht geladen, es ist aber die neueste Version geladen.

[2022-02-25 12:25] jessinger179 commented on #4267
![Uploading FB0467C2-A826-4BCE-A628-6CADD5D27256.png…]()

[2022-02-25 12:26] jessinger179 commented on #4267
![F183E8A2-6E61-43F8-B968-7FA6D17739C5](https://user-images.githubusercontent.com/100413215/155714972-405122e3-b141-4e92-a150-9aaf04dc425c.png)

[2022-02-25 12:29] thomasaugsten commented on #4267
Welcher Zeitpunkt ist in der weißen Kachel als letzte Aktualisierung angegeben?

[2022-02-25 12:35] jessinger179 commented on #4267
Welche Weiße Kachel ist gemeint ?

[2022-02-25 12:36] jessinger179 commented on #4267
![1D0DD40F-A301-4587-9EB8-B95FA2CFE616](https://user-images.githubusercontent.com/100413215/155716207-765e3b28-6471-4b37-b7f1-fc5de715a915.png)

[2022-02-25 12:37] thomasaugsten commented on #4267
<img width="662" alt="image" src="https://user-images.githubusercontent.com/6367738/155716270-fe7a4376-4fcc-493a-92eb-dda16ed220ee.png">
Dieser Zeitpunkt

[2022-02-25 12:37] jessinger179 commented on #4267
Dieser Zeitpunkt stimmt aber nicht, die App geht schon länger nicht mehr

[2022-02-25 12:38] jessinger179 commented on #4267
![9178A307-5651-4F48-8A05-5C6E2DE5D6D1](https://user-images.githubusercontent.com/100413215/155716378-497a2698-a480-4b61-bf6a-d3e5184b21d1.png)

[2022-02-25 12:42] thomasaugsten commented on #4267
Kannst du bitte unter Fehlerberichte ein Fehlerbericht aktivieren und diesen dann heute Abend übermitteln und uns die Fehler ID mitteilen
<img width="400" alt="image" src="https://user-images.githubusercontent.com/6367738/155716874-fa0f2ca3-455c-47b1-896e-1beeef582676.png">

[2022-02-25 12:42] Ein-Tim commented on #4267
@jessinger179

Könntest du bitte einen Screenshot von folgendem Bildschirm in den Systemeinstellungen hier schicken?

`Einstellungen` ➡️ `Begegnungsmitteilungen` ➡️ `Status von Begegnungsaufzeichnungen` ➡️ `Begegnungsüberprüfungen`

Danke!

[2022-02-25 12:45] jessinger179 commented on #4267
![07FA7D30-48AC-45D9-A475-D59AF800C95D](https://user-images.githubusercontent.com/100413215/155717318-d9595274-6c58-488f-9544-9f3b0eb1b7c0.png)

[2022-02-25 12:49] Ein-Tim commented on #4267
Okay, Fehler 13 dürfte eigentlich nicht angezeigt werden.

Bitte aktiviere den Fehlerbericht so wie von @thomasaugsten oben beschrieben, hoffentlich ist der Aufschlussreich.

[2022-02-25 12:50] thomasaugsten commented on #4267
Der Fehler wird immer noch angezeigt wenn die letzte Risikoberechnung älter als 48h ist.

[2022-02-25 12:50] jessinger179 commented on #4267
Habe ich aktiviert und sende dann heute Abend die ID zu.

[2022-02-25 12:55] Ein-Tim commented on #4267
@thomasaugsten

Das ist das neue Behaviour mit 2.18, oder?

[2022-02-25 13:10] larswmh commented on #4267
Thanks for your report @jessinger179. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12056](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12056)

---
Corona-Warn-App Open Source Team

[2022-02-25 13:36] larswmh commented on #4237
Thanks for your report @ndegendogo. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12057](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12057)

---
Corona-Warn-App Open Source Team

[2022-02-27 08:22] ndegendogo commented on #4163
I can confirm that the suppression of error 13 works in cwa version 2.18.
I got no new risk check this morning. The last successful check was yesterday at 22:56.
I had a look at my error log and saw indeed error 13.
Now the interesting part will be to see if it indeed recovers while I continue to use cwa.

I will continue to watch it.

cwa 2.18.1 (0) / iOS 15.1 / iPhone 13 pro

[2022-02-27 09:07] ndegendogo commented on #4163
More details from my error log (all times as UTC):
- Feb 26 21:56: my last successful risk check
- Feb 26 23:47: I opened cwa, but no risk check, because the last is still fresh (younger than 4 hours, not enough time has passed)
- Feb 27 01:56: risk check from background downloads new key packages but then fails immediately (same timestamp) with error 16
- Feb 27 05:43 next attempt from background

[2022-02-27 09:22] ndegendogo commented on #4163
And: YES, it has recovered, and I got my risk check successful now.

Thanks a lot to the devs for this fix!
🎉🎉🎉🎉🎉

![31583170-2929-4759-8172-715D2B4D40B4](https://user-images.githubusercontent.com/6118267/155876484-86aaf13f-9a1f-407a-a29e-9ddcbd72e2b2.png)

[2022-02-28 11:15] ndegendogo commented on #4207
just a stupid question:
- can it be that iOS starts to swap data into iCloud under tough memory conditions?
- are the journal entries and the check-ins included in an iCloud backup?

[2022-02-28 11:22] ndegendogo commented on #4207
... well ... I see regularly a "noticable" time lag after I open cwa, especially on my older device (iPhone 6 with iOS 12). During this phase it does not respond to any user actions (menu, tab change. etc). It is a bit annoying, but not "huge" (maybe a few seconds).

[2022-02-28 12:37] dsarkar commented on #4163
@ndegendogo Thanks for the feedback. Forwarded to internal ticket/dev team.

[2022-02-28 13:03] Ein-Tim commented on #4163
@Nutzerin Any feedback you could give us?

[2022-03-02 00:12] Ein-Tim commented on #4180
This has been fixed in version 2.18.

Closing as fixed.

[2022-03-02 00:12] #4180 closed

[2022-03-02 10:33] Ein-Tim commented on #4180
@dsarkar

Yes, that's exactly what I've done.

[2022-03-02 10:52] dsarkar commented on #4180
@Ein-Tim Thanks.

[2022-03-03 16:19] treysis commented on #4015
Now available in Ukrainian app stores. How is this legally possibly with all the problems explained before?

[2022-03-03 16:36] thomasaugsten commented on #4015
I think it is related to the extraordinary situation for Ukrainian citizens in the EU and the Ukrainian application for the EU.

[2022-03-03 16:39] treysis commented on #4015
Yes, sure. But how does this forfait the so called legal problems? I doubt there have been negotiations held with the Ukrainian government/ministry of health right now? Why not make it available without country restriction, finally? Like all the other European countries' apps employing the Exposure Notification Framework.

[2022-03-08 09:59] cebor commented on #3854
I think for now a workaround is to disable backups for the CWA. Or is there anything against it?

[2022-03-08 11:18] kkopper opened #4303 "Incorrect vertical text alignment in red warning tile"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 Pr

[2022-03-08 11:41] dsarkar commented on #4303
@kkopper Thanks for reporting, we will create an internal ticket shortly.

[2022-03-08 11:49] larswmh commented on #4303
Thanks for your report @kkopper. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12161](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12161)

---
Corona-Warn-App Open Source Team

[2022-03-08 20:16] Ein-Tim commented on #2965
FYI: iOS 15.4 is now in RC status: https://developer.apple.com/news/releases/?id=03082022d

I guess we can expect a public release in the next 7-10 days.

[2022-03-08 21:10] Ein-Tim commented on #4303
FYI: PR #4308 is the fix for this issue.

[2022-03-09 13:16] Mxyr-ya opened #4318 "I have a mistake on my corona warn app that I can’t see the Risiko people"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name:
- iOS versio

[2022-03-14 17:30] Ein-Tim commented on #2965
So, iOS 15.4 has now been released to the public: https://developer.apple.com/news/releases/?id=03142022d

[2022-03-14 17:31] Hanashi commented on #2965
Nice, now we can remove CWA and CovPass.

[2022-03-14 17:34] Ein-Tim commented on #2965
@Hanashi

Please think about removing CWA, it offers many other features, including bluetooth and check-in based contact tracing.
iOS does not do that (-;

[2022-03-14 19:26] iMonZ commented on #2965
Not really.
Most features you don’t need anymore.
Most people only need a place for the certificate which is the wallet
And for the test there is no standardized QR code so you just need a pdf or picture or text where it says that you were tested.

so yeah you can uninstall the CWA app and definitely the CovPass App (that was useless in the first place)

[2022-03-14 19:28] treysis commented on #2965
@iMonZ but neither contact tracing nor check-in.

[2022-03-14 19:29] iMonZ commented on #2965
Which both you don’t need anymore

[2022-03-14 19:30] treysis commented on #2965
Why not? You can also get the result of PCR tests much faster. And if positive test, you can warn others. Why don't we need this anymore?

[2022-03-14 19:33] iMonZ commented on #2965
actually you just get the results over Email
And btw you can add you pcr test to iOS as well and get there the notification ;)

[2022-03-14 19:36] treysis commented on #2965
PCR test? I got mine in the app, was very convenient.
Still useful for contact tracing and check-ins.

[2022-03-14 19:39] iMonZ commented on #2965
I just test myself a few times a week and that’s it.
No need for contact tracing. Haven’t needed to use the checkin feature for a year aswell.
So yeah find yourself explanations for useless features.
The CWA was really good made.
I checked to source code so props on that maybe one of the best apps Germany has ever made. But the time has come to archive this projects.

[2022-03-14 19:43] Ein-Tim commented on #2965
I suggest to stay on topic here, be happy about the iOS 15.4 release. (-;

It is certainly discussable what is necessary and what not, but I think this is a decision everyone should take for themselves.

[2022-03-14 19:45] treysis commented on #2965
Useless for you...

[2022-03-15 16:10] uwesimm opened #4337 "cwa anzeige rot obwohl keine begegnungen stattfanden"
ich sehe aktuell in der cwa fuer ios (ios15.4 oder 15.3.*), dass seit ca. 9.3. ploetzlich ein "erhoehtes risiko" fuer jeden Tag im Kontakttagebuch steht, obwohl keine Kontakte an diesen Tagen stattfanden.

Ich sehe dieses Problem seit meinem Wechsel meines Telefons (iphone->iphone) aber auch andere Familienmitglieder sehen Warnungen fuer jeden Tag obwohl keine Kontakte stattfanden

[2022-03-16 12:06] #4303 closed

[2022-03-16 18:26] Ein-Tim commented on #4136
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4343 is the fix for this issue.

[2022-03-18 07:19] Xoxlisa opened #4347 "Fehler 13"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name:
- iOS versio

[2022-03-18 07:30] Ein-Tim commented on #4347
Hi @Xoxlisa

Könntest du bitte ein bisschen näher beschreiben was das Problem ist & welche Version der App du nutzt?

[2022-03-18 08:50] Leblek22 opened #4348 "Fehler 13 seit >24"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name:
- iOS versio

[2022-03-18 09:04] Ein-Tim commented on #4348
Hi @Leblek22 Nutzt du die neuste Version der App?

[2022-03-18 09:19] Ein-Tim commented on #4267
@jessinger179

Tritt der Fehler immer noch auf?

[2022-03-18 09:20] Ein-Tim commented on #4318
@Mxyr-ya Could you please give us more information what exactly you are missing in the app.

[2022-03-18 09:20] Ein-Tim commented on #4247
@dsarkar You said you would close this issue but it is still open. Would you please close it now?

[2022-03-18 09:21] Ein-Tim commented on #4163
@dsarkar I suggest to close this issue as this should be fixed in 2.18 but there was no feedback from the author of this issue.

[2022-03-18 09:37] #4247 closed

[2022-03-18 09:38] #4163 closed

[2022-03-18 11:00] jwildeboer opened #4351 "Switching between red and Green alert daily for no obvious reason"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2022-03-18 15:42] Ein-Tim commented on #4351
@mlenkeit

This reminds me a bit of https://github.com/corona-warn-app/cwa-app-android/issues/4925.

Could you check the log to investigate this, please?

[2022-03-18 21:02] Ein-Tim commented on #4351
FYI: Twitter user experiencing something very similar: https://twitter.com/gerdkurschner/status/1504905213588742144?s=21

[2022-03-19 10:14] jwildeboer commented on #4351
FTR - it again switched two times in the last 24 hours. Right now it's green again. And it's always the 5th of march that keeps changing. I suspect some weird rounding error during risk calculation. For me at least it will be over tomorrow when the 5th of march falls out of the 14 day period :)

![image](https://user-images.githubusercontent.com/873028/159117001-f41f12df-1e14-4765-80cc-09b0fde30ee

[2022-03-19 20:35] Ein-Tim commented on #4351
@thomasaugsten Are you looking into this issue already?

[2022-03-19 20:39] thomasaugsten commented on #4351
A error report would be helpful to identify the root cause

[2022-03-19 20:43] Ein-Tim commented on #4351
@thomasaugsten

The ID is included in @jwildeboer's OP.

[2022-03-20 07:27] jwildeboer commented on #4351
@thomasaugsten an Error report that should have captured two of these switching events was created and shared right before I opened the issue. ![image](https://user-images.githubusercontent.com/873028/159152630-33c367f9-a345-4f97-b875-08bb1a0512c7.jpeg)

[2022-03-20 10:27] ndegendogo opened #4356 "ENError 1"
## Avoid duplicates
* [ ] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Question has not already been asked in another issue

## Your Question

* Sour

[2022-03-20 10:28] ndegendogo commented on #4356
![9FA27882-F1B6-4580-BD18-7981555C0405](https://user-images.githubusercontent.com/6118267/159158138-98d064b7-fec2-4bcf-acfa-518e6c6eac2a.png)

[2022-03-20 10:39] thomasaugsten commented on #4356
EN Error 1 is from the Apple documentation UNKNOWN
https://developer.apple.com/documentation/exposurenotification/enerror/code/unknown

[2022-03-20 10:39] Ein-Tim commented on #4356
Twitter Reports reg. this:
- https://twitter.com/dermoritz14/status/1501930962942234626?s=21
- https://twitter.com/bembeltogo/status/1493198254355492867?s=21

I also encountered this bug more than one time. It seems like this happens in combination with the unresponsive behaviour.

[2022-03-20 14:49] mss1010 opened #4357 "No notification on additional risk encounter"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone Xs
-

[2022-03-20 14:51] Ein-Tim commented on #4357
This will be implemented in the next version: https://github.com/corona-warn-app/cwa-app-ios/pull/4320

[2022-03-20 14:54] mss1010 commented on #4357
Ok, so I would close the issue after the update is released, or let the admins here handle it.

[2022-03-20 18:24] ndegendogo commented on #4356
@thomasaugsten thanks - so we may assume not even Apple knows what was happening here? 😅

[2022-03-22 05:52] Ein-Tim commented on #4351
Was anything helpful found in the log?

[2022-03-22 17:17] Leblek22 commented on #4348
Fehler ist weiter vorhanden. Bekomme einerseits die Aufforderung regelmäßig meinen Status zu checken und wenn ich das dann mache höchstens einmal pro Tag, bekomme ich den Fehler 13. letzter Staus ist mittlerweile 8 Tage her.
Zwischendurch gab es auch die Fehlermeldung noexposurewibdows... :-(

[2022-03-22 17:19] Ein-Tim commented on #4348
@Leblek22

Danke fürs melden! Nochmal: Wir müssten bitte wissen welche Version der App du nutzt & welche iOS-Version, sowie welches iPhone-Modell.
Sonst können wir dir leider nicht helfen.
Dankeschön.

[2022-03-22 18:37] Leblek22 commented on #4348
Es handelt sich um ein IPhone 7,IOS 15.1, Corona warn app Release 2.19

[2022-03-22 18:40] Ein-Tim commented on #4348
@thomasaugsten Vermutlich wäre hier ein Fehlerbericht hilfreich, oder? Weil eigentlich sollte die App ja den Fehler unterdrücken.

[2022-03-22 18:40] Ein-Tim commented on #4348
Danke @Leblek22!

[2022-03-22 19:02] thomasaugsten commented on #4348
Ja wäre hilfreich.
Aber noexposurewindows deutet darauf hin das ein Verbindungsproblem im Netzwerk gibt bei dem vielleicht die https Verschlüsselung unterbrochen ist.

[2022-03-22 19:46] Ein-Tim commented on #4348
@Leblek22

Kannst du bitte wie in diesem [Blog](https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/) weiter unten beschrieben einen Fehlerbericht aktivieren?
Einfach anschalten und dann für ca. 24h Std. laufen lassen.

[2022-03-22 20:24] Leblek22 commented on #4348
Fehlerbericht ist gestartet,werde ihn morgen Abend senden.

Vielen Dank!

[2022-03-23 09:30] jwildeboer commented on #4351
After 5 days still no real progress :( A bit disappointing. I thought I did everything to help the developers, but I guess I somehow didn't do enough. As the offending day is long removed from my risk calculation I cannot be of help anymore anyway. I hope someone picks this up and fixes it, as doesn't only happen to me.

[2022-03-23 09:33] thomasaugsten commented on #4351
We cannot see explicit in the error log. We see a lot of failing risk check in the background.
We hope with iOS 2.19.1 with delta submission to the ENF like on Android we can optimize the risk check and maybe this behavior will disappear but in parallel we will try to find out why a failed risk check leads to a green card.

[2022-03-23 09:34] mlenkeit commented on #4351
@jwildeboer don't be too hard on yourself 😉  Analysis of the error log is still going on. We have found an unusual sequence log entries related to the risk check but are still trying to understand the root cause.

For all we know so far, it does not seem to be related to https://github.com/corona-warn-app/cwa-app-android/issues/4925.

[2022-03-23 20:23] Leblek22 commented on #4348
Guten Abend habe den Fehlerbericht gesendet
ID A2D99BE96EA9C2F1AE7.
Konnte ab heute Nachmittag den Fehler nicht mehr reproduzieren, da er nicht mehr erschien, nachdem ich einen positiven Test hochgeladen habe.

Vielen Dank für eure Mühe und viele Grüße

[2022-03-24 14:50] dsarkar commented on #4348
@Leblek22 Danke für das Feedback. Ist der Fehler auch aufgetreten während das Error-Logging lief, oder ist nach dem Starten des Fehlerberichtes der Fehler nicht mehr aufgetreten?

[2022-03-24 15:16] dsarkar commented on #4348
@Leblek22 Idealerweise bräuchten wir den Fehlerbericht, der lief, während der Fehler auftrat. Ist das ID A2D99BE96EA9C2F1AE7 ?

[2022-03-24 15:43] Leblek22 commented on #4348
Ja.

[2022-03-27 18:43] Ein-Tim commented on #4318
I suggest to close this issue due to missing feedback from the author.

[2022-03-27 18:46] Ein-Tim commented on #3804
Hey @whiskey Do you happen to know if I can also "fake" having a positive test result in the app using this feature (launch arguments)?

I want to test https://github.com/corona-warn-app/cwa-app-ios/pull/4331.

[2022-03-28 01:44] bgeisb commented on #2417
I have implemented a solution to the issue (see #4390).

[2022-03-28 05:35] #4318 closed

[2022-03-28 10:14] ndegendogo commented on #3804
@Ein-Tim I can check in the evening after work

[2022-03-28 10:43] Ein-Tim commented on #3804
@ndegendogo

That would be great! You can also write me a DM via Slack, if that's easier for you :D

[2022-03-28 15:13] #2417 closed

[2022-03-28 15:21] Ein-Tim commented on #2417
@marcussc or @dsarkar

Could you please apply a `Fix 2.21` label here?

[2022-03-28 20:00] Ein-Tim commented on #4351
@mlenkeit

Any update you can share with us?

[2022-03-28 20:04] Ein-Tim commented on #4337
@uwesimm

Konnte ich deine Frage beantworten? Kann dieser Issue geschlossen werden?

[2022-03-28 20:06] Ein-Tim commented on #656
@dsarkar

What was the result of the check? :D

[2022-03-28 20:08] ndegendogo commented on #3804
Yes. Try my original procedure with [this test](https://github.com/corona-warn-app/cwa-app-ios/blob/64ab60e65b3bcfe2450f6766c6b23e80dfe7f46f/src/xcode/ENA/ENAUITests/ExposureSubmission/ENAUITests_04a_ExposureSubmission.swift#L358)

[2022-03-29 05:52] huebi82 commented on #671
Diese sinnlose app gibts wohl immer noch!?
Schämt euch steuergelder sooooosinnlos zu verprassen!!!

David B ***@***.***> schrieb am Mi. 30. Sept. 2020 um 10:39:

--
Vom IPhone gesendet 😉 mfg Hübi ✌🏼️

[2022-03-29 05:53] uwesimm commented on #4337
Es wird wohl so sein, dass jemand in der direkten Nachbarschaft C19 hatte.

[2022-03-29 05:53] #4337 closed

[2022-03-29 07:05] mlenkeit commented on #4351
@Ein-Tim the unusual sequence in the error log seems to be related to the code execution in the background job and premature termination of the job. The problem seems to appear in the background job following such a sequence.

This is very difficult to reproduce and from the logs itself, we are still struggling to understand the actual root cause.

Additional error reports might help us to track d

[2022-03-29 11:27] marcussc commented on #656
The current team thinks that the current implementation is using `NSLayoutConstraint.activate(_:)`.
There might be old parts of the app that are not using this. But everything that has been coded in the last year(s) is using the "better" API and this is the way to go forward.

[2022-03-29 11:27] #656 closed

[2022-03-29 16:23] jwildeboer commented on #4351
Will start another error report and upload it. But ATM I don't have the switching between red and Green problem.

[2022-03-29 19:35] Leblek22 commented on #4348
Wurde der Fehler gefunden? Kann ich irgendetwas tun?

[2022-03-30 11:28] thomasaugsten commented on #4351
How often is the alert switched in this error report?

[2022-03-30 11:40] Ein-Tim commented on #4351
@thomasaugsten See https://github.com/corona-warn-app/cwa-app-ios/issues/4351#issuecomment-1082091991

[2022-03-31 19:40] ndegendogo opened #4408 "Risk check not successfull"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 pr

[2022-03-31 19:56] Ein-Tim commented on #4408
Last successful check for me: 20:41h.

Anything helpful in an error log?

[2022-03-31 20:55] ndegendogo commented on #4408
YES - just tried again, now successfull (22:51).
Yesterday I had a check at 21:43; and today 4 successful checks till 16:04.

[2022-03-31 20:59] Ein-Tim commented on #4408
Nice to hear that it works again :D
Don't forget to update to 2.20.3 😉

[2022-04-01 10:23] Ein-Tim opened #4410 "Tests are no longer shown in the contact journal"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Not importan

[2022-04-02 08:59] Ein-Tim commented on #4357
@mss1010 Version 2.20's out. Would you like to close this issue now?

[2022-04-02 09:02] Ein-Tim commented on #4347
@larswmh

I suggest to close this issue due to missing author feedback.

[2022-04-02 09:04] Ein-Tim commented on #4152
@larswmh

What's the status of this ticket? This is quite an annoying and easy to fix issue.

[2022-04-02 09:19] mss1010 commented on #4357
Ok

[2022-04-02 09:19] #4357 closed

[2022-04-02 09:23] Ein-Tim commented on #4410
Just confirmed this issue on my own device.

## Technical details

- Device name: iPhone XR
- iOS version: 15.4.1
- App version: 2.20.3

[2022-04-03 10:20] Ein-Tim opened #4415 "RAT profile: Text moves"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-04-03 20:52] ndegendogo commented on #4410
Same here.
cwa 2.20.3 (0) / CCL 2.0.0 / iOS 15. / iPhone 13 Pro

[2022-04-04 05:37] larswmh commented on #4347
Closing due to missing author feedback

[2022-04-04 05:37] #4347 closed

[2022-04-04 06:10] larswmh commented on #4351
@jwildeboer Can you remember the dates for those four days? In log D0FDC3C128C1B0E80412 (18th of March) we were only able to see entries for 2022-03-17 and 2022-03-18. Did the "switching" between risk levels happened on these days?

Your error reports from 30th and 31st of March have been forwarded to the internal ticket.

[2022-04-04 06:50] larswmh commented on #4415
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12584](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12584)

Does this issue occur for you regardless of where you have scrolled on the page? For example, this was not reproducable for us until we scrolled down so that only the upper edge of the QR c

[2022-04-04 06:56] Ein-Tim commented on #4415
@larswmh Confirm, this does only happen when the upper corners of the QR code are not visible anymore.

[2022-04-04 07:26] ndegendogo opened #4416 "Cannot launch cwa after upgrade to 2.20.3"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8
- i

[2022-04-04 07:28] ndegendogo commented on #4416
Note: usually I don't see the "updating animation" - usually it just silently updates in the background.

[2022-04-04 07:29] Ein-Tim commented on #4416
From which version did you update?

[2022-04-04 07:31] ndegendogo commented on #4416
Cannot tell for sure. I have auto-update active and usually it updates late. So, could be from 2.19, or maybe from 2.20.x, I don't know.

Maybe the error log gives more details.

[2022-04-04 07:32] fernandonajera commented on #4410
Same here

[2022-04-04 07:36] Ein-Tim commented on #4416
Under "Einstellungen" -> "Datenschutz" -> "Analyse & Verbesserungen" -> "Analysedaten"

search for an entry with the title "ENA" in it.

[2022-04-04 07:45] ndegendogo commented on #4416
@Ein-Tim Thanks!

Unexpectedly, there is no fresh crash log with ENA.
Actually, I checked the dates of *all* crash logs, and none of today ... strange ...

[2022-04-04 07:46] Ein-Tim commented on #4416
If this is a bug in iOS, you would probably have to look through all these other logs, but I hardly understand them.

AFAIK there are tools to analyze them.

[2022-04-04 07:49] Ein-Tim commented on #4410
According to the [@coronawarnapp](https://twitter.com/coronawarnapp/) Twitter account, this bug will be fixed soon: https://twitter.com/coronawarnapp/status/1510875750613848067?s=21&t=PyQALfczJjVfkYAeAAI7yQ

[2022-04-04 08:37] dsarkar commented on #4416
@ndegendogo Thanks for the report, we will create an internal ticket.

[2022-04-04 09:24] ndegendogo commented on #4416
AFAIK there are tools to analyze them.

If this was a bug in iOS I hope very much that it recovers with the reboot. (I plan to try this today after work when I am back in my WLAN.)

[2022-04-04 21:27] ndegendogo commented on #4416
All is well again after the reboot!
And it did even perform a risk check from background today at 19:55 / before the reboot.

[2022-04-04 22:16] ndegendogo commented on #4416
@Ein-Tim by the way, I had a look at my error log.

The previous version was 2.19.1.

Also I see no log entry corresponding to my failed launching attempts. It looks indeed as if iOS performed the update to 2.20.3, but somehow "choked" on the icon, or on the launching link from the icon to the app 🤷🤷🤷

Closing as fixed.

[2022-04-04 22:16] #4416 closed

[2022-04-05 11:26] iDjay opened #4424 "What happens when I reset "Location and Privacy settings"?"
I have to reset my "Location and Privacy settings" on iOS 15.4.1 what will happen to my exposure notifications? Will they be deleted too? I know from a friend of mine, that it gets disabled and he has to enable it afterwards again, but he couldn't confirm if something got deleted. Maybe someone can test it on a second iPhone?

[2022-04-05 11:59] Ein-Tim commented on #4424
I can test it on a secondary device in a few hours, but I don't think that something will be deleted.

[2022-04-05 14:00] dsarkar commented on #4410
FYI PR https://github.com/corona-warn-app/cwa-app-ios/pull/4383

[2022-04-05 14:03] #4091 closed

[2022-04-06 15:11] Ein-Tim commented on #3854
@thomasaugsten Any assumption why CWA uses iCloud backup space although it can't be restored from an iCloud backup?

There are multiple Stack Overflow threads explaining how to set a flag which disables iCloud backups app-wide.

[2022-04-08 11:37] dsarkar commented on #3854
@Ein-Tim forwarded.

[2022-04-13 12:00] dsarkar commented on #4060
@miallo Thanks for reporting here. Feedback: As long as the user does not give his consent, the consent screen stays open in the "Check-In" Tab. This is intendet. The user can still use all other functions of the app without giving his consent by switching to another tab. There is no need to dismiss the screen without giving consent, this would anyhow just open the screen again if you go to the ch

[2022-04-13 12:37] Ein-Tim commented on #3773
Confirm fixed with https://github.com/corona-warn-app/cwa-app-ios/pull/4098. Closing as fixed.

[2022-04-13 12:37] #3773 closed

[2022-04-13 12:39] Ein-Tim commented on #668
@dsarkar Do the developers need this issue open or can it be closed?

[2022-04-13 12:39] Ein-Tim commented on #28
Is there any update on this available? If not, I suggest to close this issue.

[2022-04-13 12:40] Ein-Tim commented on #30
@ChristianKienle Said he would come back in 1-2 weeks, however, nearly 2 years now passed without feedback from him.

If there is no development on this issue and nothing is planned, I suggest to close this issue.

[2022-04-13 12:46] Ein-Tim commented on #954
I meanwhile think this issue report is not valid, as the app follows OS standards here.

E.g. the Apple Weather app also has this "inconsistent" behavior:
![IMG_3868](https://user-images.githubusercontent.com/67682506/163182874-82837e51-64ff-42ca-9a1e-f0a899273d6b.PNG)

While the arrow points to the right side, when you click on it, a overlay coming from the button opens.

I therefore vote to labe

[2022-04-13 12:47] Ein-Tim commented on #2126
@dsarkar Do you need this issue open or can it be closed?

[2022-04-13 12:49] Ein-Tim commented on #1100
We have not seen any new BSI reports here on GitHub in the last months, I guess they now report security issues directly to the project team, without creating publicly visible issues here.

There seems to be no process on this issue, the "To Be Reviewed" label is applied here since nearly 2 years. If it was already reviewed, please remove the label. It it was decided not to fix this, please close

[2022-04-13 12:50] Ein-Tim commented on #2032
I think this issue can now be closed, there was no engagement in over one year.

[2022-04-13 12:51] Ein-Tim commented on #2958
@thomasaugsten Can this please be transferred out of the iOS repo? It is not iOS specific.

BTW: It seems like DM does not offer corona rapid antigen tests anymore.

[2022-04-13 12:54] Ein-Tim commented on #3421
@dsarkar I guess this snowed under?

[2022-04-13 12:55] Ein-Tim commented on #3420
This issue is nearly 9 months old and

a) it was not mirrored to JIRA
b) there was no feedback at all from any of the maintainers

If this is out of scope for the CWA, please close it. If not, please mirror it to JIRA or let us know that someone is aware of this issue.

cc @thomasaugsten

[2022-04-13 12:57] Ein-Tim commented on #3385
Any feedback from the developers that this is intended? @thomasaugsten / @dsarkar

[2022-04-13 12:57] Ein-Tim commented on #3455
@dsarkar Could you or the team check if this still applies? I currently don't have a test certificate so I can't check. Thanks.

[2022-04-13 12:58] Ein-Tim commented on #2745
The "in review" label is applied here since 21.05.2021, so over a year.

@diimaan Is this still occurring under iOS 15.4.1 and with the latests CWA?

@dsarkar Is this really still "in review"?

[2022-04-13 12:59] Ein-Tim commented on #3415
@jwildeboer Could you please close this issue? Your question has been answered and it seems like the behavior won't be changed.

[2022-04-13 13:01] Ein-Tim commented on #3478
It seems like this was fixed in the meantime. I can't reproduce it anymore.

[2022-04-13 13:01] #3478 closed

[2022-04-13 13:01] Ein-Tim commented on #3626
I asked this question nearly half a year ago and still did not receive any feedback. Why?

[2022-04-13 13:02] Ein-Tim commented on #3642
It seems like nobody is giving any feedback here, sadly. I suggest to close this issue.

[2022-04-13 13:02] Ein-Tim commented on #3680
Closing this issue in favor of https://github.com/corona-warn-app/cwa-app-ios/issues/3896.

[2022-04-13 13:02] #3680 closed

[2022-04-13 13:03] Ein-Tim commented on #3663
Can't reproduce anymore, seems fixed. Closing.

[2022-04-13 13:03] #3663 closed

[2022-04-13 13:04] Ein-Tim commented on #3777
Has this been fixed @ndegendogo?

[2022-04-13 13:05] Ein-Tim commented on #3492
@jucktnich Would you maybe close this issue in favor of https://github.com/corona-warn-app/cwa-app-ios/issues/3791?

[2022-04-13 13:07] jucktnich commented on #3492
@Ein-Tim thx for the ping

[2022-04-13 13:15] Ein-Tim commented on #3533
This issue still persists. @dsarkar If this is nothing that you can fix, just let me know and I will close this issue.

[2022-04-13 13:17] dsarkar commented on #3492
@Ein-Tim @jucktnich OK, I closed the internal ticket, and mention that this os done in favour of https://github.com/corona-warn-app/cwa-app-ios/issues/3791.

[2022-04-13 13:19] dsarkar commented on #3896
FYI PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4389

[2022-04-13 13:21] Ein-Tim commented on #3871
@luisoos / @moabits

Can you still reproduce this issue? I can't.

[2022-04-13 13:24] Ein-Tim commented on #3799
IIUC The only issue here is an auto scroll down to the picker. I can still reproduce this issue.

[2022-04-13 13:27] Ein-Tim commented on #3896
@dsarkar Fell free to also add the https://github.com/corona-warn-app/cwa-app-ios/labels/Fix%202.21 label to the issue I just closed (https://github.com/corona-warn-app/cwa-app-ios/issues/3680).

[2022-04-13 13:27] Ein-Tim commented on #3484
@moabits I suggest you open a new issue in the https://github.com/corona-warn-app/cwa-wishlist for this, as if implemented, it should be implemented for both, iOS & Android.

[2022-04-13 13:29] Ein-Tim commented on #3420
@arnebr Maybe it makes sense to close this issue in favour of https://github.com/corona-warn-app/cwa-app-ios/issues/3839?

[2022-04-13 13:34] Ein-Tim commented on #3970
Is it still necessary to have this issue open?

[2022-04-13 13:36] Ein-Tim commented on #3184
This issue persists in version 2.20, where the button was removed and replaced with text.

[2022-04-13 13:36] Ein-Tim commented on #4019
Are there any updates available on this issue?

[2022-04-13 13:37] dsarkar commented on #3680
FYI PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4389

[2022-04-13 13:37] Ein-Tim commented on #2160
This was fixed with https://github.com/corona-warn-app/cwa-app-ios/pull/4027. Please apply the https://github.com/corona-warn-app/cwa-app-ios/labels/Fix%202.16 label here.

[2022-04-13 13:37] #2160 closed

[2022-04-13 13:38] MikeMcC399 commented on #2958
@Ein-Tim

This issue is now obsolete and should probably be closed

That agrees with the dm website https://www.dm.de/services/services-im-markt/corona-schnelltest-zentren-613504

"dm-Corona-Schnelltestzentren
Liebe Kundinnen, liebe Kunden, wir bieten den Service unserer dm-Corona-Schnelltest-Zentren aktuell nicht mehr an. Vielen Dank für Ihr Verständnis. "

It means also that the blog post https:

[2022-04-13 13:39] dsarkar commented on #4207
FYI PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4389

[2022-04-13 13:40] Ein-Tim commented on #2958
@dsarkar See @MikeMcC399's comment above. Please close this issue.

[2022-04-13 13:41] Ein-Tim commented on #4207
@dsarkar PR https://github.com/corona-warn-app/cwa-app-ios/pull/4389 only talks about the contact journal. Will there also be an error pop up for the check-ins tab itself?

[2022-04-13 13:42] Ein-Tim commented on #3129
This was fixed with version 2.16. Therefore I have closed this issue.

[2022-04-13 13:42] #3129 closed

[2022-04-13 13:43] arnebr commented on #3420
When a maintainer decides they will close the issue. But it seems this ticket older then the other  to have a better timeline of the issue occurence, this should be the reference.

[2022-04-13 13:45] Ein-Tim commented on #3792
🙋🏻‍♂️ I'm working on a fix for this under iOS.

[2022-04-13 13:45] Ein-Tim commented on #3420
@arnebr Agreed. It would be great if @thomasaugsten could confirm what @vaubaehn shared with us above.

[2022-04-13 13:48] dsarkar commented on #3478
@Ein-Tim Thanks for your feedback, forwarded to internal ticket.

[2022-04-13 13:53] Ein-Tim commented on #3792
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4451 provided.

[2022-04-13 13:54] Ein-Tim commented on #3775
@dsarkar Please deiced how to proceed with this issue? Merge it with e.g. https://github.com/corona-warn-app/cwa-wishlist/issues/443 or leave it open?

[2022-04-13 13:56] Ein-Tim commented on #3834
@dsarkar Please, remove the `Fix 2.16` label.

[2022-04-13 13:57] Ein-Tim commented on #3834
@ndegendogo Will you re-provide a PR for this?

[2022-04-13 13:59] Ein-Tim commented on #4090
@p13rr37 Can you still reproduce this error on iOS 15.4.1 and CWA 2.20?

[2022-04-13 13:59] #668 closed

[2022-04-13 13:59] Ein-Tim commented on #3352
@ndegendogo Do you still need this issue open?

[2022-04-13 14:00] dsarkar commented on #668
@Ein-Tim Thanks for "house-keeping" ;-)

[2022-04-13 14:00] Ein-Tim commented on #3945
Again, @dsarkar I suggest to either apply the correct label here or remove the label entirely, as the issue was not fixed, but only additional logs were added.

[2022-04-13 14:01] dsarkar commented on #28
@SvenTiigi Thanks to everybody for contributing here. This issue became stale, therefore we are closing it. Feel free to open a new issue for any further suggestions, discussions, bug reports, etc. Many thanks again! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-13 14:01] #28 closed

[2022-04-13 14:01] dsarkar commented on #30
@SvenTiigi @flashspys  Thanks to everybody for contributing here. This issue became stale, therefore we are closing it. Feel free to open a new issue for any further suggestions, discussions, bug reports, etc. Many thanks again! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-13 14:01] #30 closed

[2022-04-13 14:02] Ein-Tim commented on #3860
@ndegendogo Can you still reproduce this issue? On my device risk checks are very reliable with the latest versions of CWA & iOS.

[2022-04-13 14:03] Ein-Tim commented on #4116
@AnOtherMuenchner Can you please try to reproduce this issue? There were major changes done to the whole process of how DKs are provided in version 2.19.1, so it could very well be that this was fixed.

[2022-04-13 14:03] Ein-Tim commented on #4134
Is there any updater on this issue available?

[2022-04-13 14:06] Ein-Tim commented on #4150
@thomasaugsten Will there something be changed reg. the behavior of the app? If not, I suggest to close this issue as a `wont fix`.

[2022-04-13 14:06] dsarkar commented on #954
@Ein-Tim Thanks for your feedback; I forwarded your info to the UX team.

[2022-04-13 14:08] Ein-Tim commented on #4069
@dsarkar Could you please close this issue? Thanks!

[2022-04-13 14:08] dsarkar commented on #2126
@Ein-Tim I think at this stage we can close this. If necessary we could create a FAQ article, however, for the moment it does not seem necessary.

[2022-04-13 14:08] #2126 closed

[2022-04-13 14:09] #4010 closed

[2022-04-13 14:11] #2032 closed

[2022-04-13 14:12] dsarkar commented on #3421
@Ein-Tim Indeed... stand by.

[2022-04-13 14:12] Ein-Tim commented on #3161
@Jakre73 Are you seeing this on iOS 15.4.1 released to the public? I don't.

[2022-04-13 14:14] Ein-Tim commented on #4136
Confirm fixed on version 2.20. Therefore closing this issue.

[2022-04-13 14:14] #4136 closed

[2022-04-13 14:15] Ein-Tim commented on #4267
@dsarkar I think this can be closed due to missing author feedback.

[2022-04-13 14:18] Ein-Tim commented on #4408
@ndegendogo Do you still need this issue open?

[2022-04-13 14:19] Ein-Tim commented on #4351
Twitter user reporting something very similar: https://twitter.com/ChristianeKas13/status/1513785078769463298?s=20&t=B4KFrF2Xl2SVPLzEOkA8Dg

[2022-04-13 14:28] luisoos commented on #3871
Tested it, I cannot.

[2022-04-13 15:11] dsarkar commented on #4136
@Ein-Tim Thanks for the feedback, forwarded the "FIX CONFIRMED".

[2022-04-13 15:12] #4069 closed

[2022-04-13 15:25] dsarkar commented on #4351
@Ein-Tim Thanks, forwarded to internal ticket.

[2022-04-13 15:29] dsarkar commented on #4267
@jessinger179 Thanks for reporting. We are closing this issue now. Should you want to report another bug please open a new issue. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-13 15:35] dsarkar commented on #4040
Not as far as I know. The pop-up should prevent such issues in general.

[2022-04-13 15:44] Ein-Tim commented on #4040
@dsarkar Okay, thanks for the feedback! In this case, I suggest to close this issue.

[2022-04-13 15:45] Ein-Tim commented on #4424
@dsarkar I don't think a new FAQ entry should be added, this is a very specific question and as resetting does not have any influence, users can safely do this without even thinking about the CWA.

[2022-04-13 16:16] Ein-Tim commented on #3871
@luisoos Then I suggest to close this issue.

[2022-04-13 16:23] #3871 closed

[2022-04-13 16:28] #3642 closed

[2022-04-13 16:28] EnricoPicci commented on #3642
no feedback - issue closed

[2022-04-13 16:28] Ein-Tim opened #4454 "Certificates tab overscrolls if "Certificates" tab icon is tapped after deleting a certificate"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-04-13 18:04] ndegendogo commented on #3970
@Ein-Tim thanks for grooming through all the old tickets!
The new solution to handle (or rather suppress) error 13 fixes this issue well from a user's perspective.

Closing as resolved. 🎉🎉

[2022-04-13 18:04] #3970 closed

[2022-04-13 20:45] ndegendogo commented on #3352
@Ein-Tim thanks for the reminder.
In last time my risk checks are absolutely reliably, and very fast; especially since the optimization (show only the new key files to ENF).

Closing as resolved.

[2022-04-13 20:45] #3352 closed

[2022-04-13 20:48] ndegendogo commented on #3860
Same here. Very reliable.
Closing as fixed.

[2022-04-13 20:48] #3860 closed

[2022-04-13 21:05] ndegendogo commented on #4408
@Ein-Tim not really ... but I had planned to have a look at my error log and report if I find anything interesting what happened.
I'll try to find time for that on the weekend....

[2022-04-13 21:06] Ein-Tim commented on #4408
@ndegendogo No rush, as you & @dsarkar noticed, I finally found time to do some housekeeping in this repo.

[2022-04-14 06:45] dsarkar commented on #3871
Hi @luisoos Thanks for contributing here and your feedback. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-14 06:47] dsarkar commented on #3970
@ndegendogo Thanks for reporting and feedback. @Ein-Tim Thanks again for "house keeping"! Best wishes, DS

[2022-04-14 06:57] dsarkar commented on #4112
Good morning @AH0404, thanks for contributing here. Your question has been answered, therefore we are closing this issue now. Should you have more question, suggestions, or a bug to report, etc, please don't hesitate opening a new issue. Thanks again. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-14 06:59] dsarkar commented on #4040
Good morning @pgtaboada, thanks again for reporting. This case seem to be an edge case, and we'd suggest to close this issue now. Should you experience this issue again, or any other issue, please reopen or open a new issue. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-14 06:59] #4040 closed

[2022-04-14 07:46] Ein-Tim commented on #4112
@dsarkar Don't forget to press the "Close" button :D

[2022-04-14 07:47] #4112 closed

[2022-04-14 07:52] dsarkar commented on #2958
Good morning @krjw-eyev, see the comments above, this issue is now obsolete. Thanks for reporting, please open a new issue if you want to report a bug, a suggestion, etc. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-14 07:52] #2958 closed

[2022-04-14 07:56] dsarkar commented on #3184
@bembeltogo @Ein-Tim Thanks for reporting, however, for the moment it was decided that design won't be changed. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-04-14 07:57] dsarkar commented on #3385
@Ein-Tim UTC times are used, this is intended in this case.

[2022-04-14 07:59] Ein-Tim commented on #3385
@dsarkar Okay, thanks for the confirmation.

Closing.

[2022-04-14 07:59] #3385 closed

[2022-04-14 08:30] dsarkar commented on #3839
@Ein-Tim Internal ticket is a status "Analyzing", stand by , please.

[2022-04-14 09:56] Ein-Tim commented on #3792
PR #4551 closed, as this change should be done through a translation update provided by @service-tip-git

[2022-04-14 10:16] dsarkar commented on #3421
@Ein-Tim I got feedback from the UX team:

"The currently used certificate, if it is technically valid, is displayed in blue. All others are displayed in gray.
If the currently used certificate is invalid, it will be displayed in gray with a warning icon (and in most cases with a grayed out QR code).

The blue is used to highlight the currently used technically valid certificate. Since this is pro

[2022-04-14 10:50] Ein-Tim commented on #3421
@dsarkar Thanks, this helps very much! Closing as answered.

[2022-04-14 10:50] #3421 closed

[2022-04-14 17:22] Ein-Tim commented on #4424
@dsarkar Coule you please either close this issue or label as `ready to close`?

[2022-04-14 22:12] jajoho opened #4457 "Text alignment contact diary"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11 Pr

[2022-04-18 21:22] Ein-Tim commented on #2602
@thomasaugsten

Hey Thomas, sorry to bother you again, I have a [Twitter user](https://twitter.com/maxgarnier/status/1516160986096488457?s=21&t=-PkPqLyeMHsLDVIA4sStNg) experiencing the NoExposureWindows error, could you let me know what you recommend the user does?
Do you want an error report?

[2022-04-18 21:25] thomasaugsten commented on #2602
Most likely a network or certificate issue.
But a error report would be helpful

[2022-04-18 21:35] Ein-Tim commented on #2602
@thomasaugsten

Ok, I'll open a new issue for this.

[2022-04-19 06:40] ndegendogo commented on #4457
@jajoho I am not sure if I understand what you mean. The lines are **left-aligned**. On the right side there is no alignment. Independent if you have a red warning or not.

[2022-04-19 06:44] ndegendogo commented on #4457
![76C871C4-96D2-46B6-8384-DA7E29DBB140](https://user-images.githubusercontent.com/6118267/163942127-21277bfd-8dad-4ade-8e07-b463fc4af3a0.jpeg)

[2022-04-19 06:50] Ein-Tim commented on #4457
@ndegendogo

If I understand the OP correctly the problem is not the alignment x-wise but y-wise (if there is a warning, the text is not in the middle of the box).

[2022-04-19 08:15] jajoho commented on #4457
@Ein-Tim @ndegendogo
Yes exactly. That’s what I was trying to report

[2022-04-19 08:43] Ein-Tim commented on #2417
Confirm fixed with version 2.21.

[2022-04-19 08:44] jajoho commented on #3317
Not fixed but error message added with #4389

[2022-04-19 10:31] dsarkar commented on #2417
@Ein-Tim Thanks for the feedback, forwarded the CONFIRM to internal ticket.

[2022-04-19 17:52] Ein-Tim opened #4461 "App uses wrong FAQ link `hc_prefix_invalid` instead of `hc_invalid_prefix`"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-04-19 17:54] Ein-Tim commented on #4461
Corresponding website issue: https://github.com/corona-warn-app/cwa-website/issues/2792

[2022-04-19 17:56] Ein-Tim commented on #4461
@dsarkar I would like to provide a PR for this, changing the link from `hc_prefix_invalid` to `eu_dcc`.
Could you let me know if such a change would be accepted. Keep in mind that I would also like to add a FAQ redirect, but I still think the iOS app should be fixed in this regard.

[2022-04-19 18:02] MikeMcC399 commented on #4461
- See my comment in https://github.com/corona-warn-app/cwa-website/issues/2792#issuecomment-1102932547

This issue needs investigation. At this time the website has some issues displaying selected articles correctly under some circumstances.

[2022-04-19 18:04] Ein-Tim commented on #4461
@MikeMcC399 The problem is the word order in the link from the iOS app.

The iOS app uses the (invalid) link: https://www.coronawarn.app/de/faq/#hc_prefix_invalid
The website holds an FAQ entry with the link: https://www.coronawarn.app/en/faq/results/#hc_invalid_prefix

[2022-04-19 18:11] Ein-Tim commented on #4461
@MikeMcC399 You said in your comment https://github.com/corona-warn-app/cwa-website/issues/2792#issuecomment-1102932547 that you think `eu_dcc` would be the wrong URL for troubleshooting here.
Probably, as I know understand that the issue is not that the FAQ entry has been deleted but only the link in the iOS app code is wrong, this is not so relevant anymore, but as I [commented on your issue ](h

[2022-04-19 18:30] MikeMcC399 commented on #4461
@Ein-Tim

Probably it will be easiest to resolve this mismatch by making changing to the website.

[2022-04-19 19:26] Ein-Tim commented on #4461
@MikeMcC399 I agree. Closing this issue as it should be fixed on the website.

[2022-04-19 19:26] #4461 closed

[2022-04-20 07:22] Ein-Tim opened #4462 "Twitter Report: Error 13 followed by NoExposureWindows"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Can be reque

[2022-04-20 08:38] thomasaugsten commented on #4462
[code]

It looks like a network issue wich disturb the connection or/and the https handshake
Maybe switch to mobile data or wifi

[2022-04-20 09:54] Ein-Tim opened #4463 "Add different FAQ links for different certificate issues (prefix_invalid, already registered, etc.)"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2022-04-20 11:43] Ein-Tim commented on #4462
@thomasaugsten

Thanks, I relayed this to the user.

[2022-04-20 19:30] Ein-Tim commented on #4462
@thomasaugsten

The user is able to access coronawarn.app without problems via wifi. So there seems to be no problem with the connection in general. I asked him to try it via wifi, but as he now sees Error 13 again, the result might take until tomorrow.

BTW, I think this is the clearest indication that Apple actually counts unsuccessful risk checks agains the rate limit.

[2022-04-20 19:35] thomasaugsten commented on #4462
More important are
https://svc90.main.px.t-online.de/version/v1/diagnosis-keys/country/EUR/date/2022-04-19/hour

To retest this he has to wait 24h
Yes unfortunately there is no plan to change the counting

[2022-04-20 19:42] Ein-Tim commented on #4462
@thomasaugsten So should he try to access this URL, would this help in any way?

Yep, he said he started logging again and will try tomorrow with LTE

Ok, thanks for the information, appreciate it!

[2022-04-21 07:08] Ein-Tim commented on #4462
@thomasaugsten New Error Report of a risk check carried out via LTE: ID 7EF1FF70C66E6963AD51

[2022-04-21 08:18] thomasaugsten commented on #4462
Same error
[code]
Which leads to an unparsable protobuf

[code]

[2022-04-21 08:22] Ein-Tim commented on #4462
@thomasaugsten Okay I asked him to access https://svc90.main.px.t-online.de/version/v1/diagnosis-keys/country/EUR/date/2022-04-21/hour manually and let me know if this works.

[2022-04-21 08:35] Ein-Tim opened #4466 "Missing GitHub release for Version 2.21.2"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Describe the bug

On https://github.com/corona

[2022-04-21 08:42] Ein-Tim commented on #4466
Release's now available: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.21.2.

[2022-04-21 08:42] #4466 closed

[2022-04-21 09:37] Ein-Tim commented on #4462
@thomasaugsten The URL is reachable via WIFI and LTE. Seems like a problem with the CWA.

[2022-04-21 11:17] larswmh commented on #4457
Thanks for your report @jajoho. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12879](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12879)

---
Corona-Warn-App Open Source Team

[2022-04-21 11:37] larswmh commented on #4454
@Ein-Tim is this still an issue in the latest version? I was not able to reproduce this on iPhone 11 Pro Max, CWA 2.21.2, iOS 15.5 (beta version)

[2022-04-21 12:19] larswmh commented on #4454
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12880](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12880)

---
Corona-Warn-App Open Source Team

[2022-04-21 22:32] Ein-Tim opened #4474 "GH Actions workflow "Nightly Checks and Tasks" doesn't run due to startup failure"
See https://github.com/corona-warn-app/cwa-app-ios/actions/workflows/Nightly.yml.

@marcussc is probably the best to investigate this & already aware of the issue.

[2022-04-24 15:39] Ein-Tim commented on #4462
@thomasaugsten FYI: User reinstalled the CWA and now it works flawlessly again. Another indication that this was not a fault with the connection/internet but with CWA itself.

[2022-04-25 08:23] dsarkar commented on #4462
Hi @Ein-Tim I will forward this to the internal ticket, thanks for the feedback.

[2022-04-26 07:21] ndegendogo commented on #4462
@Ein-Tim To be more precise: this indicates that there are **some** error codes that count against the rate limit.
Unfortunately, no Apple documentation is available with more details.

For this reason, any assumptions **how** this rate limit is implemented **exactly** inside the ENF would be guesswork only. Even if we observe this for a specific error code: Apple could implement that differently

[2022-04-26 07:28] ndegendogo commented on #4462
@Ein-Tim do you happen to know
- if the user tried to swipe cwa out of memory before that?
- if the user tried to reboot the device before that?

Just a few suggestions that have worked for me in some cases, and are less "destructive" than a complete reinstallation.

[2022-04-26 07:46] Ein-Tim commented on #4462
@ndegendogo

I asked the same questions the user and he said he has already done both.

[2022-04-26 11:19] Ein-Tim commented on #4474
Seems to [run correctly](https://github.com/corona-warn-app/cwa-app-ios/actions/runs/2225996233) now, is this fixed @marcussc?

[2022-04-26 16:00] #4424 closed

[2022-04-27 07:37] marcussc commented on #4474
Yep, its working again, closing the Issue therefore.

[2022-04-27 07:37] #4474 closed

[2022-04-29 09:49] Ein-Tim commented on #4152
PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4495

[2022-04-29 12:53] Ein-Tim commented on #4462
@thomasaugsten Maybe a related issue: If there is a problem with the network encryption, the risk check also fails without any helpful error message. I recorded such a problem in the error log with the ID: 073ECE605FE6D8CAB6AE

[2022-04-29 17:37] ndegendogo commented on #4462
@maximilianG1
maybe your collected exposures got lost when you reinstalled cwa

[2022-04-29 17:47] Ein-Tim commented on #4462
@dsarkar Not under iOS.

[2022-04-29 20:08] maximilianG1 commented on #4462
@ndegendogo
yes they were deleted.
but collecting it with an app which doesn’t work makes also no sense 😂

Looks like not many people have the same issue, so I think installing it again is an acceptable workaround.

[2022-04-30 21:22] Ein-Tim opened #4498 "App crashes while loading"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-05-02 05:40] larswmh commented on #4498
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12982](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12982)

---
Corona-Warn-App Open Source Team

[2022-05-02 06:44] larswmh commented on #4463
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-12984](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-12984)

---
Corona-Warn-App Open Source Team

[2022-05-04 22:05] #3415 closed

[2022-05-04 22:16] ndegendogo opened #4512 "Where do I see my notifications from cwa?"
## Avoid duplicates
* [ ] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Question has not already been asked in another issue

## Your Question

* Sour

[2022-05-04 22:19] ndegendogo commented on #4512
Can it be a red warning that expired at the moment when I opened cwa?
I was green before with no warnings, and am still / again green. I opened cwa shortly after midnight local time. My last successful check was before midnight.

[2022-05-04 22:27] ndegendogo commented on #4512
![IMG_0023](https://user-images.githubusercontent.com/6118267/166835555-f6868315-3564-4385-b83c-8397b1899906.PNG)

[2022-05-05 06:00] thomasaugsten commented on #4512
There is no overview of the message only in a running error report
Maybe it was a notification about a booster notification in one of your certificates

[2022-05-05 06:09] ndegendogo commented on #4512
@thomasaugsten

Yes!! Indeed, there is a red badge on my certificates tab. And I can follow the trail of red badges and finally get a hint that I should consider a booster vaccination.

[2022-05-05 06:09] ndegendogo commented on #4512
Closing as answered.

[2022-05-05 06:09] #4512 closed

[2022-05-05 08:42] Taeufer commented on #3256
and here it is again, called the provider and will report if they´ve done something.

Error-Logs in CWA, were transmitted:

ID 464EF74A99D7D9575304
ID 97ADA05B8C2F83ECDA5C
ID DD982B3109D21E4B23B5

[2022-05-05 09:25] Taeufer commented on #3256
at the side of our Softwarepriovder they say, "all is working fine."

 They checked the IF an it works. They will **not** restart it, couse there are no issues on there side. The Data will be gereated.

@dsarkar

[2022-05-05 10:46] thomasaugsten commented on #3256
Error 202 is only forwarded by the CWA.
In this state all keys are provided by the CWA.
The DCC Server is now waiting that the test provider is fetching the public keys for his labId and then providing an encrypted payload to the DCC Server.

[2022-05-05 11:38] Taeufer commented on #3256
i will commit this to the testprovider softwarepartner

[2022-05-05 13:57] dsarkar commented on #4498
FYI https://github.com/corona-warn-app/cwa-app-ios/pull/4507

[2022-05-06 06:18] Taeufer commented on #3256
Provioder changed a Cert, yesterday, but I have still the issue, and some
colleagues, too - not all colleagues have the Problem, so it is wierd. Provder closed the Ticket so far, and I don´t know what to do next. One Cert have a PRK_403 but this if from last week.

[2022-05-06 12:46] ArturFriesen commented on #4462
@maximilianG1  Did you try to reset the app over the settings?

[2022-05-06 14:44] Ein-Tim commented on #4454
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4517 is the fix for this.

[2022-05-07 08:36] ndegendogo commented on #4498
I saw the same today.
Details:
- I opened cwa. WLAN was available, but internet connection was down.
- cwa saw the WLAN and started an attempt to download the keys.
- I did't wait for any timeout but closed cwa to disable WLAN and force internet connection via mobile / over-the-air.
- then I started cwa again - but it was blackscreen only

cwa 2.22.1 / iOS 15.4.1 / iPhone 13 Pro

[2022-05-08 12:11] maximilianG1 commented on #4462
no, I didn‘t  tried that.

[2022-05-08 20:14] Ein-Tim opened #4518 "UI glitch when turning exposure logging on/off"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-05-09 05:33] larswmh commented on #4518
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13052](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13052)

---
Corona-Warn-App Open Source Team

[2022-05-10 08:22] mlenkeit commented on #4462
@maximilianG1 @Ein-Tim  thanks for reporting the issue!

The error message `Unsupported protobuf type: 4` seems to hint at the Protocol Buffer type `sint32`. In ENF, this is only used for the attribute `days_since_onset_of_symptoms` (see [docs](https://developers.google.com/android/exposure-notifications/exposure-key-file-format)).

Unfortunately, it's unclear from the logs why ENF raises this err

[2022-05-10 09:26] Ein-Tim commented on #4462
Closing as not enough information for a fix is available.

[2022-05-13 14:23] Ein-Tim commented on #4351
Hey @dsarkar, could you please check if the PR https://github.com/corona-warn-app/cwa-app-ios/pull/4535 by @ArturFriesen could also fix this issue?

[2022-05-14 19:42] Ein-Tim opened #4536 "Exposure detail card may be empty while risk check is running"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-05-16 15:25] dsarkar commented on #4536
@Ein-Tim Thanks for reporting; Internal Tracking ID: [EXPOSUREAPP-13106](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13106). Best, DS

[2022-05-19 08:16] Ein-Tim commented on #4454
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4558 also fixes an overscrolling issue.

[2022-05-19 09:46] Ein-Tim commented on #3839
PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4559

[2022-05-21 19:09] Ein-Tim opened #4570 "RAT profile - misleading button when capturing date of birth"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 mi

[2022-05-22 09:13] Ein-Tim commented on #3626
@dsarkar / @thomasaugsten

Has the team investigated this part of the app?

[2022-05-22 09:17] Ein-Tim commented on #3854
@dsarkar Was there an answer?

Here's the Apple Developer resource regarding iCloud Backups: https://developer.apple.com/library/ios/#qa/qa1719/_index.html, here's a Stackoverflow thread reg. this: https://stackoverflow.com/questions/18110321/turn-off-icloud-backup-for-my-application-ios-sdk

[2022-05-23 06:14] Taeufer commented on #3256
Error is still there, the first Certificate that has a Error, has a PKR_404, all others the DDC_COMP_202.

Could you start the IF on your side? I´ll make a new call at the Provider, but i guess ixmid will not be a great help in this case.

POC and PCR both are broken.

[2022-05-23 06:22] thomasaugsten commented on #3256
Please provide us the provider name, contacts and teststelle we will contact the provider

[2022-05-23 08:12] dsarkar commented on #3256
@Taeufer please see comment https://github.com/corona-warn-app/cwa-app-ios/issues/3256#issuecomment-1134231345

[2022-05-23 08:13] dsarkar commented on #3854
@Ein-Tim I will raise the topic again. Thanks.

[2022-05-23 08:52] thomasaugsten commented on #3256
Wir haben ix.mid schon am 03.05 wegen anderen Reports kontaktiert.
Es wurden Zertifikate getauscht die zu dem Fehler geführt haben.

Besteht das Problem aktuell weiterhin?

[2022-05-23 09:46] Taeufer commented on #3256
Yes, they told me, that they changed Certificates, at the 05.05., but the Error is still there, was my answer one day ago.

 They closed the Call after that, waiting at a Answer on this thread, I opend a in Comment  [https://github.com/corona-warn-app/cwa-app-ios/issues/3256#issuecomment-1119293517](Comment_3246)

I mailed the Support today, that they had to open the Call again. I went on Vaccatio

[2022-05-23 17:40] dsarkar commented on #3834
Internal Tracking ID: [EXPOSUREAPP-11894](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-11894)

[2022-05-24 07:31] Taeufer commented on #3256
Problem Solved, there war at least a Problem on the User-Side.

All "broken Certificates", where old, and displayed above the Blue-Quare, with a error.

The "new Certificates", get a quick loading Sign, and disapear. (the disapearing wa the "new feature", an the reason for the
confusion)

All Certificates are available in the "Slide"-Switch or by klicking at the Blue Quare.

Mea Culpa - and thank

[2022-05-24 11:47] dsarkar commented on #3256
@Taeufer Thanks for your feedback.

[2022-05-24 11:49] dsarkar commented on #3854
@Ein-Tim iCloud backups are not disabled, since it seems that it works for some users. In general the idea is to fix the issues with the backup so that the backup works correctly.

[2022-05-24 11:54] Ein-Tim commented on #3854
@dsarkar Thanks for the feedback, this sounds great! I guess there is no fixed version where this bugfix should be released?

[2022-05-24 11:56] dsarkar commented on #3854
@Ein-Tim Indeed, no info about planned fix version,

[2022-05-24 15:30] dsarkar commented on #4415
FYI PR https://github.com/corona-warn-app/cwa-app-ios/pull/4582

[2022-05-27 11:52] Ein-Tim opened #4593 "Do not tag RCs as latest version"
Please don't release RCs as a regular version, as done in these cases: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.23.0-rc.8-a & https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.23.0-rc.9

cc @30mar.

---
Internal Tracking ID: [EXPOSUREAPP-13212](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13212)

[2022-05-27 11:54] Ein-Tim commented on #4593
GitHub docu on releases: https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository#editing-a-release

[2022-05-30 09:14] dsarkar commented on #4593
@Ein-Tim Thanks, forwarded.

[2022-05-30 11:17] dsarkar commented on #3533
@Ein-Tim I got feedback: It seems there is nothing dev team can do about, since the screen is owned by Apple. The internla ticket was set to obsolete. Thanks. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-05-30 12:10] Ein-Tim commented on #3533
@dsarkar

Thanks for the feedback. Closing this issue as not fixable by the CWA team.

[2022-05-30 12:10] #3533 closed

[2022-05-31 09:38] Ein-Tim commented on #4593
@marcussc / @kaddaSz

Maybe you could take a look? I'm unsure if the status of a release can be changed afterwards. Thanks!

[2022-05-31 09:40] marcussc commented on #4593
Thanks @Ein-Tim just fixed it.
CC: @30mar

[2022-05-31 11:34] MaxPeal commented on #4150
close this issue as a wont fix, is in my opinion a bit problematic,
as the UI / Error Text is misleading,
a better Error Text with more info would be relay helpful.

[2022-05-31 12:37] mbay-ODW commented on #4150
What I actually dislike is that there is no Communication here.

[2022-05-31 12:49] larswmh commented on #4150
@mbay-ODW we appreciate your patience and will keep you updated once we have information to share.

---
Internal Tracking ID: [EXPOSUREAPP-13223](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13223)

[2022-05-31 13:05] marcussc opened #4602 "Bye Bye 👋"
Dear Community,

after nearly two years my time has come to move on to an other project.

Believe me when I say CWA was the most fun and stress I have ever had in a project. I am very glad that I was giving this opportunity where I could do something meaningful in the fight against Corona.

It was also nice to have such an amazing community to support us. Thank you for bearing with us through the

[2022-05-31 13:12] Ein-Tim commented on #4602
Dear Marcus, thanks for the great cooperation between you and the community, thank you for always being open for feedback from us, thanks for answering questions in PRs, working on Sundays when Apple wants something changed, making sure that the `main` branch is always up to date (-;, etc. etc..

It's sad to see you leaving, but I know that the rest of the great team will keep up to the standards

[2022-05-31 15:28] Ein-Tim commented on #4593
@30mar https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.23.0-rc.10 is tagged as latest again, could you please change that?

[2022-06-01 06:51] dsarkar commented on #4593
@Ein-Tim Thanks, forwarded.

[2022-06-01 16:39] Ein-Tim opened #4604 "Missing 2.23.1 release"
* [X] None of the other issue templates apply to this issue.

The App Store offers version 2.23.1 to download, however, there was no release created here on GitHub. Please release version 2.23.1 on GitHub.

---
Internal Tracking ID: [EXPOSUREAPP-13212](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13212)

[2022-06-01 16:40] Ein-Tim commented on #4604
cc @30mar (you've done the releases in the past days), @kaddaSz (you handled releases in the past.

[2022-06-01 16:57] dsarkar commented on #4604
Forwarded.

[2022-06-01 18:53] ndegendogo commented on #4602
Dear Marcus, thank you for your time and effort you spent in this amazing project! 🎉
I have done my very first steps in Swift here with the cwa code, and I remember well the feedback and discussions with you when you reviewed my PRs. 😅

So I can only repeat what @Ein-Tim  already said: Thank you, stay healthy, and all the best wishes for your future projects! 🍀🍀🍀

[2022-06-02 05:20] Ein-Tim commented on #4415
This issue has been fixed in version 2.23.1.

Closing as fixed.

[2022-06-02 05:20] #4415 closed

[2022-06-02 05:21] Ein-Tim commented on #4454
Confirm fixed with version 2.23.1.

Closing as fixed.

[2022-06-02 05:21] #4454 closed

[2022-06-02 05:22] Ein-Tim commented on #3839
This has been implemented in version 2.23.1.

Closing as implemented. Thanks!

[2022-06-02 05:23] Ein-Tim commented on #3420
With version 2.23.1 it's not possible to check certificates against a time in the past. This issue is therefore also fixed.

Please close this issue @arnebr.

@dsarkar Would you like to apply the `Fix 2.23` label here?

[2022-06-02 05:25] Ein-Tim commented on #4498
I'll try following my steps to reproduce and check if this is still an issue with version 2.23.

[2022-06-02 06:31] #3420 closed

[2022-06-02 06:38] dsarkar commented on #4498
Good morning @Ein-Tim , indeed, feedback is appreciated!

[2022-06-02 08:09] dsarkar commented on #3839
@Ein-Tim Thanks for the feedback.

[2022-06-02 08:12] dsarkar commented on #4415
@Ein-Tim Thanks for reporting and confirming the fix. Forwarded to internal ticket.

[2022-06-02 08:15] dsarkar commented on #3420
@arnebr Thanks for reporting. @Ein-Tim Thanks for the ping here.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-06-02 08:15] dsarkar commented on #4454
@Ein-Tim Thanks for CONFIRM, forwarded to internal ticket.

[2022-06-03 13:44] Ein-Tim opened #4607 "Missing 2.23.2 release"
* [X] None of the other issue templates apply to this issue.

The App Store offers version 2.23.2 to download, however, there was no release created here on GitHub. Please release version 2.23.2 on GitHub.

[2022-06-03 13:47] Ein-Tim commented on #4607
This is now the second version which was not correctly released on GitHub.

Dear team (@naveeddotio, @nickguendling, @30mar, @KaiTeuber, @flxschmidt, @ArturFriesen, @thomasaugsten & @kaddaSz), please, continue how it was and release versions on GitHub reliable.

Thanks!

[2022-06-03 13:51] Ein-Tim commented on #4463
@larswmh / @dsarkar Could you please check if such a change could be included in one of the next releases?

[2022-06-03 17:32] thomasaugsten commented on #4607
I can see this release. What is exactly missing here?
<img width="765" alt="image" src="https://user-images.githubusercontent.com/6367738/171916441-c6611b4f-0026-42b3-8646-628daf7ae506.png">

[2022-06-03 17:36] Ein-Tim commented on #4607
@thomasaugsten This release was three days ago, it is an RC (as you can see in the tag). It was, probably by accident, released as a Latests version by @30mar, although it should have been an RC. Also, the version 2.23.1 release is completely missing (#4604).

[2022-06-05 15:11] Ein-Tim commented on #3381
This issue also affects the Android app, so please move it to the documentation repository. I offer to provide a PR which changes the text in the Pop-Up for both, iOS & Android.

[2022-06-05 15:13] Ein-Tim commented on #3393
I opened this issue nearly a year ago, it is still valid. It was never mirrored to JIRA. Please mirror it to JIRA now.

[2022-06-05 15:21] Ein-Tim commented on #3520
This issue still exists. I imagine this to be an easy fix, @dsarkar could you maybe ask the developers to include a fix in version 2.24?

[2022-06-05 15:30] Ein-Tim commented on #3632
I meanwhile consider this as intentional. Thus closing this issue.

[2022-06-05 15:30] #3632 closed

[2022-06-05 15:30] Ein-Tim commented on #3631
I meanwhile consider this as intentional. Thus closing this issue.

[2022-06-05 15:30] #3631 closed

[2022-06-05 15:55] Ein-Tim commented on #3791
PR https://github.com/corona-warn-app/cwa-app-ios/pull/4591 improves the layout here. I will check back when version 2.24 is released.

[2022-06-05 15:56] Ein-Tim commented on #3709
FYI: PR https://github.com/corona-warn-app/cwa-app-ios/pull/4591 will improve the situation here.

[2022-06-05 16:24] Ein-Tim commented on #4410
This has been fixed.

[2022-06-05 16:24] #4410 closed

[2022-06-05 16:25] Ein-Tim commented on #3455
Please mirror this item to JIRA.

[2022-06-05 16:29] Ein-Tim commented on #4152
Confirm fixed with version 2.22. Closing.

[2022-06-05 16:29] #4152 closed

[2022-06-07 18:29] naveeddotio commented on #4604
@Ein-Tim Version 2.23.1 or first hotfix is on GitHub. Here is the link: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.23.0-rc.9

[2022-06-07 18:37] Ein-Tim commented on #4604
@naveeddotio This was the version that was released to the public. I'm missing an overview over all new features included in this version. For example, take a look at https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.22.1. This release was the release that made it to the public. And this overview over all new features included in one version is missing with version 2.23, or am I missi

[2022-06-07 18:38] Ein-Tim commented on #4607
@naveeddotio Okay, thanks! However, I wonder, was something changed on the internal pipeline since version 2.22, that now requires this changed naming?

[2022-06-07 18:41] naveeddotio commented on #4593
@Ein-Tim Could you mention the PRs which are missing?

[2022-06-07 18:43] naveeddotio commented on #4607
@Ein-Tim Nothing changed, it's just how one name the tag, will take care for next releases.

[2022-06-07 18:45] naveeddotio commented on #4604
@Ein-Tim I have fixed that too. Now, it should not say pre-release.

[2022-06-07 18:51] Ein-Tim commented on #4604
Okay thanks. So the only missing thing is the release were all new changes of version 2.23.1 are listed now.

[2022-06-07 18:52] Ein-Tim commented on #4593
@naveeddotio Let's continue in #4604.

[2022-06-07 18:54] Ein-Tim commented on #4604
@naveeddotio

Regarding https://github.com/corona-warn-app/cwa-app-ios/issues/4593#issuecomment-1149035954. My problem is the following: There is no GitHub release listing all changes of version 2.23.1. So, to make that list, just take the 2.23 milestone and add everything into one release.
Or talk to @kaddaSz, who managed releases until now, I'm sure she has found an automated solution to this.

[2022-06-07 18:54] Ein-Tim commented on #4607
Thanks @naveeddotio! Also thanks for the active communication!

[2022-06-07 18:55] #4607 closed

[2022-06-08 09:14] naveeddotio commented on #4604
@Ein-Tim GitHub 2.23.1 release notes show a text change and that is the only change as compared to the previous version.

[2022-06-08 09:27] Ein-Tim commented on #4604
@naveeddotio Compared to what version 2.23.0? There is no 2.23.0 release (as this version was never published). Version 2.23.1 needs to list all items of version 2.23.0 & 2.23.1.

The same was done with version 2.22.1: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.22.1
Version 2.22.1 was the version released to the public, so it listed all changes that this version holds compared

[2022-06-08 10:26] Ein-Tim commented on #4604
@naveeddotio

That sounds great, thanks!

[2022-06-08 10:32] naveeddotio commented on #4604
@Ein-Tim Release notes are updated and they should includes all the changes of 2.23.0

[2022-06-08 10:36] Ein-Tim commented on #4604
Looks great, thank you very much @naveeddotio!

[2022-06-08 10:36] #4604 closed

[2022-06-08 13:47] svengabr commented on #3455
I have opened a Jira ticket:

Internal Tracking ID: EXPOSUREAPP-13336

[2022-06-08 13:51] mlenkeit commented on #3455
@Ein-Tim although this ticket is quite a few months old and the corresponding logic in CWA was changed many times, this is currently the expected behavior.

Even if there is only a Test Certificate and no Vaccination Certificate, the text would be displayed.

The message is not wrong: the user does not have recommended vaccinations.

[2022-06-08 13:52] Ein-Tim commented on #3455
@mlenkeit Thanks for the feedback! Yep, seems right, I was just unsure as the vaccination certificate is not the currently used certificate, but OK. Thank you!

[2022-06-08 13:52] #3455 closed

[2022-06-08 13:59] Ein-Tim commented on #3381
@svengabr Could you please move this issue to the documentation repository? It affects both, iOS & Android.

[2022-06-08 21:00] Ein-Tim commented on #3834
@ndegendogo Could you check this item with version 2.23?

[2022-06-09 06:11] larswmh commented on #4463
@Ein-Tim We can not assure that this will be included in one of the next releases, but be assured that we're raising Mike's (https://github.com/corona-warn-app/cwa-app-android/issues/5099) and your issue internally.

[2022-06-10 07:15] ndegendogo commented on #3834
@Ein-Tim yesterday I returned home very late ... but I should find time on the weekend ...
thanks for the ping 👍

[2022-06-10 10:25] tiny-slayer opened #4612 "Exposure logging doesn’t work"
My exposure logging doesn‘t work anymore.
![D83D539D-46A3-4613-B820-CA19B424531B](https://user-images.githubusercontent.com/81304114/173046087-577e5fa7-e066-4102-b8f7-a8404e885a5c.png)

[2022-06-10 10:26] Ein-Tim commented on #4612
Hey @tiny-slayer

Thanks for the report!

How long are you seeing this issue already?

[2022-06-10 10:58] Ein-Tim commented on #4612
For your information: There is also a FAQ entry on this error:  https://www.coronawarn.app/en/faq/results/#ENError13

[2022-06-10 14:38] tiny-slayer commented on #4612
Hi Tim, it’s been a week. I get the error when I click on “restart”. The last update was on 4th of June, I guess since then I get that error.
![C1C48A7F-4528-4073-A7B7-CD8166942DD4](https://user-images.githubusercontent.com/81304114/173089595-58690d4e-0684-4a2e-ab1e-4680ae0b8d31.png)

[2022-06-10 15:30] Ein-Tim commented on #4612
Hey @tiny-slayer, thanks for the feedback! Could you try turning exposure logging off completely for 24 hours, and then reactivating it again? This might help. Please note, that the app does not collect any random IDs if you turn exposure logging off.

Could you please also let us know:
- iOS version
- App version
- iPhone model

Thanks!

[2022-06-10 17:05] tiny-slayer commented on #4612
Hi again,
IOS version is iOS 15.3.1
App version is 2.23.2 (0)
Phone model is iPhone 11

[2022-06-10 19:35] tiny-slayer commented on #4612
Yes, I did already. I’m going to turn it on again tomorrow.

[2022-06-11 22:26] tiny-slayer commented on #4612
It still doesn’t work:(
Now there is another error.
![ED03AC13-2AE4-4C7F-8655-8DA8C7CA69B8](https://user-images.githubusercontent.com/81304114/173206809-aa939184-4021-4eb2-b814-5a438bd3ebd3.png)

[2022-06-11 22:47] Ein-Tim commented on #4612
@thomasaugsten Please, could you have a look at this?

[2022-06-13 05:58] thomasaugsten commented on #4612
Please deactivate the ENF for 24 and activate the error report/ Fehlerbericht an activate the ENF after 24 error. We need an error report of the no exposure window error

[2022-06-13 07:48] svengabr commented on #3256
Jira ticket is closed.
According to other feedback on this issue, the issue seems resolved.

[2022-06-13 07:48] #3256 closed

[2022-06-13 07:48] svengabr commented on #3934
Jira ticket is closed.
According to other feedback on this issue, the issue seems resolved.

[2022-06-13 07:48] #3934 closed

[2022-06-13 09:14] Ein-Tim commented on #3256
@svengabr

I just experienced this issue yesterday, but I think it is a problem with the specific test center, or?

[2022-06-13 09:21] svengabr commented on #3796
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Unfortunately, no additional information was added to this Jira ticket.

[2022-06-13 09:22] larswmh commented on #4351
Closing this issue as it was fixed in the abovementioned PR.

[2022-06-13 09:22] #4351 closed

[2022-06-13 09:23] svengabr commented on #3213
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Unfortunately, no additional information was added to this Jira ticket.

[2022-06-13 09:27] svengabr commented on #1100
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

[2022-06-13 09:27] #1100 closed

[2022-06-13 09:31] #149 closed

[2022-06-13 09:33] larswmh commented on #4060
Closing due to the abovementioned reasons. Internal ticket was set to obsolete

[2022-06-13 09:33] #4060 closed

[2022-06-13 09:37] svengabr commented on #954
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

[2022-06-13 09:37] #954 closed

[2022-06-13 09:39] svengabr commented on #3256
@Ein-Tim Yes that seems to be the case, its an issue with the specific test center

[2022-06-13 09:40] larswmh commented on #1731
FYI @ndegendogo @Ein-Tim "Match count" was removed by Apple and not added in later releases, therefore the internal ticket was set to obsolete.

[2022-06-13 09:45] larswmh commented on #3792
@Ein-Tim

This was internally set to obsolete. This is due to the capitalization guidelines.

[2022-06-13 09:45] #3792 closed

[2022-06-13 09:46] svengabr commented on #3184
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

As the universal scanner is in place now, we could also think about removing it all together. We refrained from it for now to not disrupt users who got to know the pattern as is. Of course this would need to be done than for all other cases like Check-ins and so on

[2022-06-13 09:46] #3184 closed

[2022-06-13 09:48] svengabr commented on #3231
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

[2022-06-13 09:48] #3231 closed

[2022-06-13 09:50] svengabr commented on #3834
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

[2022-06-13 10:13] Ein-Tim commented on #1731
@larswmh So Apple responded that this is intentional?

[2022-06-13 11:10] larswmh commented on #1731
This is not clearly communicated, however it seems more like a personal discovery by us than an official reponse from Apple. Nonetheless, we don't expect anything to change here sadly.

[2022-06-13 11:12] svengabr commented on #3854
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Wont Fix`
Status: `Obsolete`

Developer comment:

I have replaced the internal tracking id with the new one.

The new ticket is stale in Jira since Obtober 2021. I have requested an update from the developers.

[2022-06-13 11:15] svengabr commented on #3876
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Fixed`
Status: `Completed`
Fix Version/s: `Release 2.16`

Developer comment:

[2022-06-13 11:15] #3876 closed

[2022-06-13 11:18] svengabr commented on #3945
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Fixed`
Status: `Completed`
Fix Version/s: `Release 2.17`

Developer comment:

There second time which is more difficult to debug is that the keys were actually submitted but for some reason we tried to resubmit them so we got this error "No temporary exposure keys to submit" which lead to the generic error we see i

[2022-06-13 11:18] #3945 closed

[2022-06-13 11:22] svengabr commented on #4207
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Fixed`
Status: `Completed`
Fix Version/s: `Release 2.21`

Developer comment:

[2022-06-13 11:22] #4207 closed

[2022-06-13 11:25] svengabr commented on #2288
I have just checked the linked Jira issue.

Jira Ticket is flagged as:
Resolution: `Unresolved`
Status: `BLOCKED`

Developer comment:

The Jira issue is stale for a year. I have re-assigned the issue and asked for an update on this topic.

[2022-06-13 12:12] Ein-Tim commented on #1731
@larswmh

Ok thanks for the feedback!

[2022-06-13 12:15] Ein-Tim commented on #4207
@svengabr

The PR only talks about the contact journal, could you please re-check with the devs.

[2022-06-13 13:04] svengabr commented on #4207
@Ein-Tim the Jira Issue had 2 Github issues linked:

https://github.com/corona-warn-app/cwa-app-ios/issues/3680
https://github.com/corona-warn-app/cwa-app-ios/issues/3896

According to the communication it should solve both issues.

No 1

No 2

[2022-06-13 22:36] rugk commented on #3854
[Okay, RKI, tell us what's up here.](https://fragdenstaat.de/anfrage/sap-cwa-tickets-zum-grossen-speicherplatzverbrauch-bei-icloud-der-corona-warn-app/)

[2022-06-14 05:24] larswmh commented on #4150
Closing this ticket as its related internal ticket was set to obsolete.

[2022-06-14 05:24] #4150 closed

[2022-06-14 09:03] toco opened #4617 "CWA requires granting Photos Library access before presenting photo picker"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: Any iOS Devi

[2022-06-14 09:29] larswmh commented on #4617
Thanks for your report @toco. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13375](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13375)

---
Corona-Warn-App Open Source Team

[2022-06-14 21:44] ndegendogo opened #4621 "Red badge reappears permanently on status tab"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2022-06-14 21:44] ndegendogo commented on #4621
![4DA2AB8F-1128-430E-96CC-E64C8AE4C8C2](https://user-images.githubusercontent.com/6118267/173694472-285d96ee-5f62-46e9-a4ac-0d6c70098319.png)

[2022-06-14 21:46] ndegendogo commented on #4621
![9B893B43-4D96-4664-B6AE-917194772FB6](https://user-images.githubusercontent.com/6118267/173694688-1547e2a8-b03d-4f90-be96-3ad60fa2b7c3.png)

[2022-06-14 21:52] Ein-Tim commented on #4621
- PR: https://github.com/corona-warn-app/cwa-app-ios/pull/4608

[2022-06-14 22:47] ndegendogo commented on #4621
@Ein-Tim wow - this is a fast fix! 🎉🎉🎉

[2022-06-15 05:52] larswmh commented on #4621
Thanks for your report @ndegendogo. As mentioned by @Ein-Tim, there's already a PR fixing this. Your issue will be attached to the related internal ticket.
Internal Tracking ID: [EXPOSUREAPP-13184](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13184)

---
Corona-Warn-App Open Source Team

[2022-06-15 06:51] ndegendogo commented on #4621
@larswmh thank you for the fast response!
And please tell also the developer team how much I appreciate their fast acting on bugs!
🎉🎉🎉

[2022-06-16 16:53] Ein-Tim commented on #4536
@dsarkar Please inform the developers that thus is reliably reproducible under circumstances where the device is connected to a network which has no internet connection.

[2022-06-16 21:49] ndegendogo commented on #3854
@tmechen hier geht es ja nicht darum, was im Ticket steht - das ist ja oben erwähnt

sondern RKI als Auftraggeber soll ein Statement über die Priorisierung dieses Themas geben (also ob sie planen, dies zu beauftragen, oder ob sie es als nicht wichtig erachten...)

[2022-06-16 22:03] Ein-Tim commented on #3854
Already two devs talked about the "transition phase" and I'm still unsure what exactly is meant with this...

Maybe this could be clarified.

[2022-06-18 12:33] rugk commented on #3854
Oh interesting, indeed!

Indeed [this could be clarified, again, RKI](https://fragdenstaat.de/anfrage/dokumente-und-kommunikation-zur-uebergangsphase-der-corona-warn-app/).

[2022-06-18 12:38] Ein-Tim commented on #3854
Ref. to the second dev talking about this: https://github.com/corona-warn-app/cwa-app-android/pull/5017#discussion_r839513719

He defined it as:

The question is when is this phase, is there are plan for this?

If this can be clarified here on GitHub that's great, FOIs always take some time and from the past we saw that most are not successful reg. the intern communication of the CWA project.

[2022-06-18 13:48] ndegendogo commented on #3854
Assuming we are currently in a "features complete / bugfixing only" phase, then of course it depends a lot how SAP project management communicates this topic to RKI.
If they regard it as "another feature" then the chance is high that RKI will not want it.
If they declare it as bug that should be fixed to keep cwa useful for their users, then the decision could be different.

[2022-06-19 09:17] ndegendogo commented on #3834
Just for the record. The mentioned PR indeed fixed the issue, I just verified it.
cwa 2.23.2(0) / CCL 3.0.1 / iOS 14.4.1 / iPhone 8

[2022-06-19 18:28] rugk commented on #3854
This issue here cleary is a bug, come on.

[2022-06-20 11:41] dsarkar commented on #4621
Hi @ndegendogo, Thanks for reporting, @Ein-Tim Thanks for linking the PR. Just FYI, in this case the testing team had already discover the bug before your report. Anyway, @ndegendogo I will forward your compliments. Thanks!

[2022-06-20 13:47] Ein-Tim opened #4630 "Update main branch"
The https://github.com/corona-warn-app/cwa-app-ios/tree/main branch was not updated for 2 months, please merge the 2.23 branch into the main branch. Thanks!

[2022-06-21 13:07] naveeddotio commented on #4630
@Ein-Tim @dsarkar Thanks for the remind, we will take care of it

[2022-06-21 13:25] #4630 closed

[2022-06-22 16:41] Lulara14 commented on #4612
Hi, i have the same issue. Can you support in fixing it?

[2022-06-22 20:32] Ein-Tim commented on #4612
@Lulara14

Please, could you enable error logging like this:

<details>
<summary>German steps</summary>

1. In der CWA auf dem Reiter "Status" ganz nach unten scrollen
2. Auf "App-Informationen" scrollen
3. Auf "Fehlerberichte"
4. Auf "Starten" tippen
5. Einmal _machen_, dass der Fehler auftaucht
6. Schritte 1-3 wiederholen
7. Auf "Fehlerbericht senden" tippen
8. Auf "Einverstanden und senden" tip

[2022-06-29 19:28] Ein-Tim opened #4646 "Export icon and info icon are not aligned"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-06-29 19:31] Ein-Tim commented on #4646
@thomasaugsten

Thanks for pointing to the PR. I just had to open this issue as this is so unsatisfying :D

Please apply the "Fix 2.25" label to this issue.

[2022-06-30 12:45] Ein-Tim commented on #4518
PR #4647

[2022-07-03 07:30] ndegendogo commented on #4621
Sorry, but this is not fixed in cwa 2.24(0)

[2022-07-03 08:46] Ein-Tim commented on #4621
@ndegendogo The PR was merged into the `release/2.25.x` branch.

[2022-07-03 08:47] Ein-Tim commented on #4621
@dsarkar / @larswmh Please fix the label on this issue. It should be https://github.com/corona-warn-app/cwa-app-ios/labels/Fix%202.25 but is https://github.com/corona-warn-app/cwa-app-ios/labels/Fix%202.24.

[2022-07-04 14:00] Ein-Tim commented on #3791
In my opinion version 2.24 has improved this significantly, so I'm closing this issue now.

<img src="https://user-images.githubusercontent.com/67682506/177170007-6b08d1d4-6f4b-42af-9722-e295ef1f4e4f.png" width="300">

Please apple the `Fix 2.24` label here @larswmh.

[2022-07-04 14:03] Ein-Tim commented on #3393
Why is this issue not mirrored to JIRA @larswmh & @dsarkar?

[2022-07-05 08:21] larswmh commented on #3393
Thanks for your enhancement request @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13528](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13528)

As described in another issue already, the issues unfortunately snowed under, but we're now getting back to all the issues you're mentioning us in.

---
Corona-Warn-App Open So

[2022-07-09 13:43] Ein-Tim commented on #4090
@dsarkar | @larswmh Please decide how to proceed with this issue.

[2022-07-09 18:21] dsarkar commented on #4090
@Ein-Tim Thanks for the ping. @p13rr37 Do you experience any further issues. Your feedback is appreciated, if no further problems, we would suggest to close this issue now, of course with the option to re-open this issue should you experience problems at some point. Thanks. Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-07-12 12:16] Ein-Tim commented on #4646
True, closing.

[2022-07-12 12:16] #4646 closed

[2022-07-12 13:46] dsarkar commented on #3560
FYI PR https://github.com/corona-warn-app/cwa-app-ios/pull/4661

[2022-07-14 20:25] Ein-Tim commented on #4518
- PR https://github.com/corona-warn-app/cwa-app-ios/pull/4669 reverted the fix https://github.com/corona-warn-app/cwa-app-ios/pull/4647

@dsarkar please remove the `Fix 2.25` label.

[2022-07-17 06:02] Anonymous170722 opened #4676 "Fehler 13 - problem persists after 24 hrs"
My Corona App hasn’t refreshed since a week now, showing the error code „Fehler 13“.
Please check.

![9A866240-216A-43BA-B680-65859E0EAA3B](https://user-images.githubusercontent.com/109452515/179386113-c9cdba8c-6d6b-4239-9a24-851c8a416509.png)

---
Internal Tracking ID: [EXPOSUREAPP-5836](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-5836)

[2022-07-17 06:29] Anonymous170722 commented on #4676
IOS 15.5
iPhone XR
Corona Warnapp Version: 2.24.1

[2022-07-17 10:32] Anonymous170722 commented on #4676
![Uploading A29AF1EE-E461-48B8-B3E8-3604E420C7C9.png…]()

[2022-07-17 10:50] Ein-Tim commented on #4676
Hey @Anonymous170722

Please, could you enable error logging like this:

1. In der CWA auf dem Reiter "Status" ganz nach unten scrollen
2. Auf "App-Informationen" scrollen
3. Auf "Fehlerberichte"
4. Auf "Starten" tippen
5. Einmal _machen_, dass der Fehler auftaucht
6. Schritte 1-3 wiederholen
7. Auf "Fehlerbericht senden" tippen
8. Auf "Einverstanden und senden" tippen
9. Nach unten scrollen
10. A

[2022-07-17 11:00] Ein-Tim opened #4677 "UI Glitch on soon expiring or already expired certificate screen (Symbol is squeezed together)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2022-07-17 11:34] Anonymous170722 commented on #4676
![3B47CFAC-130B-4799-A7BE-F5B1FD37D846](https://user-images.githubusercontent.com/109452515/179396209-f2dcae45-bba7-4dd3-aa63-71255c43cd71.png)

[2022-07-17 12:01] thomasaugsten commented on #4676
We need an error report over 24h. Please post the new id in 24h again

[2022-07-17 12:26] Anonymous170722 commented on #4676
![Uploading 84A4FFBA-6F96-45D9-94B5-EC8C6A039E34.png…]()

[2022-07-17 12:26] Anonymous170722 commented on #4676
Ok, I will send a new report tomorrow. Thank you

[2022-07-17 12:26] dsarkar commented on #4676
@Anonymous170722 Thanks for reporting. please see

https://github.com/corona-warn-app/cwa-app-ios/issues/4676#issuecomment-1186497163

Internal Tracking ID: [EXPOSUREAPP-5836](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-5836)

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-07-18 06:33] larswmh commented on #4677
Thanks for your report @Ein-Tim. We have created an internal ticket for it and will raise this topic internally.
Internal Tracking ID: [EXPOSUREAPP-13640](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-13640)

Unfortunately, I was personally not able to reproduce this on both an iPhone 11 Pro Max (iOS 16 Beta) and an iPhone 8 (iOS 15.5) using the latest Corona-Warn-App versions. Is there any othe

[2022-07-18 07:05] Ein-Tim commented on #4677
@larswmh Maybe this bug is specific to the iPhone 6(s) display aspect ration. I can reliably reproduce this bug as well as on my real iPhone 6s & on an emulator iPhone 6s.

I will see if I can reproduce this on other iPhones using the emulator.

[2022-07-18 16:41] Anonymous170722 commented on #4676
Still not working.

[2022-07-18 17:37] thomasaugsten commented on #4676
It looks like a network issue
Cann you access on your phone this urls:

https://verification.coronawarn.app/version/v1
Whitelabel Error Page
https://svc90.main.px.t-online.de/version/v1/diagnosis-keys/country/EUR/date
List of dates

[2022-07-18 17:53] thomasaugsten commented on #4676
Identical to:
https://github.com/corona-warn-app/cwa-app-ios/issues/4462

[2022-07-18 18:14] Anonymous170722 commented on #4676
![0FD0691A-2908-4F77-8659-C5DA86FC678E](https://user-images.githubusercontent.com/109452515/179575949-b628fcfb-3bdd-4ced-9838-709eab30140a.png)
![284D6385-E5A1-475D-BC5A-715B7994E33A](https://user-images.githubusercontent.com/109452515/179575953-35a6faf6-4f8e-41a4-a911-b15016e63508.png)

No, I am sorry, I cannot open these.

[2022-07-19 08:23] mlenkeit commented on #4676
After evaluating the error logs that we got, it seems as if the analysis from https://github.com/corona-warn-app/cwa-app-ios/issues/4462#issuecomment-1122082267 wasn't quite accurate.

The error message `Unsupported protobuf type: 4` also pops up here, but the `4` doesn't seem to refer to the Protocol Buffer data type `sint32`, but to a [lower-level type](https://github.com/rettichschnidi/Exposure

[2022-07-19 08:25] mlenkeit commented on #4462
see https://github.com/corona-warn-app/cwa-app-ios/issues/4676#issuecomment-1188750849 for follow-up analysis

[2022-07-19 08:30] Ein-Tim commented on #4676
@mlenkeit Thanks for sharing your findings! Is there already a plan for with which version this fix will be shipped.

[2022-07-19 12:27] mlenkeit commented on #4462
@ndegendogo it's indeed rolling according to the [docs](https://developer.apple.com/documentation/exposurenotification/enmanager/3650384-detectexposures#discussion).

[2022-07-20 11:14] Ein-Tim opened #4689 "2.25.0-RC5 released as latest version"
https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.25.0-rc.5 was released
a) as latest version, although it should be a Pre-Release
~b) there are no release notes in the release.~

Please address these two points.

cc @30mar

[2022-07-20 13:02] Ein-Tim commented on #4677
- PR https://github.com/corona-warn-app/cwa-app-ios/pull/4690

[2022-07-20 13:10] puneetmahali1 commented on #4677
@Ein-Tim Thanks for mentioning the PR link. The bug has fixed now.

[2022-07-22 07:38] pvital opened #4694 "Received two increased-risk (red card) notifications with no encounter made."
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2022-07-22 14:35] pvital commented on #4694
@Ein-Tim, thanks for pointing out this entry in the FAQ. I ran all the FAQs but did not see this one.
Closing this ticket then.

[2022-07-22 14:35] #4694 closed

[2022-07-22 20:55] Ein-Tim commented on #4689
Will this issue be fixed soon? @naveeddotio

[2022-07-25 14:54] Ein-Tim commented on #4689
@naveeddotio

Hey Naveed, I hope you had a relaxing weekend! By any chance, could you fix this issue soon?

Stay safe & cool!
Tim

[2022-07-26 07:56] naveeddotio commented on #4689
@Ein-Tim @dsarkar Fixed.

[2022-07-26 07:56] #4689 closed

[2022-07-27 19:16] Ein-Tim opened #4699 "2.25.0 GitHub release is missing"
Version 2.25.0 has been released to the App Store & is available for download. Please create the corresponding GitHub release.

[2022-07-28 17:53] Ein-Tim commented on #4699
Fixed with https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.25.0

[2022-07-28 17:53] #4699 closed

[2022-07-31 11:02] Ein-Tim commented on #3772
Just to follow up: This bug was meanwhile fixed.

[2022-08-01 20:16] Ein-Tim opened #4703 "Infinite zoom out when previewing certificates using "Export all certificates""
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2022-08-01 20:17] Ein-Tim commented on #3560
@ndegendogo

Could you please check if this issue has been fixed in version 2.25?

[2022-08-01 20:19] Ein-Tim commented on #4617
Hey @toco,

I can confirm that this was implemented/fixed with version 2.25. Could you please cross check?

[2022-08-01 20:28] toco commented on #4617
Verified as fixed in 2.25.0 (5).
Tested with all camera/image picking flows I found in the app.
Thanks!

[2022-08-01 20:31] Ein-Tim commented on #4676
@Anonymous170722

Hey, could you please update to version 2.25 and check if this update fixed the issue?

[2022-08-01 21:19] toco commented on #4617
Sorry @Ein-Tim, I though I used the Close with comment button, but apparently not. Closing now.

[2022-08-01 21:19] #4617 closed

[2022-08-01 21:32] Anonymous170722 commented on #4676
Hi Tim,

Thank you, my App is working again and checking for potential Covid encounters.

Thanks for helping me!

Von meinem iPhone gesendet

[2022-08-02 22:35] Ein-Tim commented on #4621
So I'm red again and can confirm that this issue is fixed in version 2.25.

[2022-08-03 11:22] Ein-Tim commented on #4602
@nickguendling

Hey Nick, hope you're doing well! Did you also leave the project? I didn't see any PRs from you in the last months. 😅

[2022-08-03 19:11] ndegendogo commented on #4621
@Ein-Tim I wish you all the best - stay healthy!

[2022-08-04 09:06] nickguendling commented on #4602
@Ein-Tim

Hey Tim! I started a new project in June, working on CWA is not my main focus anymore. That's why you haven't seen new PRs from me. But I'm still available for the remaining team to help out, so I haven't fully left the project.

[2022-08-04 09:07] Ein-Tim commented on #4602
@nickguendling

Okay, nice to hear! All the best for your new project! Thanks for the great work you've done here!

[2022-08-04 09:30] nickguendling commented on #4602
@Ein-Tim

Thank you! I enjoyed it a lot to put everything I had into this project for almost two years. And I appreciate your continuing support, as well as the support we got and still get from all members of this community!

[2022-08-04 09:32] dsarkar commented on #4602
Dear @Ein-Tim, @MikeMcC399 and community! FYI, in August we, @larswmh, @svengabr, and @dsarkar from the Corona-Warn-App Open Source Team, will have only very sporadically a look here at the GitHub repositories of the CWA project. Thanks for all your input, contributions, constructive criticism .... Wish you all a pleasant August! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-08-04 09:37] Ein-Tim commented on #4602
Hey @dsarkar, thanks for the information!

I have some questions:

- What is the plan reg. mirroring issues to JIRA? Will this be done by the developers themselves?
- What about the CWA website? CMs always were responsible for updating its content, merging & reviewing PRs, etc.?
- Is this _break_ only planned for August or for an undefined period of time?

[2022-08-04 10:21] GisoSchroederSAP commented on #4602
All,
as we all waiting for further decission about the way forward, the current situation unfortunately, is quite strange: Capacity is limited in all areas of the app and infrastructure teams. Therefore, a significant number of tasks will definitely slow down for the next couple of weeks, until new decisions are made. Sorry for the inconveniences this might cause.

[2022-08-04 10:24] Ein-Tim commented on #4602
Hi @GisoSchroederSAP,
thanks for the information and for the insight! Is it possible for you to answer the questions I asked above or is this in the current situation not possible

[2022-08-04 22:02] ndegendogo commented on #3560
closing as fixed

[2022-08-04 22:02] #3560 closed

[2022-08-05 13:20] Johnnydriver38 opened #4711 "Fehler 13 persists After several weeks"
Hi everyone,
After I‘m receiving the Fehler 13 Since several Weeks I‘m reporting this Now as documented in your FAQs.

![DF479C66-C29C-4A2C-AB3A-6CE2DA2D60BC](https://user-images.githubusercontent.com/110676188/183085121-8e2e801d-869a-4586-9e05-bd8479a864e7.png)

## Technical details

- Device name: iPhone 6s
- iOS version: 15.6
- App version: 2.25.0

## Describe the bug
Mentioned error Comes up a

[2022-08-05 13:24] Ein-Tim commented on #4711
Hi @Johnnydriver38, thanks for reporting this issue!

Could you please activate error logging in the app for the next 24h and send us the ID tomorrow?

<details>
<summary>German steps</summary>

1. In der CWA auf dem Reiter "Status" ganz nach unten scrollen
2. Auf "App-Informationen" scrollen
3. Auf "Fehlerberichte"
4. Auf "Starten" tippen
5. Einmal _machen_, dass der Fehler auftaucht & den Fehler

[2022-08-05 13:25] Ein-Tim commented on #4612
Hey @Lulara14 & @tiny-slayer, does the error still occur for you? Or can we close this issue?

[2022-08-05 13:55] Johnnydriver38 commented on #4711
Hi @Ein-Tim,

sure, already done.
I‘ll come back to you tomorrow.

Best regards
Johnnydriver38

[2022-08-05 14:08] Lulara14 commented on #4612
It is solved now! Tks

Sent from my iPhone

[2022-08-05 14:12] Ein-Tim commented on #4711
@thomasaugsten FYI

[2022-08-06 13:59] Johnnydriver38 commented on #4711
Hi @Ein-Tim,

here is the ID of the requested log
![94F15C29-CE80-4CF4-8CE9-34D863B29444](https://user-images.githubusercontent.com/110676188/183252017-47abbec1-3afa-47d3-9bcb-5a05d31014a9.png)

Hopefully this helps to Identity the Root cause.
If you require anything else just let me know.

best regards
Johnnydriver38

[2022-08-06 14:08] thomasaugsten commented on #4711
The error log is very exact 24h but we need a little bit more minutes then 24h.
I would assume you should also see a different error then error 13.

[2022-08-06 14:21] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

I‘ve just checked the App again: I Received the Same error again, just as it is for weeks:

please Find the error and the log ID
below:
![A1EEEA75-7A5A-4980-95E3-0248BE3CC093](https://user-images.githubusercontent.com/110676188/183252864-af5ef0bb-2981-4aa5-944b-1dfccba388b2.png)
![BAFC95D6-2F3B-4BEB-9F68-984216FDA4BB](https://user-images.githubusercontent.com/110676188/18325286

[2022-08-07 11:56] tiny-slayer commented on #4612
The error is not happening anymore, thank you!

Kindest regards,
Aizhan

Sent from my iPhone

[2022-08-07 11:57] Ein-Tim commented on #4612
@thomasaugsten Please, could you close this issue?

[2022-08-07 12:18] #4612 closed

[2022-08-08 07:41] thomasaugsten commented on #4711
@Johnnydriver38 Can you please provide again a error report which runs over the last days?

[2022-08-08 09:35] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

sure, I‘ve run the log the Last days and the error persisted.

Here‘s the latest Log ID
![037A6FC4-71F0-42D6-A82D-15655E8DFB60](https://user-images.githubusercontent.com/110676188/183387648-99e61017-d68f-45c6-bdfc-3b3ea97ecc5a.png)

Best regards
Johnnydriver38

[2022-08-08 12:14] thomasaugsten commented on #4711
@Johnnydriver38
How much space is left on the device?
Please deactivate the "Hintergrundaktualisierung" in Corona-Warn settings of the iOS Settings.
And try to do a exposure check manually in the app if you see the error 13 please wait 24h to check manually  for exposures

[2022-08-08 16:49] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

there are around 8 GB Space available on my  device (which should be pretty sufficient).
I‘ve deactivated background updates as recommented and Check if manual exposure Work tomorrow.

[2022-08-09 13:39] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

I‘ve tried your proposed steps. They led however to the Same result, meaning getting Fehler 13 again

[2022-08-09 14:37] thomasaugsten commented on #4711
Ok can you provide a new error report id

[2022-08-09 16:51] ndegendogo commented on #4621
@mlenkeit sure - sorry, I forgot to mention this

And, by the way, meanwhile I am red again 👹👹 so I am even able to verify it myself.

Closing as resolved 🎉🎉

[2022-08-09 16:51] #4621 closed

[2022-08-10 14:32] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

sure, here is the latest Log & its ID.
![41881FB1-5643-49EB-885A-19B79B1444AC](https://user-images.githubusercontent.com/110676188/183928148-95e01ae4-00a3-4f31-a73a-6bb5ac287d64.png)

[2022-08-11 10:35] thomasaugsten commented on #4711
It looks like it is not issue on App side we need a log on operation system level.
Please contact me directly for a detailed instruction.
thomas.augsten@sap.com

[2022-08-11 17:14] Johnnydriver38 commented on #4711
@thomasaugsten: Done :)

[2022-08-13 12:33] Johnnydriver38 commented on #4711
@thomasaugsten I‘ve Provided you the requested data

[2022-08-17 09:21] Ein-Tim commented on #3631
- PR https://github.com/corona-warn-app/cwa-app-ios/pull/4730

[2022-08-17 15:14] sapcoder123 commented on #4703
@Ein-Tim Thank you for reporting the issue!

[2022-08-24 08:34] Johnnydriver38 commented on #4711
Hi @thomasaugsten,

any news/ Updates about this issue?

best regards
Johnnydriver38

[2022-08-24 08:38] thomasaugsten commented on #4711
We are still try to understand the issue. On the sysdiagnose it runs good no exception visible but from app side the exposure checks are not returning any results. I thinks it is device related the next step would be disabling and enabling the ENF in the OS settings.

[2022-08-25 17:44] Ein-Tim commented on #3854
@cebor, @tmechen, @rugk & @ndegendogo

Could you recheck how much space the CWA backup now takes for you? For me CWA is now only shown to be using ca. 20 MB, which is acceptable in my opinion (even though it would be better if it CWA wouldn't have a backup at all as it is of no use).

[2022-08-25 17:48] tmechen commented on #3854
still ~200mb wasted
![image](https://user-images.githubusercontent.com/9123876/186734317-d0049c98-6772-46c0-a397-3469105107ec.jpeg)

[2022-08-25 17:56] thomasaugsten commented on #3854
Please wait for recheck for v2.26 we do a further optimization in v2.26.
Release is planned next week.

[2022-08-25 18:03] Ein-Tim commented on #3854
@tmechen

Strange that it takes so much for you and only 20 MB for me...

@thomasaugsten Thanks, could you apply the `Fix 2.26` label & remove the `Fix 2.15` one from this issue?

[2022-08-27 20:31] Johnnydriver38 commented on #4711
Hi @thomasaugsten,
well it seems your last suggestion did it 👍🏼
Now the App is working as expected again!
Thanks for your time, Patience & guidance!
Cheesrs
Johnnydriver38

[2022-08-27 20:31] #4711 closed

[2022-08-28 15:54] Ein-Tim opened #4749 "Rename v2.26.0 release to v2.26.0-rc5?"
Should the https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.26.0-rc.5 release be renamed from `v2.26.0` to `v2.26.0-RC4`? Or is this the final version which has been released before the public release in the App Store?

cc @naveeddotio

[2022-08-29 10:27] Ein-Tim opened #4751 "2.26.1-RC0 is marked as latest release"
https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.26.0-rc.6 is a RC but has the tag "Latest Release" to it. Please change it to "Pre Release" @30mar.

Thanks!

[2022-08-29 11:31] mtwalli commented on #3648
@naveeddotio  or @30mar  can you transfer this issue to Android Repo ? I have no access here

[2022-08-29 11:57] Ein-Tim commented on #3648
@mtwalli For the record Android was now aligned to iOS, right? :D

[2022-08-29 12:07] mtwalli commented on #3648
Yes, according to latest comments on the ticket `"Installed 1 day ago"`  is the right wordings

[2022-08-30 08:44] Ein-Tim opened #4752 "Don't show UQS pop up for new installations (Align iOS to Android)"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2022-08-30 16:49] Ein-Tim opened #4754 "Wrong Button text if Background App Refresh is off & the device is connected via a cellular connection ("Aktualisierung nur alle 4 Stunden" instead of "Aktualisierung nur alle 24 Stunden")"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 Pr

[2022-08-31 15:17] Ein-Tim commented on #4749
@naveeddotio Could you please have a look & release version 2.26 as latest and fix this issue as well as #4751? That would be great!

[2022-08-31 17:31] naveeddotio commented on #4751
@Ein-Tim It is the latest release as it is the hot fix. The name contained RC which I have removed now.

[2022-08-31 17:31] #4751 closed

[2022-08-31 17:33] Ein-Tim commented on #4751
@naveeddotio

Thanks, I'm fine with the releases now!

[2022-08-31 17:33] #4749 closed

[2022-08-31 17:34] naveeddotio commented on #4749
@Ein-Tim It is correctly named as v2.26.0 as it was the final version release to the public.

[2022-08-31 19:16] Ein-Tim commented on #3854
@tmechen Can you recheck with version 2.26? I assume you have to carry out a new iCloud backup so that you can see whether CWA now takes less backup space.

[2022-08-31 19:46] thomasaugsten commented on #3854
I think
iOS Settings->General-> Space usage-> Corona-Warn should also give detail information about the space usage

[2022-08-31 19:48] Ein-Tim commented on #3854
@thomasaugsten Okay but this issue was explicitly about the space usage of the CWA in iCloud backups, but that should also be improved with version 2.26 right?

[2022-08-31 19:51] thomasaugsten commented on #3854
The space usage on both points should be improved

[2022-08-31 20:10] thomasaugsten commented on #3854
@tmechen
What is the usage of iOS Settings->General-> Space usage-> Corona-Warn

[2022-08-31 20:28] tmechen commented on #3854
![image](https://user-images.githubusercontent.com/9123876/187775767-870252f4-8838-4eb3-93d8-e15a73894174.jpeg)

[2022-09-14 15:07] sapcoder123 commented on #4752
@Ein-Tim Thank you for reporting the issue!

[2022-09-14 15:17] sapcoder123 commented on #4754
@Ein-Tim Thank you for reporting the issue!

[2022-09-27 15:27] Ein-Tim commented on #4703
- PR https://github.com/corona-warn-app/cwa-app-ios/pull/4802 fixes this issue.

The label `Fix 2.28` can be added to this issue.

[2022-09-28 11:52] Ein-Tim opened #4806 "Missing GitHub release for version 2.27"
There is no GitHub release for version 2.27 which is available in the App Store. Please create the corresponding GitHub release.

[2022-09-28 11:53] Ein-Tim commented on #4677
Fixed.

[2022-09-28 11:53] #4677 closed

[2022-09-28 14:59] Ein-Tim commented on #4806
@naveeddotio / @30mar

I'd be happy if you could
a) either change https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.27.0-rc.5 from a pre release to the latests version
b) or release a version 2.27.0 with the same text as https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.27.0-rc.5

[2022-09-30 13:15] sapcoder123 commented on #4806
In the meantime the release is labeled with “Latest” in the sense of your described option a), right? The visible date is not the exact release date but this is also not the case in the past.

@Ein-Tim Would you like to close this issue now?

[2022-09-30 13:16] Ein-Tim commented on #4806
It was quite often the exact release date to the public in the past, but I'm satisfied with how it is now.

[2022-09-30 13:16] #4806 closed

[2022-10-01 10:55] Neuwessi11 opened #4813 "Falscher Impfstatus"
Ich habe in der App nur meine letzten zwei von drei Impfungen gespeichert. Auch wenn die dritte Impfung als Auffrischimpfung gegeben und (meines Wissens) zertifiziert wurde, zeigt mir die CWA deshalb seit einem der letzten Updates einen unvollständigen Impfstatus an. Mein Impfstatus ist aber, wie gesagt, vollständig (Alter: 47).

Ein Versuch, den QR-Code der ersten Impfung zu scannen, misslang, we

[2022-10-01 11:09] Neuwessi11 commented on #4813
Hallo Ein-Tim,
danke für die schnelle Nachfrage.

Aus dieser Nachfrage würde ich schließen, dass es sich um ein neues Janssen-Problem handeln könnte.

Auf meinem ersten (Papier-)Zertifikat steht: Janssen 1/1
Auf meinem zweiten Zertifikat steht Comirnaty 2/2
Auf meinem dritten Zertifikat steht Comirnaty 2/1

In der App wurde das auch so übernommen.
Für die dritte Impfung steht "2 of 1"
Für die zwei

[2022-10-01 11:13] Neuwessi11 commented on #4813
Und nein, das sind keine Tippfehler meinerseits, sondern die von mir korrekt wiedergegebenen Angaben aus den Zertifikaten.

[2022-10-01 11:15] thomasaugsten commented on #4813
Das dritte Zertifikat wurde nach einem falschen Schema ausgestellt. Korrekt wäre ein 3/3 gewesen. Deswegen solltest du auf die ausstellende Stelle zugehen und eine Korrektur beantragen.

[2022-10-01 11:19] Neuwessi11 commented on #4813
Vielen Dank für die schnelle Antwort1

Werde ich ausprobieren. Mal sehen, was sie sagen ...

[2022-10-04 11:38] dsarkar commented on #4356
@ndegendogo @Ein-Tim

The dev team looked into this issue, and apparently this is something not solvable from development side. Either this  needs a fix from Apple or it could be that it is already fixed.

Unless there are no more reports on this topic this issue considered obsolete for now. Thanks for reporting!

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-10-04 15:21] dsarkar commented on #4813
@Neuwessi11

Das sollte eigentlich funktionieren. Wie lautet die genaue Fehlermeldung? Evtl Screenshot?

Best wishes, DS
---
Corona-Warn-App Open Source Team

[2022-10-04 15:34] Neuwessi11 commented on #4813
Hm, anscheinend muss ich da auch zurückrudern. Gerade eben kam nur die Fehlermeldung, dass das Zertifikat bereits in der App registriert sei, was soweit auch stimmt. Zwar mit "Zertifikat abgelaufen", was ja auch richtig ist, allerdings kann man auch keinen QR-Code des Zertifikats sehen, was mich ein bisschen wundert, aber u.U. auch erwünschtes Verhalten sein könnte.

Da ich jetzt selber wissen wol

[2022-10-08 09:42] ndegendogo commented on #4356
I have not seen this error code again.
And I agree that the app development team cannot further analyse or solve this.

Closing.

[2022-10-08 09:42] #4356 closed

[2022-10-08 10:46] skra72 opened #4825 "Validity of Certificate test should always have the current date and time pre-filled"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [x] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2022-10-08 10:57] skra72 opened #4826 "Note of booster vaccination shown for kids"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone
- iOS

[2022-10-08 11:00] Ein-Tim commented on #4826
This is not a bug but intended. The IFSG does not differentiate by age. This means, that to be "fully vaccinated" according to law, all people, regardless of their age, need at least 3 vaccinations (or something equivalent).

See also https://github.com/corona-warn-app/cwa-wishlist/issues/862.

Please close this issue. Thanks & stay healthy!

[2022-10-08 11:03] Ein-Tim commented on #3839
@dsarkar

Please reopen this issue, as it occurs again.

[2022-10-08 11:04] Ein-Tim commented on #4825
Thanks for reporting this issue!

This was fixed before (version 2.23) but it seems like the change was reverted later.

Here's the issue I opened back when the feature was implemented: https://github.com/corona-warn-app/cwa-app-ios/issues/3839

[2022-10-08 11:09] Ein-Tim commented on #4826
The "Check validity for travel [!]" checks whether you can enter Germany with these certificates. As there are currently no entry regulations for Germany (=no proof of vaccination/recovery/test is needed), the check passes.

[2022-10-08 12:50] #4826 closed

[2022-10-10 06:05] dsarkar commented on #3839
Good morning @Ein-Tim,

I cannot reproduce on iPhone 6s. Could you send a screenshot and technical details of your device? Thanks for your feedback.

[2022-10-10 06:11] Ein-Tim commented on #3839
@dsarkar I guess it's better to follow up in #4825, see my comment there.

[2022-10-10 06:11] #3839 closed

[2022-10-10 06:13] Ein-Tim commented on #4825
@dsarkar

While the picker was changed so that the user can't select dates in the past, the "default" date isn't now but rather the last time the feature was used. Thus a check against a date in the past is still possible.

Here are two screenshots where you can see this problem.

<img src="https://user-images.githubusercontent.com/67682506/194807230-08458aa0-3797-402f-9207-10b68b579034.png" width

[2022-10-10 06:18] dsarkar commented on #4825
@Ein-Tim Many thanks, got it!

[2022-10-10 06:21] dsarkar commented on #4825
@skra72 Thanks for reporting, we will create an internal ticket.

[2022-10-10 14:40] dsarkar commented on #4813
@Neuwessi11 Kann dieses Issue geschlossen werden? Gibt es Neuigkeiten dazu?

[2022-10-11 07:26] Neuwessi11 commented on #4813
Ich bin noch nicht dazu gekommen, beim Arzt vorbeizuschauen.
Wenn ich aber mal davon ausgehe, dass Ihr wisst, was Ihr sagt, würde ich sagen, dass es geschlossen werden kann. Und wenn sich später wider Erwarten herausstellen sollte, dass das Problem doch eine andere Ursache hat, kann ich mich ja in diesem Thread erneut melden, um ihn ggf. wieder öffnen zu lassen, oder?
Vielen Dank nochmal!

[2022-10-11 07:26] #4813 closed

[2022-10-11 09:29] Leblek22 commented on #4348
Ja, 2.19.04.Gesendet mit der GMX Mail AppAm 18.03.22 um 10:04 schrieb Tim

                    Von: "Tim" ***@***.***>Datum: 18. März 2022An: "corona-warn-app/cwa-app-ios" ***@***.***>Cc: "Mention" ***@***.***>,"Leblek22" ***@***.***>Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 seit >24 (Issue #4348)

Hi @Leblek22 Nutzt du die neuste Version der App?

—Reply to this email directly, view it

[2022-10-11 10:12] dsarkar commented on #4348
@Leblek22 Das Problem besteht weiterhin auf mit CWA Version 2.27? Wenn dem so ist, bitte noch mal Fehlerlogging starten und mindestens 24 h laufen lassen und auch die Fehlermeldung(en) abwarten bevor der Fehlerbericht abgeschickt wird. Im Anschluss bitte die Fehlerbericht ID uns hier mitteilen und in welchem Zusammenhang (wenn offensichtlich) der Fehlerauftritt, z.B. Testregistrieren, Testergebnis

[2022-10-11 10:28] dsarkar commented on #4813
@Neuwessi11 Ok, danke, wir warten auf's Feedback!

[2022-10-11 17:43] Ein-Tim commented on #2690
Please apply the "Fix 2.28" label to this issue, as it was fixed with https://github.com/corona-warn-app/cwa-app-ios/pull/4831.

[2022-10-13 19:37] Ein-Tim opened #4840 "Close old milestones"
* [x] None of the other issue templates apply to this issue.

https://github.com/corona-warn-app/cwa-app-ios/milestones shows quite a few open milestones, although only the 2.28.0 is the one the team is currently working on. Please close the old ones. Thanks!

[2022-10-20 07:27] Ein-Tim commented on #4840
@naveeddotio Will you do that?

[2022-10-25 05:25] Ein-Tim commented on #4840
@30mar seems like @naveeddotio is currently not available for this task, maybe you could do that?

[2022-10-26 12:45] #4840 closed

[2022-10-26 13:15] dsarkar commented on #3796
@ndegendogo Dev team's feedback is, that this issue cannot be reproduced anymore. Are you still able to reproduce? Thanks.

[2022-10-26 13:15] dsarkar commented on #3796
Internal Tracking ID: [EXPOSUREAPP-10545](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10545)

[2022-10-26 13:27] Ein-Tim commented on #3796
@dsarkar Maybe re-open this issue until clarified?

[2022-10-31 12:40] dsarkar commented on #4090
Hi @p13rr37, thanks again for reporting. Since this issue became stale, we are closing it. Should you still experience any problems, please open a new issue or write here you're feedback.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2022-10-31 12:40] #4090 closed

[2022-10-31 12:42] dsarkar commented on #4019
@mss1010 The dev team could no reproduce this issue and also had a look into the code. Did you experience similar issues since you reported?

[2022-10-31 12:43] #4602 closed

[2022-10-31 14:04] mss1010 commented on #4019
No, I think we can close the issue

[2022-10-31 14:04] #4019 closed

[2022-11-05 13:30] Ein-Tim commented on #4703
Confrim fixed.

[2022-11-05 13:30] #4703 closed

[2022-11-05 13:32] Ein-Tim commented on #2690
@dsarkar Could you please ask the team if this is the intended look for that screen (background color of headline "Risiko-Ermittlung" differs from the rest of the background):
<img src="https://user-images.githubusercontent.com/67682506/200122421-253ab6b5-5f6b-4d2e-80ff-f58d183180b8.jpeg" width="300">

[2022-11-08 08:05] dsarkar commented on #4703
@Ein-Tim Thanks for the feedback.

[2022-11-11 15:06] Ein-Tim commented on #4348
@dsarkar I think this issue is stale and should be closed.

[2022-11-11 15:07] Ein-Tim commented on #4408
@ndegendogo Please close this issue now. There has not been any activity here for a prolonged period of time.

[2022-11-11 15:09] Ein-Tim commented on #2690
@dsarkar All issues in this thread have been fixed. It can be closed now.

[2022-11-11 15:26] larswmh commented on #2690
Thanks for the information @Ein-Tim. As all issues in this thread have been fixed, I will now close this issue.

[2022-11-11 15:26] #2690 closed

[2022-11-11 19:40] ndegendogo commented on #4408
@Ein-Tim thanks for your reminder.

Indeed, it is time to close this ticket. **cwa has been very reliable in the last months.** 🎉🎉🎉

[2022-11-11 19:40] #4408 closed

[2022-11-19 23:01] Ein-Tim opened #4893 "Please merge the 2.29.0 & 3.0.0 milestone"
* [X] None of the other issue templates apply to this issue.

Could you please merge the 2.29.0 & 3.0.0 milestone? This would be easiest by just renaming the 2.29.0 one and deleting the 3.0.0. All PRs earlier assigned to the 3.0.0 milestone, which you delete, should then be assigned to the renamed 2.29.0 one.

[2022-11-30 15:07] Ein-Tim commented on #4893
@naveeddotio Would you do that, please?

[2022-11-30 15:13] Ein-Tim opened #4906 "CWA does not perform risk checks in the background for 3 days, opens with ENF error 13"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2022-11-30 15:16] Ein-Tim commented on #4906
Quick analysis of the log:
- something with ENError 16
- and then this:
[code]

[2022-11-30 15:17] thomasaugsten commented on #4906
The error 13 rate limit is accurate because also failed checks counting into the rate limit. The device tries in the background to check and fails and used quota of the rate limit. The error 13 is shown to the user if 48 no succes exposure check was possible

[2022-11-30 15:17] Ein-Tim commented on #4906
@thomasaugsten But where does ENError 16 come from?

[2022-11-30 15:18] Ein-Tim commented on #4906
We had a discussion about this in https://github.com/corona-warn-app/cwa-app-ios/issues/3970#issuecomment-991821839, where @ndegendogo described the same problem. Is it known when the ENF throws error 16 (my device had not been restarted IIRC)?

[2022-11-30 15:20] thomasaugsten commented on #4906
https://developer.apple.com/documentation/exposurenotification/enerror/code/datainaccessible
The error should occur if the device is not unlocked after restarting the device. But we see this error happens without no reason. The recommendation was to ignore the error.

[2022-11-30 15:23] Ein-Tim commented on #4906
@thomasaugsten But failed risk checks with ENError 16 seems to count into the rate limit, which then leads to error 13, so ignoring the error is not really possible as it can cause other errors. For normal users, things like this can become a real problem, as they are likely to not open the CWA as regularly as I do.

Can you tell from the logs whether a dead man notification was scheduled? I can't

[2022-11-30 15:28] thomasaugsten commented on #4906
I don't think error 16 count into the rate limit. The reason is very likely not enough background time to do a exposure check. But we need a complete log for this

[2022-11-30 15:33] Ein-Tim commented on #4906
@thomasaugsten What do you mean with "compelete log"? The full log for the timespan 2022-11-25 till 2022-11-28 is here: [gist.github.com/Ein-Tim/d97d66e21852cfdf33e65ac1db963015](https://gist.github.com/Ein-Tim/d97d66e21852cfdf33e65ac1db963015)