[2021-07-14 07:50] dsarkar commented on #2907
@Ein-Tim We updated the internal ticket accordingly. Thanks.

[2021-07-14 22:02] Ein-Tim opened #3159 "Suggestions on Rapid Test Profile (`textContentType` fields) don't work"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-14 22:08] mtrinkau commented on #2758
Hi there - unfortunately the issue still persists…

Best
Marc

[2021-07-14 22:10] Ein-Tim commented on #2758
Hi @mtrinkau

Thank you for your feedback. Could you let us know if your still on iOS 14.5.1 and if you're on the version 2.5 of the app?

Thank you!

[2021-07-14 22:22] mtrinkau commented on #2758
Hi there,

Am on IOS 14.6 now and App version 2.5.1.

Best
M

[2021-07-14 22:28] Ein-Tim commented on #2758
@mtrinkau Thank you for the update. Could you upload a screenshot of your "Begegnungsüberprüfungen" here?
Below you find an instruction on how you can find the screen I mean. To upload a photo on GitHub, you have to either use https://GitHub.com or the mobile app (https://github.com/mobile). You can't upload the screenshot via mail, sadly.

Please make a screenshot of:

`Einstellungen` ➡️ `Begegnu

[2021-07-15 07:25] ndegendogo commented on #2758
@mtrinkau please try to remember as much details related to your Error-13 message; especially:
1) Can you remember the date and time? (even roughly - so we can try to map the message to the timing if your exposure checks)
2) Do you remember more details: did you open the app / were you using it at that time? Or was the failing check triggered from background processing?
3) If you were using the ap

[2021-07-15 08:18] Jakre73 opened #3161 "Name of a Check-in location not shown properly"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 Pr

[2021-07-15 08:22] dsarkar commented on #3161
@Jakre73 Thanks for your report. Internal Tracking ID: [EXPOSUREAPP-](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-)

---
Corona-Warn-App Open Source Team

[2021-07-15 08:56] dsarkar commented on #3161
I cannot reproduce on iPhone 6s / iOS 14.4 / CWA 2.5.1

[2021-07-15 09:09] Ein-Tim commented on #3161
I will try to reproduce with iOS 14.6 vs. iOS 15.0

[2021-07-15 09:14] dsarkar commented on #3161
@Jakre73 This issue can be observed only in dark mode, not white mode?

[2021-07-15 09:18] Ein-Tim commented on #3161
Not reproducible:

iPhone XR - iOS 14.6 - CWA 2.5.1 - Darkmode active
iPhone 6s - iOS 15.0 (19A5281j) - CWA 2.5.1 - Darkmode active

I assume you're on the Developer Beta, I'm on the Public Beta. Thus you're on iOS 15 Developer Beta 3 and I'm on iOS 15 Pubic Beta 2. So there is a chance that this issue was introduced with iOS 15 Beta 3. I will check again when I got the update.

[2021-07-15 09:28] dsarkar commented on #3161
@Jakre73 @Ein-Tim Alright, thanks. So far it looks more like an iOS issue.

[2021-07-15 09:30] Jakre73 commented on #3161
Hi @Ein-Tim  & @dsarkar ,
yes, it is only reproducible in dark mode, white mode works fine. And yes it is Dev Beta 3 (introduced yesterday I think).

Just tried it with an iPhone XR & iPhone 11 on iOS 15.0 public Beta 2 and on the same iPhones with iOS 14.6 and there the bug is also not reproducable. So it is only related to the newest developer build of iOS 15.

[2021-07-15 09:30] jucktnich opened #3163 "You plan an event screen ui bug"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [?] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE 1

[2021-07-15 09:31] Jakre73 commented on #3161
I'll submit a feedback to apple regarding the bug (y)

[2021-07-15 09:32] Ein-Tim commented on #3161
@dsarkar Do we still want to track this here even if it's a iOS 15 Beta 3 only issue is? I assume it would make more sense to close it for now and come back to it once we're close to the final release of iOS 15, to check whether this was fixed.

[2021-07-15 09:39] dsarkar commented on #3161
@Ein-Tim I leave it to @Jakre73 to close (or not) this issue. No problem to keep it open and track this issue. I added the apple label, indicating that this is not a CWA issue but an Apple/iOS related issue.

[2021-07-15 09:44] Jakre73 commented on #3161
I'd suggest that I'll close the request and I'll re-open it (or maybe someone else will notice the bug again) if we're coming closer to the final release (shouldn't take that long).

[2021-07-15 09:44] #3161 closed

[2021-07-15 09:45] dsarkar commented on #3163
@jucktnich Actually I observed the same, but didn't find the steps how to reproduce. iPhone 6s/ iOS 14.4 / CWA 2.5.1

[2021-07-15 09:48] Ein-Tim commented on #3163
I'll try to reproduce this. After some quick tests on my iPhone 6s (iOS 15 Beta 2) & iPhone XR (iOS 14.6) I can't reproduce this. I'll try with the emulator when I have time.

[2021-07-15 09:48] dsarkar commented on #3161
@Jakre73 Thanks for contributing here.

[2021-07-16 06:16] rupprechtt opened #3174 "Time of vaccination certificate until turns blue - different with IOS and Android"
Me and my friend got vaccinated the same day. My android phone turned blue one day earlier than his iPhone.
Data on digitial certificates (print outs) are correct.

[2021-07-16 06:18] rupprechtt commented on #3174
With the iPhone it took 17 days (including day of vaccination and the day the certificate turned blue) - with android one day less.

[2021-07-16 09:05] Ein-Tim commented on #3174
@rupprechtt

Please let us know if both, your friend and you, use the latests app version (2.5.1).

[2021-07-16 10:53] rupprechtt commented on #3174
The error occured with version 2.4.2.

[2021-07-16 11:01] Ein-Tim commented on #3174
@rupprechtt There were some issues with the calculation when the vaccination certificate is valid (under Android there was version [2.4.3](https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.4.3), which further improved this).
I would therefor suggest to retest on version 2.5.

[2021-07-16 11:50] rupprechtt commented on #3174
@Ein-Tim The erroneous caculation is present in this iOS app only. (At least according to official data)

[2021-07-16 12:11] Ein-Tim commented on #3174
@rupprechtt

But please cross check with version 2.5 there were some issues with the calculation in version 2.3 & 2.4 but AFAIK everything has been fixed in version 2.5.

[2021-07-16 13:50] dsarkar commented on #3174
@rupprechtt Thanks for your report.

Full immunity should be shown **after** 14 days. The day of vaccination is not counted, since, for example, a person could have been vaccinated at 23:59.

As @Ein-Tim already asked, please let us know the following:

- Corona-Warn-App iOS version number
- date of vaccination
- date when Corona-Warn-App iOS showed full immunity
- date when Corona-Warn-App Androi

[2021-07-16 13:58] dsarkar commented on #3174
|count||day after vaccination|
|--|--|--|
|1|Day of vaccination||
|2|||
|3||1|
|4||2|
|5||3|
|6||4|
|7||5|
|8||6|
|9||7|
|10||8|
|11||9|
|12||10|
|13||11|
|14||12|
|15||13|
|16||14|
|17|CWA shows immunity|15|

[2021-07-16 14:14] Ein-Tim commented on #3138
Android (?) PR: https://github.com/corona-warn-app/cwa-app-android/pull/3740

[2021-07-16 14:18] rupprechtt commented on #3174
@dsarkar

iOS Version 2.4.2
Day of vaccination 30.06.21 (Wednesday)
iOS CWA showed full immunity today (16.07.21) (Friday)
Android CWA showed full immunity yesterday (15.07.21) (Thursday)

I double checked this, since we both scanned the certificates on the day of vaccination and the andoird app said "14 days until full immunity", whereas the iOS app said "15 days ..."

Following your table, full

[2021-07-16 14:37] dsarkar commented on #3174
|Count||Day (multiples of 24 h) after vaccination|Date|
|--|--|--|--|
|1|Day of vaccination||30.6.|
|2|||1.7.|
|3||1|2.7.|
|4||2|3.7.|
|5||3|4.7.|
|6||4|5.7.|
|7||5|6.7.|
|8||6|7.7.|
|9||7|8.7.|
|10||8|9.7.|
|11||9|10.7.|
|12||10|11.7.|
|13||11|12.7.|
|14||12|13.7.|
|15||13|14.7.|
|16|Android CWA 2.??? showed full immunity |14|15.7.|
|17|iOS  CWA  2.4.2 showed full immunity |15|16.7.|

@rupprechtt

[2021-07-16 14:55] rupprechtt commented on #3174
@dsarkar That's right.

Android CWA version is 2.5.1 today. However, it was version 2.4.2 or 2.4.3 when I scanned the qr code (30.6.21). The countdown of both apps, andoird and ios, were consitent over time (Every day one day less, iOS always one additional day). At least for the Android CWA, the version update had no effect on the time until full immunity.

Unfortunatley I dont have any screensho

[2021-07-16 15:00] Ein-Tim commented on #3174
I think the thing was that Android showed "1 Tag bis zum Vollständigen Impfschutz" and then "Voller Impfschutz morgen" while iOS only showed "1 Tag bis zum Vollständigen Impfschutz" and the the full vaccination protection.

I urge you, again, to re-test with CWA 2.5.1 on both, iOS & Android.

[2021-07-16 15:10] rupprechtt commented on #3174
@Ein-Tim

As said.
Second dose on the same day (Wednesday)
Andoird: full immunity (Thrusday 2 weeks later)
iOS: full immunity (Friday 2 weeks later)

I reported just today, to be sure that the certificates are issued on diffrent days and not only (for whatever reason) diffrent strings in the GUI are used.

Since both certificates should have been issued yesterday, updating to CWA 2.5.1. should not

[2021-07-16 15:16] Ein-Tim commented on #3174
@rupprechtt

You could test if iOS & Android behave the same way now by changing the system time.

Alternatively, I'd like to ask @dsarkar to talk to the devs who can cross check whether iOS & Android behave the same now.

[2021-07-16 15:23] dsarkar commented on #3174
@rupprechtt @Ein-Tim I tested. It seems correct. Stand by for screenshots.

[2021-07-16 15:24] rupprechtt commented on #3174
@Ein-Tim
Unfortunatley the iPhone user is on vaccation since today, thus testing is hardley possible.
Nevertheless, I don't think that changing the system time affects the certificate appearance, does it? What happens if I change the system date to last year after my vaccination?

[2021-07-16 15:31] Ein-Tim commented on #3174
@rupprechtt

You can change whats shown (the data in the QR-Code is not affected) by changing the system time, more infos: https://github.com/corona-warn-app/cwa-documentation/issues/642

@dsarkar Thank you!

[2021-07-16 15:32] rupprechtt commented on #3174
@Ein-Tim All right. I try catching him ;)

[2021-07-16 15:42] Ein-Tim commented on #3174
@rupprechtt Thanks for your efforts, but since @dsarkar said he can confirm that everything works now, so I think you can let your friend enjoy his vacation (;

Have a nice Friday!

[2021-07-16 15:46] dsarkar commented on #3174
@rupprechtt @Ein-Tim See the right column of the table https://github.com/corona-warn-app/cwa-app-ios/issues/3174#issuecomment-881498434

29.5. Date of vaccination
...
12.06. iOS CWA 2.5.1 shows: vaccination protection is complete tomorrow. See right screenshot.
13.06. iOS CWA 2.5.1 shows: no specific message! See left screenshot.

So, at least with 2.5.1 the behaviour is correct!

![image](https:

[2021-07-16 15:49] rupprechtt commented on #3174
@dsarkar That's what its all about! ;) (y)

[2021-07-16 15:49] #3174 closed

[2021-07-16 15:50] dsarkar commented on #3174
@rupprechtt Thanks for reporting and contributing here! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-07-16 16:22] bembeltogo opened #3184 "QR Code Vaccination Certificate cut off on smaller screens"
## Duplikate vermeiden
* [x] Diese Erweiterungsanfrage wurde noch nicht gestellt
* [x] Die Verbesserungsanfrage ist nur für iOS spezifisch, für allgemeine Probleme / Fragen, die für iOS und Android gelten, werfen Sie sie bitte in [CWA-Wishlist] auf (https://github.com/corona-warn-app/cwa-wishlist)
* [x] Wenn Sie eine neue Funktion vorschlagen, tun Sie dies bitte in [CWA-Wunschliste] (https://githu

[2021-07-16 16:48] Ein-Tim commented on #3184
**Translation:**

## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona

[2021-07-17 07:57] ndegendogo opened #3185 "Build on branch release/2.5.x fails (community build) - HealthCertificateToolkit package is missing"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: XCode Simula

[2021-07-17 08:49] Ein-Tim commented on #3185
I am **not** able to reproduce this, I can build as described above without any problems. The only difference is that I have a iOS 14.5 simulator. Build folder was cleaned before the build.

[2021-07-17 09:27] ndegendogo commented on #2758
A few observations and thoughts:
* error 13 means that cwa has [called ENF too often](https://developer.apple.com/documentation/exposurenotification/enerror/code/ratelimited). Apple specifies a maximum of [6 calls per 24 hours](https://developer.apple.com/documentation/exposurenotification/enmanager/3586331-detectexposures)
* the behaviour of error 13 looks like a race condition
* the first part o

[2021-07-17 13:43] ndegendogo commented on #3185
it seems that the branch fix/community-build-june-edition was never merged (and maybe for reasons, so the fix possibly conflict with some other changes ....)

@Ein-Tim do you build a **clean** release/2.5.x or did you merge it with the abovementioned branch?
Did you ever checkout that branch, or was #2862 already fixed for you with the deletion of the json file?

[2021-07-17 18:20] Ein-Tim commented on #3185
@ndegendogo I did build a clean `release/2.5.x` branch. I did not merge anything. I checked out the branch back when we had the issue before (#2862). I could remove the repo and clone it again, but tbh, I'm happy that it works for me 😅

[2021-07-17 21:17] ndegendogo commented on #3185
@Ein-Tim Please do not risk to "kill" your working environment!! 😱😱

[2021-07-17 22:58] Ein-Tim opened #3187 "Missing notifications setting to deactivate checkout notification"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-18 07:15] ndegendogo commented on #2758
Wow, what an incident ... now I just got this error message myself ... 🤣

[2021-07-18 07:46] ndegendogo commented on #2758
So, answering all the questions that arise in such a case:
* cwa 2.5.1 / iOS 14.4.1 / iPhone 8
* As you see in the screenshot, I got the message today at 08:33.
* I got the message just after I had opened the app today for the first time (actually, I wanted to add an entry to my contact diary).
* It was definitely not my first launch with cwa 2.5; I had gone through the "new features" dialog only

[2021-07-18 07:56] ndegendogo commented on #2758
... and the only irregularity I see in my ENF log is that tonight the check at 02:34 was skipped.
Although this happens often at night.
Note: I have WLAN coverage, and don't activate any specific power saving mode.

[ExposureChecks-2021-07-18.json.txt](https://github.com/corona-warn-app/cwa-app-ios/files/6835840/ExposureChecks-2021-07-18.json.txt)

[2021-07-18 08:01] ndegendogo commented on #2758
Update: At 09:59 I started cwa again to activate the logging function.
**This time I got no error message.**

[2021-07-18 09:45] Ein-Tim commented on #2758
@ndegendogo

Dis the start screen of the app show "Risiko-Überprüfung fehlgeschlagen"? Or was the card still green?

[2021-07-18 10:43] ndegendogo commented on #2758
@Ein-Tim no, it just showed the green test at 06:35

[2021-07-18 16:17] ndegendogo commented on #2758
Or, can it be an "overhang" error message from a previous (failing) check in background mode?
And I saw it only when I opened the app?

*... just wild guesswork...*

[2021-07-18 16:51] ndegendogo commented on #2758
Update: I did not open the app again during the day. **My risk check is back to normal**, I got a check from background at 14:17 and then at 18:28.

[2021-07-18 21:44] Ein-Tim opened #3188 ""Exposure check failed" without internet connection"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-18 21:57] Ein-Tim opened #3189 "UI: Add padding on top of the "Change length of stay for:" screen"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-07-18 22:25] ndegendogo commented on #2758
What will happen if the ENF returns with error from detectExposures?
=> risk check failed
=> cwa will store no new timestamp
=> next trigger for risk check will get no rate limit
=> cwa will call ENF before waiting another 4 hours
=> ENF will return error 13?

[2021-07-19 09:22] Ein-Tim commented on #3188
@heinezen / @dsarkar

I see this as a high prio element, could we have this mirrored to JIRA so that it might be fixed in the next release?

[2021-07-19 16:24] bondskin opened #3203 "Certificate sorting sequence (Test prior to Vaccination)"
## Avoid duplicates
* [ X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone
- iO

[2021-07-19 17:13] niz11 commented on #1198
This is the worse design I ever encountered in my life.

Open the Bug again!

[2021-07-19 18:23] Ein-Tim commented on #1198
@roussec

It's not a bug, it's a feature. In this wishlist issue I explained why this choice was met: https://github.com/corona-warn-app/cwa-wishlist/issues/389

[2021-07-19 18:41] niz11 commented on #1198
It's just bad, call it as you want to call it.

There MUST be a way to register your QR code again for a second time.

[2021-07-19 18:46] Ein-Tim commented on #1198
@roussec

Please open a new issue for this [here](https://github.com/corona-warn-app/cwa-wishlist/issues/new/choose).

[2021-07-19 19:28] jucktnich commented on #1198
@Ein-Tim I can't find something under https://github.com/corona-warn-app/cwa-wishlist/issues/389

[2021-07-19 19:38] Ein-Tim commented on #1198
@jucktnich

Thx for the hint, was the wrong link: https://github.com/corona-warn-app/cwa-wishlist/issues/426

[2021-07-19 20:52] Ein-Tim commented on #2849
iOS 14.7 has been released, please retest with iOS 14.7.

[2021-07-20 03:17] niz11 commented on #1198
I opened a feature request, but I still believe the current issue here should be reopened.

[2021-07-20 08:13] Ein-Tim commented on #1198
@heinezen @dsarkar FYI

[2021-07-20 09:48] webdesignweisshart commented on #2849
Sorry, apparently no improvement at all with iOS 14.7

[2021-07-20 09:55] dsarkar commented on #1198
@niz11 @Ein-Tim @jucktnich Thanks for the contributions here.

That the QR code can be scanned only once has technical reasons. This specific QR code is used to transfer the test result and then eventually to share a positive result with other CWA users, if the user agrees to share. If this QR code could be scanned several times, one could manipulate the system with duplicate positives, which is o

[2021-07-20 12:44] ooottttooo opened #3205 "Make CoronaWarnApp more fun: Konfetti for a completed vaccination"
Hinweis: das ist ein ernst gemeinter Vorschlag!

## Current Implementation

Nachdem ich mein zweites Impfzertifikat hochgeladen und ggf. noch 14 Tage gewartet habe, passiert... nichts. Nur eine langweilige Meldung. Ich hatte wenigstens erwartet, dass ich ein "Herzlichen Glückwunsch" oder so etwas erhalte.

## Suggested Enhancement

Gebt uns eine Belohnung! Die französische ToutAntiCovid-App (https

[2021-07-20 16:20] jucktnich opened #3213 "[Local Statistics] Add spacing between the add and the edit button"
## Avoid duplicates
* [x] This enhancement request has not already been raised before
* [?] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [x] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-07-20 19:56] ndegendogo commented on #2758
@dsarkar @heinezen have the developers started to work on this proposal?
Would they accept a PR?
@Ein-Tim and me volunteer to do it 😁

[2021-07-20 21:20] FlightMS commented on #2806
„Dokumente & Daten“ are still increasing on my iPhone. Now it‘s about 212,2 MB.

[2021-07-20 21:27] Ein-Tim commented on #2806
I'll now start logging my numbers here:

iPhone XR:

App Größe: 32,1 MB
Dokumente & Daten: 129,9 MB -> Contact diary entries, COVID certificates

---

iPhone 6s:

App Größe: 31,6 MB
Dokumente & Daten: 23,9 MB -> No contact diary entries, only one COVID certificate

[2021-07-20 22:04] Ein-Tim commented on #2806
@thomasaugsten

You said back in https://github.com/corona-warn-app/cwa-app-ios/issues/1549#issuecomment-737714790 that iOS doesn't automatically "clean up temporary system files of the app" and that you "add a feature to trigger this system clean up manually", is this still in place and works?

[2021-07-21 07:51] dsarkar commented on #2806
@FlightMS @Ein-Tim Thanks for the update. Forwarded into the internal ticket.

[2021-07-21 08:01] rgrenz commented on #3203
Hi @bondskin, there is a specific sorting order that determines which certificate is seen as most relevant (see [here](https://github.com/corona-warn-app/cwa-app-ios/blob/536c9c09b2e76544322aa818892f6414263f4275/src/xcode/ENA/ENA/Source/Services/HealthCertificate/Models/Extensions/HealthCertificateArray%2BMostRelevant.swift#L40)). In that way, a recent PCR / Rapid Antigen Test certificate "outweig

[2021-07-21 08:03] bondskin commented on #3203
Excellent, that does make sense indeed. I was not sure if the sorting is by random or by relevance.
Thanks for the explanation

[2021-07-21 08:05] dsarkar commented on #3203
@bondskin @rgrenz Indeed, this works as designed. It's not random, but there are rules in which order certificates are shown.

---
Corona-Warn-App Open Source Team

[2021-07-21 08:24] Ein-Tim commented on #3203
@bondskin

Do you consider this as solved? If you want to open an enhancement request regarding this, please do so [here](https://github.com/corona-warn-app/cwa-wishlist/issues/new/choose).

Otherwise you could close this issue. Thanks!

[2021-07-21 08:24] #3203 closed

[2021-07-22 21:02] Jens07 opened #3231 "No push notification for RAT result"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2021-07-22 21:05] Ein-Tim commented on #3231
@Jens07

Do you have "Settings" -> "Notifications" -> "Status of your COVID-19 test" active?

[2021-07-22 21:23] Jens07 commented on #3231
Yes. All the time. I never changed that setting. But I never get a notification. I always had to open the result manually in my app.

[2021-07-22 21:28] Ein-Tim commented on #3231
Okay thanks @Jens07

Can you check if CWA is allowed to access notifications in the iOS settings? I guess so.
If yes, please [create an event on the website](https://www.coronawarn.app/en/eventregistration/) (or in the app, how you like, set the automatic check out time to 15 and close the app (you can either just exit it by swiping from the bottom to the top or also kill the app via the app switc

[2021-07-22 22:21] Jens07 commented on #3231
I got the notification on my lock screen.
![image](https://user-images.githubusercontent.com/68737429/126716718-01cc2304-531a-4399-b086-8a520bc9f3bd.jpeg)

[2021-07-22 22:31] Ein-Tim commented on #3231
@Jens07

Okay thanks... Strange, to me it seems like the CWA has access to notifications and it should work.
I'd say this is all I can do for you at the moment, the devs should take a look here.

[2021-07-24 21:26] hija opened #3243 "Spelling / Grammar mistake (?)"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)  --> Felt wrong to post in the documentation because the grammar / spelling error is not written down

[2021-07-24 21:47] Ein-Tim commented on #3243
@hija

Just for your information: We use the documentation repository not only for issues with the documents there but also for issues which affect the apps on both operating systems, iOS & Android.
So yes, I'd suggest to post the issue there and close this one here. Alternatively, one of the community managers will transfer it there.

Thanks and have a nice evening.

[2021-07-24 21:55] hija commented on #3243
Alright, going to do so :)
Thanks 👍

[2021-07-24 21:55] #3243 closed

[2021-07-25 10:47] Ein-Tim commented on #3188
**Important**: This only happens when there are Check-Ins!

[2021-07-25 19:36] heinezen commented on #2965
Since the feature is still declined and the situation regarding the IOS wallet has not changed so far, we will close this issue again. We will reopen the issue if a solution has been found.

----
Corona-Warn-App Open Source Team

[2021-07-25 19:36] #2965 closed

[2021-07-26 08:03] dsarkar commented on #3188
@Ein-Tim Thanks for the info, it is forwarded to the internal ticket.

[2021-07-26 16:29] Ein-Tim commented on #3188
@dsarkar

Thank you! Could you let us know which priority this has and if we can expect a fix in version 2.7.

[2021-07-26 20:04] Ein-Tim commented on #3149
Same somehow happens here (personalized negative RAT result):
<img src="https://user-images.githubusercontent.com/67682506/127051596-11f1d570-052c-4ead-98d9-bdd618e55afe.jpeg" width="300">

[2021-07-27 03:04] dsarkar commented on #3149
PR: https://github.com/corona-warn-app/cwa-app-ios/pull/3152

[2021-07-27 07:10] #3089 closed

[2021-07-27 08:54] Ein-Tim commented on #3149
@dsarkar

Sure about that? This was a negative test result and the case I reported in the OP has still not been fixed.

[2021-07-27 08:55] Ein-Tim commented on #3089
@moritzdorn ￼

Did you close this by accident? Or do you consider this as fixed?

[2021-07-27 08:56] moritzdorn commented on #3089
I closed it because its fixed

[2021-07-27 09:49] Ein-Tim commented on #3231
I registered a PCR-test in the app yesterday and got the notification that my test result is available ("Es gibt Neuigkeiten von Ihrer Corona-Warn-App") today at 10:00h.

So I am **not** able to reproduce this on my iPhone XR, running iOS 14.7.1 and CWA 2.5.1.

[2021-07-27 09:50] Ein-Tim commented on #2694
Just experienced this yesterday with a PCR test again, I'd suggest to log this message but not show it to the user, as it has 0 information value for them. I'll open a new issue for this.

[2021-07-27 10:11] Ein-Tim opened #3254 "Don't show the "Your test result cannot be loaded. The response has no content" error to the user"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-07-27 10:22] Ein-Tim opened #3256 "Test certificate for PCR test: "Error during certificate retrieval" (DCC_COMP_202)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-27 10:34] Ein-Tim commented on #2758
Hi @dsarkar or @heinezen

Did you ask the developers about @ndegendogo's [proposal](https://github.com/corona-warn-app/cwa-app-ios/issues/2758#issuecomment-883654556)? Would they accept a PR trying to fix this?

[2021-07-27 16:04] heinezen commented on #3256
@Ein-Tim

Thanks for reporting. This is a backend issue that was assumed to be fixed in June. We will investigate why it reappeared.

----
Corona-Warn-App Open Source Team

[2021-07-27 16:07] heinezen commented on #3254
@Ein-Tim Did the error in https://github.com/corona-warn-app/cwa-app-ios/issues/2694 occur again?

----
Corona-Warn-App Open Source Team

[2021-07-27 16:08] Ein-Tim commented on #3254
@heinezen

Yes, yesterday after I registered a PCR-test, see https://github.com/corona-warn-app/cwa-app-ios/issues/2694#issuecomment-887373613.

[2021-07-27 16:14] heinezen commented on #3231
@Jens07

Thanks for reporting the issue. I've created an internal ticket for the dev team. They will try to investigate the problem.

----
Corona-Warn-App Open Source Team

[2021-07-27 16:16] heinezen commented on #3254
@Ein-Tim Ah I see. I think it's better to reopen https://github.com/corona-warn-app/cwa-app-ios/issues/2694 and check if we can get a proper solution instead of just suppressing the error message.

----
Corona-Warn-App Open Source Team

[2021-07-27 16:16] heinezen commented on #2694
Reopened because the error happened again (https://github.com/corona-warn-app/cwa-app-ios/issues/2694#issuecomment-887373613).

----
Corona-Warn-App Open Source Team

[2021-07-27 16:22] heinezen commented on #2758
@ndegendogo @Ein-Tim

I've asked for clarification on this issue a while ago, but sadly didn't get an update so far. I can ask again, but there's nothing new to report so far.

----
Corona-Warn-App Open Source Team

[2021-07-27 16:29] Ein-Tim commented on #3254
@heinezen I agree with you, let's continue in #2694.

[2021-07-27 16:29] #3254 closed

[2021-07-27 16:30] Ein-Tim commented on #2758
@heinezen Okay, thanks. So if I understand this correctly, nobody is working on this and @ndegendogo and I can provide a PR.

[2021-07-27 16:56] heinezen commented on #2758
@Ein-Tim @ndegendogo Yeah, I don't think the dev team has something aainst a PR on this topic.

----
Corona-Warn-App Open Source Team

[2021-07-27 17:08] dsarkar commented on #3149
@Ein-Tim According to the internal ticket this issue should have been fixed. We are now shortly before the roll out of the next release 2.6, so I am afraid, at this stage it will be re-testing with R 2.6.

[2021-07-27 18:21] Jens07 commented on #3231
Please note that I never registered a PCR-test. In all cases I registered RAPID TESTS.

[2021-07-27 22:05] Ein-Tim opened #3259 "Is it intended that test results stored in the contact diary are not exported?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
I've re

[2021-07-28 08:44] Ein-Tim commented on #3149
This has been fixed in version 2.6.

Closing as fixed.

[2021-07-28 08:44] #3149 closed

[2021-07-28 08:45] Ein-Tim commented on #3039
This has been fixed in version 2.6.

Closing as fixed.

[2021-07-28 08:45] #3039 closed

[2021-07-28 08:45] Ein-Tim opened #3261 "What does the DCC_COMP_202 error mean?"
## Your Question

This question is related to https://github.com/corona-warn-app/cwa-app-ios/issues/3256.

What does the DCC_COMP_202 error mean?

[2021-07-28 08:45] #3261 closed

[2021-07-28 08:47] ascheibal commented on #3261
I faced this DCC_COMP_202 shown in modal dialog, while 'in the same moment' receiving the dcc certificate in the background, so it may be related to more than one pending requests at a time.

[2021-07-28 08:47] Ein-Tim commented on #2159
This has been **implemented** in version 2.6.

Closing as implemented.

[2021-07-28 08:47] #2159 closed

[2021-07-28 09:56] jucktnich opened #3262 "[RAT-profile] Not able to use the Siri suggestions"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE 1

[2021-07-28 09:57] Ein-Tim commented on #3262
Duplicate of #3159

[2021-07-28 09:59] jucktnich commented on #3262
Oh yeah, dunno why I didn't found it 🙈

[2021-07-28 09:59] #3262 closed

[2021-07-28 10:24] jucktnich opened #3265 "[Statistics cards] Start on a statistics car"
## Avoid duplicates
* [x] This enhancement request has not already been raised before
* [?] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [x] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-07-28 10:26] Ein-Tim opened #3266 "Problem with certificate validity check for the Netherlands"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-28 11:01] fynngodau commented on #3266
Android shows the same behavior. For the second card, it looks a little different and not like it was designed this way:

![Screenshot_1627469975](https://user-images.githubusercontent.com/16943720/127311769-d0207a0d-dab6-4bed-9e13-1b546ace8438.png)

[2021-07-28 11:07] thomasaugsten commented on #3266
This works as expected. Netherlands requieres a schema version 1.3 but your vaccinate certificates is created before Juli this means with schema version 1.0. We address this already to the Netherlands but we have no information if and when they plan to downgrade the business rules.

[2021-07-28 11:10] Ein-Tim commented on #3266
@thomasaugsten

Okay thanks. I'll leave this open for further communication. It's really not optimal for the end user.

[2021-07-28 15:50] dsarkar commented on #2955
Re-opened since there are more reports on this issue and related PRs.

[2021-07-28 19:47] Ein-Tim commented on #3266
Please transfer this issue to the documentation repository.

[2021-07-28 19:51] Ein-Tim commented on #3266
FYI: Everybody who got their vaccination certificate via the https://impfzentren.bayern/citizen/ can download a new certificate which is created with the latest schema. This then validates correctly in CWA.

[2021-07-29 15:22] jucktnich opened #3274 "Check Validity Screen: Top isn’t blurred after clicking on validate for another country"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE 1

[2021-07-30 08:48] Ein-Tim commented on #3261
@ascheibal

That is actually possible, see the log I posted in https://github.com/corona-warn-app/cwa-app-ios/issues/3256. There is one background task trying to receive the certificate and then the user (in this case me) also tries to receive it.

[2021-07-30 09:43] ndegendogo opened #3283 "Implement a MockENManager for the community build"
## Avoid duplicates
* [x] This enhancement request has not already been raised before
* [x] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ ] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-07-30 11:27] freshking commented on #3159
@Ein-Tim Please check out PR #3285. This will allow selection of toolbar suggestions.

[2021-07-30 21:46] Ein-Tim opened #3289 "Glitch in scrolling the main screen 2.0"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-07-31 10:08] Ein-Tim commented on #2806
11 days have passed since [my last comment](https://github.com/corona-warn-app/cwa-app-ios/issues/2806#issuecomment-883719952) and here are my new numbers:

iPhone XR:

- CWA-Version: 2.6.2
- iOS-Version: 14.7.1
- App Größe: 37,3 MB
- Dokumente & Daten: 172,4 MB -> Increase of ca. 50 MB? Why?
---

iPhone 6s:

- CWA-Version: 2.6.2
- iOS-Version: 15.0 Public Beta 4
- App Größe: 36,3 MB
- Dokumente &

[2021-07-31 10:12] jucktnich commented on #3289
There are Hangers etc all over the app (iPhone SE 1). I thought, that this is just my old device, but maybe not, as this glitch also appears on a iPhone XR.

[2021-07-31 11:42] FlightMS commented on #2806
I can also share my new numbers here:

On my iPhone 11 „Dokumente & Daten“ is now about 221,2 MB with version 2.6.2.
I‘ve entered one rapid test result and scanned one check-in QR code within the last 14 days.

[2021-07-31 18:40] Ein-Tim commented on #3231
I can **confirm** this issue. After I had a RAT done at 17:44h, received the mail with the result at 17:04h there was no push notification in the CWA until now. I have opened the app now, since I wanted to check if there is a certificate available for this test.

This has to be fixed. My app was hard closed. iPhone XR, iOS 14.7.1, CWA 2.6.2.

[2021-07-31 18:56] thomasaugsten commented on #3231
Because of the local notification we can notify immediately. On iOS i can take up to 2 hours for the notification.

[2021-07-31 19:23] Ein-Tim commented on #3231
@thomasaugsten

I also didn't receive a notification after 2h, not even after nearly 3.

So I'd suggest that you check this internally and make sure everything is alright.

[2021-07-31 19:38] thomasaugsten commented on #3231
Maybe you can retest this until you receive a notification

[2021-07-31 19:40] Ein-Tim commented on #3231
@thomasaugsten I will be off for vacation next week but afterwards I can test 👍

[2021-08-01 09:03] jucktnich commented on #3231
@thomasaugsten can't an App set the importance of its push notification? I thought you can register a notification as time critical, so the OS plays the notification immediately.

[2021-08-01 09:51] thomasaugsten commented on #3231
It is a little more complex on iOS. At the end iOS will decide how often you receive background time with the ENF we have privilege status but not enough to receive every  20min background time

[2021-08-01 09:59] jucktnich commented on #3231
Ah yeah now I get the point. You wanted to say, that you can't fetch the test result that often (and push notifications aren't possible cause of privacy concerns), right?

[2021-08-01 10:23] jucktnich commented on #3231
Would it be ok￼ from a privacy side (and technically feasible) to send an empty silent push notification to *all* CWAs, so they can fetch the data they need.

[2021-08-01 10:55] Ein-Tim opened #3290 "Local statistics card(s) disappears"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11 Pr

[2021-08-01 13:35] thomasaugsten commented on #3231
Silent push notifications involves Apple and this result in privacy concerns

[2021-08-01 13:55] jucktnich commented on #3231
@thomasaugsten i just want to push a "please wake up and if you need to, fetch your data"

[2021-08-01 16:00] jwildeboer opened #3291 "Vaccination Certificate rules check fails for Netherlands"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2021-08-01 16:31] jucktnich commented on #3291
Probably a duplicate of https://github.com/corona-warn-app/cwa-documentation/issues/671

[2021-08-01 16:39] jwildeboer commented on #3291
Seems to be. But why is that one in documentation? Doesn't really make sense to me. It's an app issue, IMHO.

[2021-08-01 16:47] jwildeboer commented on #3291
Ok. So after reading the other issue, I gather:

- my certificate uses schema V1.0, whereas the Dutch rules require V1.3

My question thus becomes: Why doesn't the CWA give that information as a warning/error message but instead a long list of issues with my certificate that are unrelated to core problem - a schema version mismatch?

[2021-08-01 16:53] nodomain opened #3292 "UX improvement: adding local incidence card has to be explained"
## Avoid duplicates
* [x] This enhancement request has not already been raised before
* [x] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ ] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-08-01 19:01] jucktnich commented on #3291
The bug does affect both OSs so it's in the documentation repo.
I suggest to post your question in the other issue and close you're issue in favour of the other.

[2021-08-01 21:33] jwildeboer commented on #3291
Reluctantly closing this but absolutely not happy with the current situation. Elevated by the fact that I actually am Dutch and was planning to visit family and am now confused about if my certificate will be accepted or not.

[2021-08-01 21:34] #3291 closed

[2021-08-02 10:17] dsarkar commented on #3291
Internal Tracking ID: [EXPOSUREAPP-8786](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8786)

[2021-08-02 15:48] mrlnc commented on #2286
My pull request https://github.com/corona-warn-app/cwa-app-ios/pull/2924 was closed, was this issue resolved? @marcussc

The issue still appears in the app store version.

[2021-08-02 15:51] marcussc commented on #2286
@mrlnc sorry GitHub automatically closed the Issue since the target branch has been deleted. Somehow I am not able to change the target branch nor reopen it.
Are you able to do so?

[2021-08-02 16:08] mrlnc commented on #2286
Sorry, I missed that. Is the PR any helpful? I'd consider to re-submit then. But it seems that the onboarding UX is frozen anyways.

[2021-08-03 09:23] marcussc commented on #2286
@mrlnc sorry for the slight delay with my answer.
Yes, it would be very nice if you could reopen your PR against the release/2.8.x branch

[2021-08-03 15:09] Jens07 commented on #3231
@thomasaugsten

The result of a RAT is usually available after 15 minutes. I fear that nearly nobody will wait until 2 hours. It's the sense of a RAT to get a result in a short time. The consequence will be that the users assume that there is no notification service or they suppose a failure in the cwa. I really can't imagine that users will wait 2 hours long.

I think it's a good idea of @jucktni

[2021-08-03 16:25] pvieito commented on #2965
For anyone interested, I have opened a Feedback to Apple, FB9448541:

[code]

[2021-08-03 18:38] ndegendogo commented on #3185
@heinezen @dsarkar any news on this?
Or any hints or workarounds for me?

[2021-08-03 20:02] rogatec commented on #2965
True story at the vaccination center for my first jab in Bavaria:
I had to hand over my iPhone for scanning the registration, because the scanner cable was too short. So the iPhone was completely unlocked behind the glasses.

[2021-08-04 06:58] ndegendogo commented on #3185
Yesterday I tried with the newest branch release/2.8.x
it is still broken

Maybe it is related to the integration of the HealthCertificateToolkit,
especially with the discussion at
https://github.com/corona-warn-app/cwa-app-ios/pull/2880

*just guessing*

[2021-08-04 07:20] dsarkar commented on #3290
Internal Tracking ID: [EXPOSUREAPP-8753](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8753)
Internal Tracking ID: [EXPOSUREAPP-8762](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8762)
PR https://github.com/corona-warn-app/cwa-app-ios/pull/3287

[2021-08-04 11:25] marcussc commented on #3185
@ndegendogo I just freshly checkout out the codebase with the 2.8.x branch. I see no build error. Also we have a our CI-Pipeline setup to check the community target, this seems to work fine as well.
Could you try a fresh `git clone` and see if the Issue still persist?

[2021-08-04 12:50] ezadoo commented on #2965
Exactly, I've experienced this too, also from both sides.
As I did the checkin myself, I've experienced this problem multiple times.

But this case doesn't exist in the minds of the developers here, neither does the option to disable the wallet access from lockscreen.

[2021-08-04 13:14] ndegendogo commented on #3185
@marcussc Thanks for reaching out.
I tried this yesterday also with a fresh clone, and on a new machine where I had never built cwa before; but I will try this evening again.
I forgot maybe to mention that I was using the XCode GUI to build.
Do you build with the GUI, or do you perform a command-line build?

[2021-08-04 13:22] ndegendogo commented on #3185
@marcussc also yesterday I had played a bit with the XCode project file. I think I found a change that at least the package dependencies were resolved and the compiler seemed to have started (not sure if it finished successfully), but I got then another error message, related to lint and the vendor folder ...
I am considering to open a PR for this change, although I don't know much about your work

[2021-08-04 13:39] dsarkar commented on #2965
Dear @ezadoo, dear community.

We will come back to this thread with any news if there should be any new development regarding this issue, and of course in the meantime feel free to continue the discussion here. Just for clarification: The developers do not decide which features will be implemented. This is to be decided by several other stakeholders, amongst them BMG and RKI.

---
Corona-Warn-App

[2021-08-04 17:11] jajoho opened #3317 "Contact diary empty and all persons and places deleted"
CWA closed itself. After that all entries from my contact diary and all persons/places are deleted.
I haven’t done anything special. Just opened the app, it seems it crashed and after that I opened it again and everything was empty/deleted. My vaccination certificate is still available and also locals statistics.

CWA 2.6.3
iOS 14.7.1

[2021-08-04 20:33] ndegendogo commented on #3185
ok, so more details now.
I am building from the Xcode IDE (Xcode version 12.4).
Build was first broken with cwa v2.4 (release/2.4.x branch), see #2862, and this was fixed on branch fix/community-build-june-edition.
Unfortunately, my build is still broken on all other branches since then (release/2.5.x, release/2.6.x, release/2.7.x, and now release/2.8.x).
The build does not even resolve the packag

[2021-08-05 09:48] dsarkar commented on #3317
@jajoho Thanks for the report. Is this the first and only time this happens? Can you reproduce this issue?

---
Corona-Warn-App Open Source Team

[2021-08-05 10:06] jajoho commented on #3317
@dsarkar yes, this happened for the first time. Unfortunately I'm unable to reproduce this. My storage is scarce. That's the only reason I can think of.

[2021-08-05 11:29] marcussc commented on #3185
@ndegendogo One of our devs might had the Idea what is going wrong: https://github.com/corona-warn-app/cwa-app-ios/pull/3318#pullrequestreview-723001982 could you check this on your side? :)

[2021-08-05 12:37] jucktnich commented on #3185
I just wanted to add, that I'm not able to build the app too. (macOS 11.5.1 / Xcode 12.? / M1)

[2021-08-05 14:59] marcussc commented on #3185
We just update the Readme to make it more clear which project file to use: https://github.com/corona-warn-app/cwa-app-ios/pull/3323

@jucktnich could you please go into more detail why you are not able to build the app?

[2021-08-05 15:27] jucktnich commented on #3185
I don't know. It's a week since then and I just tryed to build the app, cause I had some little ideas I wanted to try, but the error message from ndegendogo looks familiar to me. I don't have Access to the Mac now, so I can't try it.

[2021-08-05 20:29] ndegendogo commented on #3185
@marcussc @ArturFriesen

YES! The xcworkspace was the right question / hint, now it resolves all packages nicely out of the box 🎉🎉🎉🎉🎉

**Thanks also for this!**

*The error message with the missing file with the mysterious name persists - but now I have the strong suspicion that its because my git client is too old ... I have only 1.8.4 and especially no support for lfs* 😱🙈

[2021-08-06 07:30] ndegendogo commented on #2758
... just to document the key points of our [discussion with the devs](https://github.com/corona-warn-app/cwa-app-ios/pull/3284#issuecomment-890104094) so far ...
* according to Apple, error returns don't count against the ENF rate limit
* the root cause of ENError 13 is not yet understood, it occurs rarely, usually heals itself, and cannot be reproduced
* the risk of changing (and possibly breakin

[2021-08-06 07:38] ndegendogo commented on #1941
Closing this ticket in favour of [this comment](https://github.com/corona-warn-app/cwa-app-ios/issues/2758#issuecomment-881866936) which refers to a much newer version of the implementation

[2021-08-06 07:38] #1941 closed

[2021-08-06 09:21] marcussc commented on #3185
@ndegendogo nice to hear!
Yeah the `size: can't open file: 27813542 (No such file or directory)` seems to be an Issue due to git-lfs. Our internal and easiest fixed seemed to be to just delete the repo locally and clone it again.

[2021-08-06 10:50] Jens07 commented on #3231
@thomasaugsten

I'm not @Ein-Tim but I also made another trial to get a notification after a RAT. The result was available since 5th August, 4:57 pm on the website of my test center. Until 7:10 pm I didn't get a notification for the CWA. Unfortunately I couldn't test it any longer because I had to open the app for the "check in" function.

[2021-08-06 11:34] dsarkar commented on #3231
@Jens07 Thanks for the info. forwarded to internal ticket.

[2021-08-06 15:08] Wega1234 opened #3329 "Fehler 13"
<No actualization since 19.07.
Thanks for reporting a bug 🙌 ❤️

Before opening a new issue, please make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

Also, be sure to check our documentation first: https://github.com/corona-

[2021-08-06 17:24] ndegendogo commented on #3185
@marcussc my current git is too old, it does not support lfs
I guess I have to upgrade my git ...

Thanks for the hint... so this might be needed in case the "new" git istallation is reluctant to take over ...

[2021-08-07 15:42] jucktnich opened #3331 "[Statistics Card] Incidences cards different position of the incidences"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE 1

[2021-08-07 16:11] Ein-Tim commented on #3329
Hi @Wega1234

Could we get some more information on the problem, please?

[2021-08-07 16:14] Ein-Tim commented on #3331
Could be that this has already been fixed for version 2.7 with: #3325

[2021-08-07 16:22] Ein-Tim commented on #3317
@jajoho

What were you doing when the app crashed?

[2021-08-07 16:29] Ein-Tim commented on #3290
@dsarkar

Has this been fixed in version 2.6.3?

[2021-08-07 17:07] jajoho commented on #3317
@Ein-Tim
Just opening it. It crashes immediately after

[2021-08-07 17:16] Ein-Tim commented on #3317
Strange, which device are you using @jajoho?

[2021-08-07 17:18] jajoho commented on #3317
iPhone 11 Pro

[2021-08-07 17:24] Ein-Tim commented on #3317
@jajoho Okay (one more, hopefully) the last question from my side; How much free space is still available?

[2021-08-07 20:43] jajoho commented on #3317
@Ein-Tim
No worries :)
A little bit less than 1 GB

[2021-08-07 20:55] Ein-Tim commented on #3317
Mh, okay, I could only imagine that CWA tried to clean up the old contact journal entries (AFAIK it always does this at app start) and then the task for this crashed somehow (which then leaded to a crash of the whole application). This could be related to the very few free MBs on the device, but maybe also something completely different...

[2021-08-08 00:50] Ein-Tim opened #3332 "UI: Empty space at the bottom of the "My Check-Ins" screen"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-08-08 03:15] heinezen commented on #3290
@Ein-Tim It should be fixed.

----
Corona-Warn-App Open Source Team

[2021-08-08 09:01] jucktnich commented on #3317
May the free Storage was under 500 MB?

[2021-08-08 09:29] jajoho commented on #3317
@jucktnich

Yes, it is definitely possible that I had less than 500 MB of free storage at the time.

[2021-08-08 10:01] jucktnich commented on #3317
Ok, this means, that the app maybe couldn't write something.

[2021-08-08 10:02] Ein-Tim commented on #3290
@heinezen

Thank you!

Closing as fixed.

[2021-08-08 10:02] #3290 closed

[2021-08-08 11:47] Wega1234 commented on #3329
Hello Tim,
2 pictures - Hope That helps

Regard
Wega1234

Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/emailmobilapp_ios_smartphone_footerlink.htm>

-----Original-Nachricht-----
Von: Tim ***@***.*** ***@***.***> >
Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 (#3329)
Datum: 07.08.2021, 18:11 Uhr
An: corona-warn-app/cwa-app-ios ***@***.***
***@***.***> >
CC: Wega12

[2021-08-08 11:52] Ein-Tim commented on #3329
@Wega1234

Sadly, I can't see the pictures.
If you want to upload pictures, please use either the GitHub Mobile App (https://github.com/mobile) or the website: https://github.com

[2021-08-09 07:07] dsarkar commented on #3329
@Wega1234 Thanks for reporting here. As @Ein-Tim already requested, could you provide us more information, please:

- Device model
- CWA version
- iOS version
- Error 13 appeared during once day, or since several days repeatedly?
- If so, since when?
- Did you do an update of the CWA version, and then the error appeared?
- Did you do an App reset, and then the error appeared?
- Or anything else, t

[2021-08-09 07:46] dsarkar commented on #3317
@jajoho If at some point you can reproduce this issue, let us know, please. In such a case an error report would help the developers to analyse this issue.

[2021-08-09 09:58] jajoho commented on #3317
@dsarkar @jucktnich

I've tried to reproduce this by reducing my free storage to less than 500 MB, but CWA did not crash and my contact journals entries were not deleted. It seems I'm unable to reproduce. I will open this ticket again if anything changes.

[2021-08-09 09:58] #3317 closed

[2021-08-09 10:02] jucktnich commented on #3317
@jajoho you can, if you want to, go to "Datenschutz" ➜ "Analyse & Verbesserungen" ➜ "Analysedaten" and then search for the date and time and maybe you'll find something there, since such bugs can be also produced by the OS

[2021-08-09 10:12] jajoho commented on #3317
@jucktnich I've already searched there and couldn't find anything related to a crash of iOS or CWA or anything else

[2021-08-09 10:16] Ein-Tim commented on #3317
@jajoho The CWA log would be called something with ENA. Is there an entry called ENA...?

[2021-08-09 10:22] jajoho commented on #3317
@Ein-Tim Unfortunately not :(

[2021-08-09 21:13] ndegendogo commented on #3185
I am back 🎉🎉🎉
Everything is working again 🎉🎉🎉
Thanks for all your support 🎉🎉🎉

Summarizing the two key points:
1) *cannot resolve packages, HealthCertificateToolkit missing*
**=> use the ENA.xcworkspace** (not the project file)
2) *vendor/swiftlint ... oid: command not found ... size: can't open file: 27813542 (No such file or directory)*
**=> install git-lfs**

closing the ticket

[2021-08-09 21:13] #3185 closed

[2021-08-10 07:50] ndegendogo commented on #3231
@jucktnich if I understand your proposal right - no, it is not a good idea to wakeup the devices of **all** cwa users with a short frequency like 20 minutes or less, only because one user is waiting for their RAT result. It would have a massive impact on battery time for all with very little benefit.

However, what I could imagine is to setup a local timer; only after the RAT is registered; first

[2021-08-10 08:15] thomasaugsten commented on #3231
On iOS you cannot fix schedule background time. The OS decided when you are allowed to get background execution time. You can only trigger an request

[2021-08-10 08:41] jucktnich commented on #3231
And is it ok, from a privacy POV ok, to send a silent push notification to every device waiting for an result/rat result? Maybe ask the user if it's ok for them. (The server sending the push notifications needs to be independent from the other servers, this server should just take the request send the silent push notification in a given Intervall for this time to this IP-Adress, nothing more).

[2021-08-10 08:58] Ein-Tim commented on #3231
@thomasaugsten

But I mean CWA can also send me a push notification at exactly that time I was checked-out from an event so why can't CWA schedule what @ndegendogo proposed?

[2021-08-10 09:01] thomasaugsten commented on #3231
This is a scheduled notification. The user will receive a notification but you will not grant background time to check for example test results

[2021-08-10 09:17] Ein-Tim commented on #3231
Okay, thanks. Then maybe it should be investigated if it makes sense to also schedule a notification in 15 min when a RAT is registered. This notification could say: "Please don't forget to open your Corona-Warn-App to receive your test result."

[2021-08-10 09:55] ndegendogo commented on #3231
@jucktnich I may be wrong here; but as to my understanding the server has no awareness which **devices** are waiting for a RAT result, and cannot address them selectively.
The whole data flow was specified with the server agnostic, and responsibility of the device to poll.

[2021-08-10 09:58] jucktnich commented on #3231
@ndegendogo My proposal is, like stated in parentheses, that there's an independent server, which the app calls, ￼and then the server pushes silent notifications every 20mins for 3 days to the calling IP-Address.

[2021-08-10 18:01] ndegendogo commented on #3188
@Ein-Tim not sure.

This morning I saw the ticket and tried to reproduce the error message. Of course(?) I failed. Then I saw this comment and stopped trying.

I went to work and opened the app to add my collegues to my contact diary.
**And then I got the error message** 🙈

Note that I don't have any check-ins; I have never used this feature. However, I had done a (PCR) test which is outdated mean

[2021-08-10 23:07] Ein-Tim commented on #3188
@ndegendogo

Thanks for the information, this is really interesting!

Background of this note: I first saw this bug on my main device, an iPhone XR, when I had one Check-In. Then I tried to reproduce this on my second device without any Check-Ins and failed. After I did some testing I wanted to try if I could reproduce this issue if I created an event and checked-in. After I had checked-in, the se

[2021-08-11 09:31] omearaco opened #3346 "Release on Canadian/American App Store?"
I have a Canadian Apple store account and unfortunately the iOS app can’t be installed on my iPhone. Is it possible to release it on that App Store ? I live permanently in Munich.

[2021-08-11 09:44] Ein-Tim commented on #3346
Hi @omearaco

Thank you for your question. I'd suggest you read through the FAQ entry: https://www.coronawarn.app/en/faq/#international which answers the question why the Corona-Warn-App is not available in the App Stores of all countries worldwide.

In our wishlist repository https://github.com/corona-warn-app/cwa-wishlist you can suggest the release of the CWA in new countries.

For Canada, ther

[2021-08-11 09:49] omearaco commented on #3346
Thanks @Ein-Tim ! Apologies for not seeing that documentation. I’ll bring it up in the other thread. Thanks!

[2021-08-11 09:49] #3346 closed

[2021-08-11 17:59] Wega1234 commented on #3329
Hello,

Device Model: IPhone XR
CWA Version: 2.6.3. (0)
IOS Version: 14.6
Error 13 since several days, Last update 19.7.
Awareness since End of July, tried several days always with the same error.
Update CWA: think i did, but I am not sure.
App reset: no - because of the Information belle

pple/iOS]: Fehler 13
Der Fehler 13 kommt aus dem Exposure Notification Framework, das von Apple
bereitgestell

[2021-08-11 18:24] ndegendogo commented on #3329
@Wega1234  Could you please try and leave the app alone (don't open it) for the next 24 hours?
After this time you can use it again, we expect the error will heal itself after this time. Please report back if this was successful.

*Note: the root cause of this error is under investigation, but currently it is not yet clear.*

[2021-08-11 18:37] Jens07 commented on #3231
@thomasaugsten

Today, 11th August, I made another RAT. The result was, according to the website, available since 6:53 pm. At 7:29 pm I got the push notification from the cwa. I used, just as my test on 5th August, iOS 14.7.1 and CWA-Version 2.6.3.

[2021-08-11 19:46] ndegendogo opened #3352 "No exposure check for 36 hours"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8
- i

[2021-08-11 20:01] ndegendogo commented on #3352
More screenshots: when I open the app now, I get again / still the error message.
The in-app settings show everything is active.

![IMG_1195](https://user-images.githubusercontent.com/6118267/129095212-011f660f-1cb4-46ec-9456-f68cf85e2128.png)

![IMG_1196](https://user-images.githubusercontent.com/6118267/129095248-d358e50e-57ae-43a5-acb9-6064a88ca8de.png)

[2021-08-11 20:21] ndegendogo commented on #3352
**A few lines from my log file:**
*has a risk check started but never finished, and this blocks now more risk checks?*

Info 2021-08-11T20:02:52Z
[ENA/RiskProvider.swift:98] [requestRisk(userInitiated:timeoutInterval:)]
RiskProvider: Request risk was called. UserInitiated: false

Info 2021-08-11T20:02:52Z
[ENA/RiskProvider.swift:101] [requestRisk(userInitiated:timeoutInterval:)]
RiskProvider: Risk

[2021-08-11 20:38] ndegendogo commented on #3352
***it looks as if the HTTP session was crashed and is now blocking everything...?***

Info 2021-08-11T20:02:52Z
[ENA/PPAnalyticsSubmitter.swift:61] [triggerSubmitData(ppacToken:completion:)]
Analytics submission was triggered. Checking now if we can submit...

Warning 2021-08-11T20:02:52Z
[ENA/PPAnalyticsSubmitter.swift:65] [triggerSubmitData(ppacToken:completion:)]
Analytics submission abord due

[2021-08-11 20:42] ndegendogo commented on #3352
I try to press the button but nothing happens
(*note: in the log file I see that it refused to start the risk check because it thinks the check is already running*)

[2021-08-11 20:56] ndegendogo commented on #3352
**I exit the app and kick it out of memory (swipe), then I reboot the phone.**
*This seems to do the trick - risk check is now working again*

[2021-08-11 22:50] Ein-Tim commented on #3352
Okay, let me summarize to make sure I understood everything correctly.

You tried to reproduce #3188 but failed. Afterwards you opened the CWA and saw this error message on the risk card. At this time, did you have an active internet connection?
After you added the entry to the contact journal you left the app. Did you hard close the app or just press on the home button?
Then you did not open the

[2021-08-12 06:13] ndegendogo commented on #3352
@Ein-Tim thanks for your interest to dig into this ...

Yes. Let me add that I was on public transport during my experiments. So no WLAN coverage all the time, and possibly bad or instable network coverage.

At this time, did you have an active internet connection?

Yes, I opened cwa after arriving at work. **No WLAN** (I did not yet enter their new password since they changed it). My screenshot c

[2021-08-12 08:34] ndegendogo commented on #3352
Before I close this ticket (because for me the risk check works again), I would like two action items:

1) a Jira ticket to make the devs aware that there is still a path that can lead to inconsistent state in the risk provider and this can block the risk check
@dsarkar @heinezen

2) a discussion / assessment if the suggestions how to act in case of dead man notification could/should be extended.

[2021-08-12 08:36] ndegendogo commented on #3188
@Ein-Tim are you able to reproduce this, or does it hapoen rather randomly?
Did you try to reproduce it while logging was active? Maybe this gives some insights?

[2021-08-12 08:46] dsarkar commented on #2969
@nkuenzel See comment from @Ein-Tim https://github.com/corona-warn-app/cwa-app-ios/issues/2969#issuecomment-897160828.

We suggest closing this issue. Thanks for contributing, and please, any other problem, open here at GitHub an issue! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-08-12 08:49] Ein-Tim commented on #3188
@ndegendogo

I didn't have time to try on my second device yet, but I'll definitely test this on my main device with active logging!
Something's really off here 😅

[2021-08-12 16:50] Ein-Tim commented on #3352
@ndegendogo

Thanks for your long and detailed comments, I will try to reproduce this (together with #3188) on my second device as soon as I have time. (:

[2021-08-14 09:25] jwildeboer opened #3359 "[Statistic Cards] 7 Day average calculation of warnings seems to be wrong"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2021-08-14 11:59] Jo-Achim commented on #3359
If the numbers in the "Positive" column are correct, then your average result of 533 is likely to be wrong.

Which formula and which numbers were used for the calculation?

Because the 7-day average value from the "Positive" column starting with 699 (Yesterday (13.08.)) + 526 + 590 + 631 + 334 + 129 + 324 (07.08.)) = 3233 / 7 = 469 (rounded).

Or am I wrong?

[2021-08-14 13:14] jwildeboer commented on #3359
Correct. My formula is wrong. It somehow switched from using 7 to 8 days. Will close.

[2021-08-14 13:14] #3359 closed

[2021-08-15 19:01] Wega1234 commented on #3329
Hello,
unfortunately it did not work out.
Still the same problem with the same message.

Regards
Wega1234

Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/emailmobilapp_ios_smartphone_footerlink.htm>

-----Original-Nachricht-----
Von: ndegendogo ***@***.*** ***@***.***>

Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 (#3329)
Datum: 11.08.2021, 20:24 Uhr
An: corona-war

[2021-08-15 23:45] Ein-Tim commented on #3188
@ndegendogo

I did some additional testing and I am 100% sure that the bug I reported in the OP is related to the Check-ins, see this video as a proof:

https://user-images.githubusercontent.com/67682506/129496052-67d07b2f-6390-4934-879d-7bea42b5fdbd.MP4

I was not able to reproduce this behavior when adding a contact journal entry or scanning a DCC.

---

<details>
<summary>Error log (very long!)

[2021-08-15 23:50] Ein-Tim commented on #3352
I tried hard to reproduce this but wasn't able to, sorry 😕

[2021-08-16 06:54] ndegendogo commented on #3352
@Ein-Tim

I don't think this is easy / straightforward to reproduce. Else I would expect more tickets. 🤭

[2021-08-16 07:12] ndegendogo commented on #3329
@Wega1234

What exactly do you mean with "last update"?
Is that the date that your risk card shows?

@dsarkar @heinezen could you please open a Jira ticket and discuss this with the devs? Thanks

[2021-08-16 07:17] ndegendogo commented on #3188
@Ein-Tim

so maybe there are even two pathes that lead to this error message, you found one, and I hit the other? 👹

Thanks a lot for the log! I will enjoy to read it, for sure! 😍

[2021-08-16 07:47] ndegendogo commented on #3188
@Ein-Tim from your log file, see below:

- why does it want DE key files? It should be EUR?
- why does it start download, although it knows that no network connection is available?
@dsarkar @heinezen please ask the devs

...
Info 2021-08-15T23:43:02Z
[ENA/TraceWarningPackageDownload.swift:179] [checkForDownloadTraceWarningPackages(with:countries:completion:)]
Start processsing package download for

[2021-08-16 07:58] dsarkar commented on #3188
@ndegendogo @Ein-Tim Thank you very much. We will forward this to the internal ticket and ping a developer.

[2021-08-16 07:58] Ein-Tim commented on #3188
@ndegendogo

Yeah, seems like. But you found the one that's harder to reproduce 😅

Thanks so much for your analysis of my log! I really appreciate your help here!

I think @dsarkar or @heinezen should transfer the Error Report ID to the internal ticket.

[2021-08-16 08:24] Wega1234 commented on #3329
Hello,
that‘s what the Corona Warn App Shows.

Regards
Wega1234

Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/emailmobilapp_ios_smartphone_footerlink.htm>

-----Original-Nachricht-----
Von: ndegendogo ***@***.*** ***@***.***>

Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 (#3329)
Datum: 16.08.2021, 09:12 Uhr
An: corona-warn-app/cwa-app-ios ***@***.***
***@***.***>

[2021-08-16 08:30] Ein-Tim commented on #3329
@Wega1234

If you want to share pictures, you have to use the GitHub website or the GitHub App.
GitHub doesn't allow picture upload via E-Mail response, sorry.

[2021-08-16 08:32] Wega1234 commented on #3329
![0C0A2377-2825-4B84-8F4C-99C4EC82E8B2](https://user-images.githubusercontent.com/88549581/129534963-50ae941d-0136-445a-b165-7adaa6f96307.png)
![140F98CB-D4CE-45D4-9D42-653EA952219E](https://user-images.githubusercontent.com/88549581/129534972-7550c7db-f32f-4023-9197-0987b7a01a56.png)

[2021-08-16 08:51] thomasaugsten commented on #3329
Can you please activate the error report under. App information->Fehlerbericht
Wait 24h and submit the report and share the id here.

[2021-08-16 08:56] Ein-Tim commented on #3329
You can find more information regarding the error report here: https://www.coronawarn.app/de/faq/#error_log

[2021-08-16 09:55] Ein-Tim commented on #3159
I can confirm that this has been fixed in version 2.7.

Closing as fixed.

[2021-08-16 09:55] #3159 closed

[2021-08-16 09:59] dsarkar commented on #3159
@Ein-Tim Thanks for reporting this issue and confirming the fix. Forwarded to the internal ticket.

[2021-08-16 10:00] dsarkar commented on #3329
@Wega1234 see comments https://github.com/corona-warn-app/cwa-app-ios/issues/3329#issuecomment-899338134 and https://github.com/corona-warn-app/cwa-app-ios/issues/3329#issuecomment-899341105. Thanks.

---
Corona-Warn-App Open Source Team

[2021-08-16 10:11] Ein-Tim commented on #3331
I don't see this behavior under 2.7, so I assume this has been fixed.

[2021-08-16 11:15] jucktnich commented on #3331
For me too, closing this as fixed.

[2021-08-16 11:15] #3331 closed

[2021-08-16 11:29] schurig commented on #3057
Same error happens to me since this morning (release 2.7.1). I have a valid certificate issued by Servei Català de la Salut:
![screenshot](https://user-images.githubusercontent.com/2672413/129556589-6c93b575-a5c1-485a-b02d-85f87f93e5dc.jpeg)

[2021-08-16 11:37] thomasaugsten commented on #3057
I assume you have a space in your first or last name. Spain did a mistake when they create the ICAO format of the name we will accept this with the next version 2.8 in 14 days

[2021-08-16 12:05] schurig commented on #3057
@thomasaugsten yes, that's indeed the case. Thanks!

[2021-08-16 14:28] dsarkar commented on #3331
@jucktnich @Ein-Tim Thanks for confirming the fix.

[2021-08-17 06:53] ndegendogo commented on #3283
Any feedback on this proposal?
Shall I prepare a PR?

[2021-08-17 07:02] dsarkar commented on #3283
@ndegendogo I will ping a couple of developers. Thanks for the offering a PR.

[2021-08-17 11:12] Ein-Tim opened #3372 "UI: Headline disappears"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-08-17 11:35] dsarkar commented on #3372
@Ein-Tim Thanks. Internal Tracking ID: [EXPOSUREAPP-9029](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9029)

[2021-08-17 18:32] Wega1234 commented on #3329
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/emailmobilapp_ios_smartphone_footerlink.htm>

-----Original-Nachricht-----
Von: dsarkar ***@***.*** ***@***.***> >
Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 (#3329)
Datum: 16.08.2021, 12:01 Uhr
An: corona-warn-app/cwa-app-ios ***@***.***
***@***.***> >
CC: Wega1234 ***@***.*** ***@***.***> >,
Mention ***@***.*** ***

[2021-08-17 18:43] Wega1234 commented on #3329
Hello,
the ID is:
389143E7490DFF0A2AC6

I also had an Update of IOS to 14.7.1 today.

Now it seems to work.

Regards
Wega1234

Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/emailmobilapp_ios_smartphone_footerlink.htm>

-----Original-Nachricht-----
Von: Thomas Augsten ***@***.***
***@***.***> >
Betreff: Re: [corona-warn-app/cwa-app-ios] Fehler 13 (#3329)
Datum: 16.08.2021,

[2021-08-17 20:04] Ein-Tim commented on #2758
Please update to iOS 14.7.1 and report if this fixed the Error 13.

[2021-08-17 22:34] ndegendogo commented on #3188
@Ein-Tim ... and today I played with the simulator, and tried to reproduce your error message ... but then I realized that I don't have a checkin ... so I decided to give up .... and - whooops! The message appeared!

Details: the successfull test was at 10:09 PM. The error message appeared at 12:04 AM, so definitely less than 4 hours after the successfull check. I had switched WLAN off.
**I have y

[2021-08-18 07:43] dsarkar commented on #3188
@ndegendogo Thanks for reproducing. Forwarding your info to the internal ticket.

[2021-08-18 08:09] ndegendogo commented on #3188
Thanks, @dsarkar

Maybe a few more details:
- local build of cwa for community, from branch release/2.6.x
- execution on simulator
- I had setup a few breakpoints, possibly they distorted the timing of execution
- I captured the logging via "copy&paste" from the Xcode console window

[2021-08-18 08:21] dsarkar commented on #3188
forwarded.

[2021-08-18 16:31] Ein-Tim commented on #2955
@dsarkar Has the internal ticket been set to "Fix in 2.7 confirmed"? OR is this still not finally fixed with 2.7?

[2021-08-18 16:44] Ein-Tim opened #3381 "Contact Journal: Do not show "Do you really want to remove this person?" warning when person is not used in the contact journal"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: not importan

[2021-08-18 16:52] Ein-Tim opened #3382 "Contact Journal: Do not show the "Remove All" button if no People or Places exist"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: not importan

[2021-08-18 22:24] jucktnich commented on #3382
Not graying out but making a little graphic and text imo

[2021-08-19 06:31] ndegendogo commented on #3352
I reproduced "something similar" on the simulator.
I am uploading my log file.

Details:
* local build of cwa for community, from branch release/2.6.x
* **execution _on simulator_**
* I had setup a few breakpoints, possibly they distorted the timing of execution
* I captured the logging via "copy&paste" from the Xcode console window

[2021-08-19 06:32] ndegendogo commented on #3352
[simu_log2.txt](https://github.com/corona-warn-app/cwa-app-ios/files/7012227/simu_log2.txt)

[2021-08-19 07:05] ndegendogo commented on #3188
@dsarkar I have now uploaded my *simulator log file / community build at cwa 2.6.x* [here](https://github.com/corona-warn-app/cwa-app-ios/issues/3352#issuecomment-901647219)
not sure if it is interesting

it shows a scenario where the risk state seems inconsistent (already running); but I didn't wait long enough to confirm if this inconsistency is permanent or if it recovers with a timeout.
Someth

[2021-08-19 09:26] ahsanemon opened #3383 "Vaccination certificate validation country list: there is country called "UP" in the list"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2021-08-19 09:35] Ein-Tim commented on #3383
"UP" is a country code, that's shown if there is no localized name for the country available. However, I'm also unsere for which country "UP" stands.

[2021-08-19 09:57] jucktnich commented on #3383
UP Stands for Ukraine

[2021-08-19 11:24] Ein-Tim opened #3385 "Vaccination certificates get valid at 02:00h and not at 00:00h (UTC translation issue)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 Pr

[2021-08-19 11:30] jucktnich commented on #3385
It's not the first UTC translation bug, maybe you should find a way internally, how time is handled 🤷‍♂️

[2021-08-19 14:39] thomasaugsten commented on #3383
The issue is fixed

[2021-08-19 21:13] heinezen commented on #3352
@Ein-Tim @ndegendogo

Sorry for coming back to this so late. The developers are trying to find the cause and a solution for this problem. I've forwarded the log file. Let's see what they can find out.

----
Corona-Warn-App Open Source Team

[2021-08-19 21:15] heinezen commented on #2955
@Ein-Tim We are sure that it's fixed by now.

----
Corona-Warn-App Open Source Team

[2021-08-19 21:15] #2955 closed

[2021-08-20 11:11] dsarkar commented on #3383
@ahsanemon Thanks for reporting, see comment https://github.com/corona-warn-app/cwa-app-ios/issues/3383#issuecomment-901971903.

Please, close this issue.

![image](https://user-images.githubusercontent.com/1409741/130224878-9d22c038-297c-4a31-863a-91bb8c44ffb3.png)

---
Corona-Warn-App Open Source Team

[2021-08-20 11:20] dsarkar commented on #3329
@Wega1234 Thanks for reporting, we forwarded internally the error ID of your report.
Internal Tracking ID: [EXPOSUREAPP-5836](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-5836)

---
Corona-Warn-App Open Source Team

[2021-08-20 11:21] ahsanemon commented on #3383
You people are doing a great job. Thanks a lot. :clap:

[2021-08-20 11:21] #3383 closed

[2021-08-21 11:40] Ein-Tim opened #3393 "Add a warning message when trying to add a local 7-day-incidence without internet connection"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-08-21 22:41] geapi opened #3394 "App not available in US app store"
This means as a traveler from the US with a primary US app store account you cannot install the app without creating an account in the German app store.

Not sure if that is intended, it increases the threshold for folks visiting to install the app.

[2021-08-21 22:46] Ein-Tim commented on #3394
@geapi

Yes this is intended, please take a look at our FAQ entry regarding this: https://www.coronawarn.app/en/faq/#international

Also, if you want to deep dive into this topic, I suggest to take a look at https://github.com/corona-warn-app/cwa-wishlist/issues/41.

If I've answered your question and you are satisfied with my answer, I suggest to close this issue.

Have a good night, a nice Sunda

[2021-08-22 07:39] dsarkar commented on #3394
@geapi Thanks for contributing here. As @Ein-Tim suggests, have a look at corona-warn-app/cwa-wishlist#41.

Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-08-22 07:40] dsarkar commented on #3394
Duplicate of corona-warn-app/cwa-wishlist#41.

[2021-08-23 10:53] ndegendogo commented on #2156
@Ein-Tim which behaviour do you suggest if it is inside a submenu?

Examples:
- App informations, or Settings from home tab (or even second level submenu)
- diary page for a single day from diary tab

Current behaviour as of cwa 2.7.2(0):
- if you tap the **current** tab bar icon while inside a submenu then it jumps to top level
- if you tap the **current** tab bar icon while on top level then not

[2021-08-23 11:49] Ein-Tim commented on #2156
@ndegendogo

If it's in a submenu, I think this would be the best behavior:
First Tab -> Close submenu
Second Tab -> Scroll to top

[2021-08-23 13:37] ndegendogo commented on #2156
@Ein-Tim its still ambiguous 😅

Do you mean the **fourth** (not he second!) tab icon? => corresponding to the contact diary
Or do you mean a single-tap vs a double-tap gesture on the tab bar icon?

[2021-08-23 14:07] Ein-Tim commented on #2156
@ndegendogo

Sorry for the confusion, I meant to write "tap" and not "tab" as in tab bar...

So if you, e.g. are in the submenu to create an event qr code and **tap** on the first **tab** once, the submenu closes. Then you're on the start screen again, but not on the top. When you now **tap** again on the first **tab** the view scrolls to the top.

Now a bit clearer?

[2021-08-23 14:29] ndegendogo commented on #2156
😅😅 no problem @Ein-Tim. I just want to be sure that I understand it correctly.

Try again with the contact diary, cwa as of 2.7.2 (0).

**Scenario-1:**
- I enter the submenu = page for today
- I scroll down through my loooong list to pick "Walter"
- then I tap on the icon, and it closes the page and is back on top level.
=> this is ok as desired.

**Scenario-2:**
- I scroll down to the entry of la

[2021-08-23 14:49] Ein-Tim commented on #2156
Yes, exactly!

I've done this! See my message.

Thanks for your help!

[2021-08-23 16:03] Ein-Tim commented on #3274
Fix for this: #3398

[2021-08-23 17:32] ndegendogo commented on #2156
Yes, this makes sense.
I just checked the native HealthApp, they do it exactly that way.

[2021-08-23 23:05] #3394 closed

[2021-08-24 08:33] dsarkar commented on #3283
@ndegendogo quote dev:

[2021-08-24 13:14] Ein-Tim commented on #3231
I did a rapid antigen test today.

Test booked: 11:30
Test registered in CWA: 11:40
Swap done: 12:35
CWA hard closed at: 12:45
Result via Mail: 13:01
Push Notification from CWA: 15:14

CWA was hard closed (not running in the background).

Connected to the internet via cellular (LTE) or WLAN the whole time.
The push notification came in with WLAN connection.

[2021-08-24 14:56] Ein-Tim commented on #2156
FYI @ndegendogo has started to work on this and we (@ndegendogo and me) would offer to provide a PR for this.
@dsarkar could you ask a dev if a PR from the community would be reviewed & accepted?

Thank you!

[2021-08-24 16:15] Ein-Tim opened #3408 "UI: Empty space at the bottom of the "My QR Codes" screen"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 mi

[2021-08-24 16:57] Ein-Tim opened #3409 "Digital COVID certificates validity check: List of countries is always in the language which was active during the onboarding"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details
- Device name: iPhone 6
- iO

[2021-08-24 21:22] Ein-Tim commented on #2156
**Update:** PR #3411 was submitted to implement this.

[2021-08-25 09:12] jwildeboer opened #3414 "Validity check only works one time"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2021-08-25 09:17] Ein-Tim commented on #3414
@jwildeboer

Are you aware that Denmark did not provide any rules?

<img src="https://user-images.githubusercontent.com/67682506/130764010-e49219e4-b9be-4d7b-9623-87040df1b17f.jpeg" width="300">

[2021-08-25 09:22] jwildeboer commented on #3414
I tested it with Austria, Netherlands, Denmark, Belgium. ![image](https://user-images.githubusercontent.com/873028/130764654-f69ee4ca-9153-4f96-bffb-b841a999893d.jpeg)

![image](https://user-images.githubusercontent.com/873028/130764712-9275f9bf-e31f-4f13-a2f1-4012aa3725a2.jpeg)

Do they all lack rules?

[2021-08-25 09:24] Ein-Tim commented on #3414
All of them but the Netherlands lack rules.
Sure about the Netherlands? Please try again.

[2021-08-25 09:28] Ein-Tim commented on #3414
Which type of certificate do you use? Vaccination, Test or Recovery?

[2021-08-25 09:30] jwildeboer commented on #3414
Hm. Why did it work before the update? I tested this extensively while hunting down the "Netherlands fail with a Schema v1.0 certificate"

Or asked the otherxway round - of what use is a validity check when there are no rules? Shouldn't those countries be excluded from selection?

[2021-08-25 09:33] Ein-Tim commented on #3414
@jwildeboer

Before version 2.8 countries with no rules were just shown as "Valid" (similar to what CovPass does in the current version).
After community feedback (https://github.com/corona-warn-app/cwa-documentation/issues/678) it was decided to change the behavior so that countries with no rules no longer just show as "Valid" but show the "Certificate Cannot Be Validated" status.

I suggest to o

[2021-08-25 09:34] #3414 closed

[2021-08-25 09:34] thomasaugsten commented on #3414
Before it was the same only the icon was green and the header text was different. The detail text was the same.
This not so easy because a country can have no rules for the specific date or for the specific certification type.
It will also raise the questions why is the country not in the list is traveling not allowed for this country or my certificate not accepted in this country.

[2021-08-25 09:35] jwildeboer commented on #3414
I will create a new issue as I now understand better what's going on.

[2021-08-25 09:38] jwildeboer opened #3415 "Why checks for countries with no rules?"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 11
-

[2021-08-25 09:41] Ein-Tim commented on #3415
Please check for the behavior under Android.

[2021-08-25 09:44] thomasaugsten commented on #3415
A country can have no rules for the specific date or for the specific certification type.

Offer only countries with rules will  raise the questions why is the country not in the list.

Is traveling not allowed for this country or is my certificate not accepted in this country.
For every country in the list you are allowed to travel with your certificate and you can find the detailed rules on the

[2021-08-25 09:48] jwildeboer commented on #3415
There currently seem to be active rules only for:

- Germany
- Ireland
- Lithuania
- Luxembourg
- Netherlands
- Romania
- Slovenia
- Spain
- Ukraine

[2021-08-25 11:11] Ein-Tim commented on #3409
With version 2.8 the issue is exactly the other way around. English always shows the German names...
Will adapt the OP later.

[2021-08-25 11:47] dsarkar commented on #3352
@ndegendogo FYI: Dev team became aware of a bug, exposure checks was heavily tested and successfully verified that it is working (now).

Some changes were introduced, see https://github.com/corona-warn-app/cwa-app-ios/pull/3362

[2021-08-25 14:15] jwildeboer commented on #3415
So why check at all? ;) The CWA now checks validity when adding a certificate anyway and any valid certificate allows entry in all listed countries, as you say, so what purpose does the check fulfil at the moment? It gives a confusing message (cannot check validity) for most countries.

[2021-08-25 16:37] arnebr opened #3420 "EU country check is valid before test time"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
**Not sure, if only on iOS **
* [x] Bug is not already reported in another issue

## Technical detail

[2021-08-25 16:55] Ein-Tim opened #3421 "In which scenarios are certificates shown with a grey background?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
In whic

[2021-08-26 12:19] Ein-Tim opened #3428 "Question reg. #3426"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
#3426 c

[2021-08-26 13:04] Ein-Tim opened #3429 "Missing GitHub release for Version 2.8.0"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Describe the bug

On https://github.com/corona

[2021-08-26 19:55] ndegendogo opened #3432 "Exposure check failed / no exposure check for more than 24 hours"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6
- i

[2021-08-27 11:08] Ein-Tim opened #3436 "Twitter Report: „2/3“ vaccination does not show up as valid"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation) - not sure
* [x] Bug is not already reported in another issue

## Technical details

- Device name: i

[2021-08-27 17:25] Ein-Tim opened #3438 "Twitter Report: Statistics do not update and certificate validity check does not work when connecting to the internet via Vodafone Mobile Data (Version 2.8 only)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8
- i

[2021-08-28 23:21] vaubaehn commented on #3420
This can only be fixed by the member countries that uploaded their business rules to an interoperability gateway, frome where CWA downloads the rules to check them in the app.
In case of Spain, it could be @carballAcc who could take care of it, but to my best knowledge, all or nearly all member countries (including Germany?) are affected by this. AFAIR, when debugging business rules with a self-cr

[2021-08-28 23:22] Ein-Tim commented on #3420
@vaubaehn

Yes, I guess the real issue here is that you can choose a date in the past. This should be fixed (make it impossible to select a date in the past).

[2021-08-28 23:23] vaubaehn commented on #3420
@Ein-Tim
But for all other wallet apps existing in the wild in all countries, it would also be good to take care of the business rules themselves :)

[2021-08-30 06:49] ndegendogo commented on #3372
UIKit provides the following elements for handling of large titles:
- the navigation bar can be configured to support large titles (UINavigationBar.prefersLargeTitles).
Note that the **navigation bar is shared** between the sibling view controllers (these siblings are pushed in from the side).
- each of these view controller **has its own navigation item** which it configures with its title and la

[2021-08-30 06:56] ndegendogo commented on #2414
The navigation item for this view controller is setup with a large title, although the title is empty. Hence the extra wide navigation bar.

*However, I have the suspicion that this was implemented intentional. We would get a transition from normal to Large titles, and this animation would look ugly in the current implementation, and was avoided. For this reason I guess this should be not fixed be

[2021-08-30 07:40] dsarkar commented on #3372
@ndegendogo forwarded all to internal ticket. Thanks.

[2021-08-30 08:06] ndegendogo commented on #3372
@dsarkar I have played a bit with both tickets on the weekend. Currently I have no good solution, but I'll continue to investigate.

[2021-08-30 16:40] eilers opened #3441 "Regression Unable to import Quick Test if no user data is included."
There seems to be a regression:
Importing of Quick test results via QR-Code and via direct link stopped working. But only if there is no user data added. It still works if user name and birth is included (see attached QR-Codes).
We will see the following error message: "Der QR-Code kann keinem Schnelltest zugeordnet werden. Bitte scannen Sie einen geeigneten QR-Code."
The generation of the QR-Code

[2021-08-30 16:43] Ein-Tim commented on #3441
This seems to be closely related to https://github.com/corona-warn-app/cwa-quicktest-onboarding/issues/55 where the same problem happened, however, only with test results with user data included.
Ping @vaubaehn

[2021-08-30 16:54] vaubaehn commented on #3441
@eilers
Did you check whether there had been recent changes on server implementations (cwa-quicktest-backend, cwa-testresult-server)?

[2021-08-30 17:20] vaubaehn commented on #3441
I was able to import the RAT without personalized data into CWA 2.6.1 Android (first QR code). This test should now be "burnt" and the first QR code should succeed in scanning again.
It failed for the RAT with personalized data (second QR code) for the same device. So, I can confirm your results also with Android, but with CWA 2.6.1, so it shouldn't be any regression.
Both decoded JSONs look fine.

[2021-08-30 17:24] vaubaehn commented on #3441
@eilers
Ah, sorry, I got it mixed up!
Yes, the first code worked on Android, the second didn't (likely because you scanned it before) - so this bug seems to be iOS specific!

[2021-08-30 21:27] ndegendogo commented on #2414
It is not an issue on iPhone 6 with iOS 12.5.3 (tested on true device).
It is an issue on iPhone SE with iOS 13+ (small screen, tested with simulator).

[2021-08-30 21:55] vaubaehn commented on #3385
Hi @Ein-Tim and @jucktnich , I do not consider this to be a bug in CWA. Please see https://github.com/corona-warn-app/cwa-app-android/issues/3990#issuecomment-907110796 for an explanation.

[2021-08-30 22:01] Ein-Tim commented on #3385
@vaubaehn Thank you! As you are really **the** EU DCC expert here in the community, I trust you and your explanation makes sense. Maybe we could still get feedback from the developers?

Have a good night!

[2021-08-30 22:11] ndegendogo commented on #2414
PR #3442.

[2021-08-30 22:12] Ein-Tim commented on #2414
Thank you @ndegendogo!

[2021-08-30 22:18] ndegendogo commented on #2414
@dsarkar @heinezen could you please label this PR so that the devs are not too confused? 😅

Thanks

[2021-08-31 06:44] eilers commented on #3441
Thanks for testing Android. Someone has to look more closely what happens on iOS, then.  I've created a new QR-Code for further testing on iOS:
![qrcode](https://user-images.githubusercontent.com/115845/131454780-1c42f175-b834-45be-9435-27811428176b.png)

It shows the same error:
![IMG_FF6992CF4D70-1](https://user-images.githubusercontent.com/115845/131454835-b01ee247-6e67-46dd-ab84-fa9c5c11616e.j

[2021-08-31 14:10] vaubaehn commented on #3441
@eilers
Did you push the test result with the same test id in the morning? Because I just saw by chance, that the yesterday's imported test has now an updated `sc` timestamp of today!
I think, this is not intended behaviour, is it, @thomasaugsten ?

![Screenshot_2021-08-31-16-05-08](https://user-images.githubusercontent.com/68376758/131517812-f3fa87f4-edb6-4ad7-ad20-0965996014da.png)

[2021-08-31 15:33] dsarkar commented on #3441
- Using https://github.com/corona-warn-app/cwa-app-ios/issues/3441#issuecomment-908946556

- To summarise what I could reproduce:

![image](https://user-images.githubusercontent.com/1409741/131531975-8d1e4431-659a-4b14-b727-42c6bfc66ec9.png)

[2021-08-31 15:47] vaubaehn commented on #3441
@dsarkar
Just to be sure: You started with iOS, and then Android, right? It looks like someone else already scanned QR, because you should not have gotten any error on Android...

[2021-08-31 15:56] vaubaehn commented on #3441
@eilers
Does the error only occur, when you have POSTed a test result _before_ the user registered the test in CWA?
Or does the error also occur, when the user registers the test and you didn't submit any result yet?

[2021-08-31 15:58] dsarkar commented on #3441
@vaubaehn yes, I get an error, which is expected, so far, so good. I tested with the QR code and link given in https://github.com/corona-warn-app/cwa-app-ios/issues/3441#issuecomment-908946556 (no user data included)

1. Android - scan with CWA -> "... ungültig oder schon registriert ..."
1. Android - scan with third party app -> "... ungültig oder schon registriert ..."
1. Android - click on link

[2021-08-31 16:02] vaubaehn commented on #3441
@dsarkar
Ha... Nothing can be concluded from your experiment, unfortunately:
To be able to see that there is a bug on iOS, we need a fully working _unscanned_ test.
1. Try to import to iOS -> see error. But the test should still be functional/unused.
2. Try to import into Android -> there should be no error at all. Test is now used/burnt.
3. Any other import should not succeed anymore, as test is

[2021-08-31 16:06] vaubaehn commented on #3441
@dsarkar
What you could try: register an unpersonalized test with dm (NETSYNO). Does this work on iOS?
https://corona-schnelltest-zentren.dm.de/o/dm/login

[2021-08-31 22:06] Ein-Tim commented on #2784
Could you close this issue @dsarkar?

[2021-08-31 22:08] #2784 closed

[2021-09-01 12:59] Ein-Tim opened #3455 "Is it intended that the "HealthCertifiedPerson_partiallyVaccinated" text is shown even if a test certificate is the currently used certificate?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
If a us

[2021-09-01 16:54] Ein-Tim commented on #3438
[Feedback](https://twitter.com/rwischt/status/1433110167676141576?s=20) from the Twitter user: Everything works again, nothing was changed. Strange...

Closing as "fixed".

[2021-09-01 16:54] #3438 closed

[2021-09-01 17:11] Ein-Tim commented on #2156
#3411 was merged and the feature will be shipped with version 2.10. 🎉

[2021-09-01 19:21] ndegendogo opened #3459 "Onboarding screens have too much free space on top (Development version / pre-release)"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: Simulator fo

[2021-09-01 19:23] ndegendogo commented on #3459
By the way, if you select the Data Donation screen from Settings then its title has normal size.

@ArturFriesen

![Simulator Screen Shot - iPhone SE (2nd generation) - 2021-09-01 at 21 03 05](https://user-images.githubusercontent.com/6118267/131731502-b26f9eed-c61c-4e15-9f55-d4b64929ad4b.png)

[2021-09-01 21:51] ndegendogo opened #3460 "Onboarding flow is broken in community build / cannot enable EN Manager (Development version / pre-release)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: simulator, a

[2021-09-01 22:08] ndegendogo commented on #3460
Volunteering for a fix ....

[2021-09-01 23:06] ndegendogo commented on #3459
I have implemented a solution and submitted PR #3461
@dsarkar @heinezen could you please add labels? - Thanks!

[2021-09-02 00:53] ndegendogo commented on #3460
... it seems indeed related to the integration of the MockENManager
(commit 7ed7a60965dc0f1b33e15a7423ee070c6815e1bf).
If I revert that commit, everything works again.

Maybe the reason is that the state machine for enable/disable the MockENManager does not work as expected.
The property observer for the ENState is not triggered as expected.

Maybe it was some other dependency that was introduced

[2021-09-02 00:57] ndegendogo commented on #3460
Also I see a long error message related to SSL in the log file.
Not sure if that is a local problem on my side, or related to the issue, or if I can just ignore it?
Am I missing a certificate?

2021-09-02 01:54:06.837516+0200 ENA[22125:717527] Task <BC052FF2-C2CC-44F7-9EFD-D6454932FA35>.<1> finished with error [-1200] Error Domain=NSURLErrorDomain Code=-1200 "Es ist ein SSL-Fehler aufgetreten. Ein

[2021-09-02 08:02] dsarkar commented on #3460
@ndegendogo Thanks for the report. I have forwarded this issue and in particular your comment https://github.com/corona-warn-app/cwa-app-ios/issues/3460#issuecomment-910969761

---
Internal Tracking ID: [EXPOSUREAPP-9280](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9280)

[2021-09-02 08:04] ndegendogo commented on #3460
@dsarkar I have a solution and am just preparing a PR.
Mainly there was a switch missing.

[2021-09-02 08:21] dsarkar commented on #3460
@ndegendogo OK, thanks.

[2021-09-02 08:29] ndegendogo commented on #3460
I have submitted PR #3463 with a fix.

@dsarkar @heinezen could you please add labels? Thanks.

[2021-09-02 09:08] ndegendogo opened #3465 "Community build with MockENManager cannot disable Exposure detection"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: simulator iP

[2021-09-02 09:10] ndegendogo commented on #3465
It seems that the observer for the change of the state is never triggered.
Not sure about the root cause.
Can it be a race condition?
Is there a bug in the implementation of the MockENManager?

[2021-09-02 11:52] ndegendogo opened #3467 "Large titles for the Data donation screen"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ ] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-09-02 13:22] ndegendogo opened #3469 "How can I trigger the Developer menu on the simulator?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question

Recent

[2021-09-02 15:34] yoanad opened #3471 "Use standartized name from the EU Digital Covid Certificate to support other languages"
I noticed that the app doesn't display the standartized name, when displaying the EU Digital Covid Certificate.
In my case, the vaccination certificate was issued by Bulgaria and the "default" name is in Cyrillic letters, which is of course, not very useful outside of Bulgaria. I can imagine that it could be an issue for other EU-issued certificates (e.g. Greek?).

[2021-09-02 15:52] Ein-Tim commented on #3471
@yoanad

Version 2.8 implemented that the standardized name is shown too.
More information can be found in this blog post: [Corona-Warn-App version 2.8 displays names in certificates in standardized characters](https://www.coronawarn.app/en/blog/2021-08-25-cwa-version-2-8)
Please make sure you are on version 2.8.

[2021-09-02 16:10] yoanad commented on #3471
@Ein-Tim Thanks! I see that it's shown only in the detailed preview, but not on the first page. Maybe it makes sense to use it as a default?
![IMG_0023](https://user-images.githubusercontent.com/11481046/131879166-a06fbe35-4503-432d-900d-56878776811c.jpg)

[2021-09-02 16:18] Ein-Tim commented on #3471
@yoanad

Ah okay, yes, it's only shown in the detail view.
If you think it would be a good idea to also show it on the overview, I suggest to open a new issue here https://github.com/corona-warn-app/cwa-wishlist, as this affects iOS & Android.

Thanks!

[2021-09-02 19:58] jucktnich opened #3472 "[Minor][UI] Contact Journal Headline overlapping"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [maybe that's related to the headline bugs] Bug is not already reported in another issue

## Techni

[2021-09-03 00:12] ndegendogo commented on #3467
@dsarkar I volunteer for this one

[2021-09-03 09:38] #3459 closed

[2021-09-03 12:36] ndegendogo commented on #3467
@dsarkar @heinezen I have submitted PR #3473.
Could you please apply the labels?
Thanks!

[2021-09-03 14:35] ndegendogo opened #3474 "Better support for navigation items in the TopBottomContainerViewController"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [ ] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-09-03 14:36] ndegendogo commented on #3474
@dsarkar @heinezen please forward this idea to your developers for discussion.
I volunteer on a PR.

[2021-09-03 15:24] ndegendogo commented on #3469
🎉🎉🎉 I just succeeded! 🎉🎉🎉
This is amazing!
It is indeed a triple tap on a screen.

*It is a bit hard to succeed with this gesture, without triggering the other active elements on this page; I got the best results in the corners betwee the widgets in the lower part of this screen.*

[2021-09-03 15:24] ndegendogo commented on #3469
Closing the ticket as answered.

[2021-09-03 15:24] #3469 closed

[2021-09-03 22:59] ndegendogo commented on #2881
According to the PR it was merged with 2.5
@Ein-Tim could you please verify? - Thanks!

[2021-09-03 23:00] Ein-Tim commented on #2881
@ndegendogo

Thanks for the ping, I can confirm that this has been fixed in the meantime.

Closing as fixed.

[2021-09-03 23:00] #2881 closed

[2021-09-04 22:52] ndegendogo commented on #2156
Our solution of PR #3411 has still a few issues:
1) it scrolls to the top, but does not reveal the large title
2) it would crash if it is used with an empty table or with an empty first section of such a table
3) it works only with embedded table views, but not with other scroll views

I have now found a better solution that addresses all three issues.
I will prepare another PR for that

[2021-09-05 11:27] ndegendogo commented on #3472
@jucktnich really iOS **17.7.1**? 🤪
*maybe some relativistic effect like a length contraction?*

**SCNR**

[2021-09-05 16:34] jucktnich commented on #3472
I've got the iOS 17 beta. I think i need to delete this all, to avoid the iPhone 4 debacle 😉😂

[2021-09-05 16:39] Ein-Tim commented on #3441
@vaubaehn

I want to try if I can reproduce this using the link you provided. Should I scan the QR-Code or click on the link?

[2021-09-05 18:01] ndegendogo commented on #3472
😅😅😅

[2021-09-05 21:31] Ein-Tim commented on #2156
@dsarkar / @heinezen

Although @ndegendogo will further improve the behavior, the `Fix 2.10` label can already be applied here.

[2021-09-05 21:38] vaubaehn commented on #3441
@Ein-Tim

If there is no bug in iOS, you can do either/or. After you did one of them, the other shouldn't work anymore (because the test  should then be registered and be burnt for other use). But if there is actually a bug in iOS, then neither/nor will work and you will always get an error.

[2021-09-05 21:52] Ein-Tim commented on #3441
@vaubaehn

Thanks, just tried it. Works when clicking on the link, scanning with CWA as well as scanning with the native camera.

So, conclusion, sorry, but IHMO, there must be a flaw in your implementation @eilers 😅

[2021-09-06 10:14] eilers commented on #3441
@vaubaehn

You are absolutely right. This was a bug. I've fixed it, but unfortunately it does not fixed this issue..
But thanks for your hint!

[2021-09-06 10:21] eilers commented on #3441
@vaubaehn

Maybe it is a bug on my side.. But I still don't know _what_ is the problem.. 🙂
Due to the fact that my test cases were always burned by Android (which doesn seem to have a problem to import it) I don't see that anyone could really check why they do not work on iOS!?

Ok, let's do a last try:
**PLEASE DO NOT USE THIS QR-Code on Android!! This is only for iOS!!! **
The following QR code

[2021-09-06 10:25] heinezen commented on #3352
We are still looking into this issue, but there might be multiple problems that influence the surfacing of this bug.

----
Corona-Warn-App Open Source Team

[2021-09-06 13:55] #2743 closed

[2021-09-06 14:18] ndegendogo commented on #2156
PR #3475 submitted with the improvements and with unit tests.

@dsarkar @heinezen could you please apply the labels to this PR? - Thanks!

[2021-09-06 16:44] ndegendogo commented on #3472
@jucktnich is that reproducible / always, or was it a "one-time glitch"?

[2021-09-06 17:01] jucktnich commented on #3472
It appeared to me twice

[2021-09-06 17:26] ndegendogo commented on #2699
I can reproduce this on the simulator on the current development branch (pre-release) as of today (06 Sept 2021, branch release/2.10.x, commit a43ff5a96f16ec695312ad050f8276bfc898874e) with the following sequence:

- precondition: no RAT profile available
- from Home tab, select test management
- scroll down and select 'create RAT profile'
- the form shows with normal title
- scroll down to reveal

[2021-09-06 17:39] ndegendogo commented on #2699
I volunteer 😎

[2021-09-06 17:44] Ein-Tim commented on #2699
Thanks @ndegendogo! 🚀

[2021-09-06 19:56] Ein-Tim opened #3478 ""Exposure Submission QR Code Info" screen is shown twice when registering test"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-06 21:26] ndegendogo commented on #2699
In this scenario we see a similar effect, although weaker with a device with higher screen, like iPhone 8
(simulator / development branch as of today / iOS 14.3 / iPhone 8)

![Simulator Screen Shot - iPhone 8 - 2021-09-06 at 23 25 06](https://user-images.githubusercontent.com/6118267/132261356-131b52ef-743d-4e80-bbee-253c28e6d780.png)

[2021-09-06 21:58] ndegendogo commented on #2699
And it does not occur on iPhone 6 / iOS 12.5.3. In that configuration the modal views are presented with full screen height, whereas the newer iOS versions have a slightly reduced screen height, which results in a slightly different layout.

[2021-09-06 22:06] ndegendogo commented on #2699
The layout constraints in the animation when the keyboard appears (a) look differently than in a scrolling-up animation (b).
(a) the title remains in-place, and the form moves up towards the title, and even overlapping it.
(b) the form moves up together with the title, they keep constant distance.

[2021-09-07 19:29] Ein-Tim commented on #2694
This is still an issue under version 2.8. @heinezen is this intended? If not, I wonder why the pop-up was not removed?

[2021-09-07 22:17] ndegendogo commented on #2699
Same layout issue occurs with iOS 13.7. Tested on simulator with iPhone SE.

[2021-09-08 06:58] eilers commented on #3441
Ok, lets summarise the facts as we know:
1. The QR-Code is importable by CWA on Android and works (do not check it please, or you will burn the test case!)
2. The QR-Code is not accepted by CWA on iOS..

Anyone out there to look in to the reason for this?

Thanks in advance!

[2021-09-08 06:59] eilers commented on #3441
I see with a fresh qr-code:

OS	Method	Notification

[2021-09-08 07:04] dsarkar commented on #3441
@eilers Yes, we will have a look at this.

[2021-09-08 07:09] hansemannn opened #3484 "URL scheme to show the vaccination certificate?"
Hi there!

Very quick question: Is there an URL scheme, yet to directly open the vaccination certificate from other apps? We have a travel app where many users requested a feature already to open the certificate from our app and likely many other apps will be interested in this as well (to have a common shortcut to the pass). Thanks in advance!

Best,
Hans

P.S.: If not available, yet, I'd be happ

[2021-09-08 07:44] Ein-Tim commented on #3441
I assume this was closed by accident?

[2021-09-08 08:10] Ein-Tim commented on #3429
Closing as not relevant anymore with the release of CWA version 2.9: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.9.0

[2021-09-08 08:10] #3429 closed

[2021-09-08 09:14] Ein-Tim commented on #3274
Confirm fixed in version 2.9. 👍

[2021-09-08 09:16] ouboub opened #3485 "A bit confusing information in the news, concerning the release of today. 8th september"
Hi

the latest release states:

The Corona-Warn-App now displays full vaccination protection for recovered persons directly after the first vaccination. The two-week waiting time is waived for all vaccines except Johnson&Johnson.

A couple of remarks
1. I am not sure it is a got idea to use the verb waived here, since non native speaker might not know it.

2. More importantly, the information is a

[2021-09-08 09:19] Ein-Tim commented on #3485
@ouboub

Reg. 1: Please provide a link to a article where this term is used.

Reg. 2: Yes, see the blog post: https://www.coronawarn.app/en/blog/2021-09-08-cwa-version-2-9/

[2021-09-08 11:45] ouboub commented on #3485
rovide a link to a article where this term is used.
It is in the news (either calling the app, your using the info in the app shop). Here is a screenshot

That information is a bit clearer than the screenshot I attach.

Still this is a serious lack of features.
To get that straight.
A recovered user with one stab of Moderna/Astra/Biontech gets full
vaccinated status, meanwhile a recovered user wit

[2021-09-08 12:12] Ein-Tim commented on #3485
@ouboub

If you want to upload a screenshot, please use GitHub Mobile or the GitHub website. You can't upload anything via E-Mail replay.

lack of a feature.

There is no technical way to implement this, see the description in the blog post. Or do you have an idea how to implement this?

[2021-09-08 14:33] #3274 closed

[2021-09-08 14:38] jucktnich commented on #3485
@Ein-Tim the App knows you've got the recovery certificate and you got the shot, so what's the problem?

[2021-09-08 14:40] Ein-Tim commented on #3485
@jucktnich What if there is no recovery certificate in the app? The app currently detects that you received a vaccination certificate "1/1" for a vaccine that normally requires two doses, so it "notices" that this must be a vaccination after a recovery.
Johnson & Johnson vaccinated people always receive a "1/1" certificate, so there is no way for the app to tell whether this is a normal vaccinatio

[2021-09-08 14:47] jucktnich commented on #3485
Ah ok if you have a recovery certificate This constraint doesn't apply?

[2021-09-08 14:53] Ein-Tim commented on #3485
@jucktnich No this has nothing to do with recovery certificates. Is completely independent.

[2021-09-08 14:54] jucktnich opened #3492 "[UI] Warn for others"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE 1

[2021-09-08 14:58] jucktnich commented on #3485
If the same person has a recovery certificate and a 1/1 JJ shot, why can't the CWA then show the fully vaccinated status directly. If it's a normal vaccination you won't have a recovery certificate.

[2021-09-08 15:06] Ein-Tim commented on #3485
@jucktnich

Feel free to open an issue in the wishlist for this.

[2021-09-08 15:18] Ein-Tim opened #3493 "Different blue tone as background of certificates"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-08 15:23] Ein-Tim commented on #3485
@jucktnich

FYI: @dsarkar describes [here](https://github.com/corona-warn-app/cwa-website/issues/1674#issuecomment-915334299) pretty well why this would not help, CWA could maybe show the certificate as valid even though 14 days aren't up yet, but a verifier app will still show the certificate as invalid.

[2021-09-08 15:23] jucktnich commented on #3485
https://github.com/corona-warn-app/cwa-website/issues/1674#issuecomment-915334299 says that it wouldn't work cause of the business rules, so I won't open a new issue.

[2021-09-08 15:28] Ein-Tim opened #3494 "Merge `release/2.9.x` branch into `main`"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-09-08 15:50] eilers commented on #3441
Yes.. That was not expected.

[2021-09-08 15:51] Ein-Tim commented on #3441
Can you reopen it @eilers? If not maybe @dsarkar could reopen it 🙂

[2021-09-08 16:23] marcussc commented on #3494
Done 🥳

[2021-09-08 16:25] Ein-Tim commented on #3494
Thanks!

[2021-09-08 16:25] #3494 closed

[2021-09-08 16:51] Ein-Tim commented on #3436
Can we get this mirrored to JIRA? Version 2.9 did not fix this.

[2021-09-08 17:10] jucktnich commented on #3436
Isn't this a problem of the specific certificate? It should say 2/2.

[2021-09-08 17:13] Ein-Tim commented on #3436
@jucktnich I don't know, this would be the first question that have to be answered, is it intended that a certificate shows "2 out of 3 doses".

[2021-09-08 19:32] rugk opened #3495 "DISABLE_CERTIFICATE_PINNING doc comment mentions TestFlight and other build variants where it does not apply"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

- Device name: N/A
- iOS ve

[2021-09-08 20:12] ouboub commented on #3485
First the screenshot
![corona](https://user-images.githubusercontent.com/5957203/132578583-e2413550-57a3-43ca-85d6-c1cfd9ac80b3.png)

[2021-09-08 20:20] ouboub commented on #3485
Done, but frankly Github s... Not only does it use git instead of a
decent VC system, it does not allow a normal email flow (ok this is off
topic)

Right now, I am just talking about the information provided in the News,
of the release of today, I sent a screenshot.

Then I want to comment on the blog.
I quote

,----
| Normally, vaccines do not have full protection until 14 days after the
| last r

[2021-09-08 20:39] Ein-Tim commented on #3485
@ouboub

Thanks for the screenshot, indeed, the word waived is also new for me. Strange that they used it in this screen...

Now to your comment on Johnson & Johnson:
Yes, the coverage in the media reg. this is confusing, I hope somebody from SAP/a PR agency contacted the news sites about this, but in the end, it's their decision what and how they write...

Yes, but only because it notices that a

[2021-09-09 07:01] ouboub commented on #3485
I am not sure I understand that.

    1. The app knows it is Biontech, Moderna, Astra-Z

    2. the app noticed no second stab,

    3. The app concludes that was a case of a recovered person??

What's about the szenario the person just forgot to take the second stab or had a too strong reaction or whatever the reason is.

Surely there must be something else, say upload a certificate that you had

[2021-09-09 07:12] eilers commented on #3441
oops. sure..

[2021-09-09 08:19] Ein-Tim commented on #3485
@ouboub

Okay, I will explain it the best way I can.
Normally, when you receive your first shot of Biontech, Moderna or AstraZeneca, you get a certificate which says "1/2" (one dose out of two planned doses).
If a recovered person gets vaccinated with Biontech, Moderna or AstraZeneca, they get a certificate "1/1" (one dose out of one planned doses). Now the app notices: "Oh, this vaccine normally

[2021-09-09 10:57] ndegendogo commented on #3472
I can reproduce it on the simulator as of v2.8.1 as follows:

- start cwa
- select "contact diary" tab, see large title
- scroll down slowly. Watch the large title disappear.
- continue to scroll till the first line of text is hidden under the navigation bar.
- click on the "certificates" tab
- click on the "contact diary" tab and see the corrupted layout.

cwa 2.8.1(0) / iOS 14.4 (simulator) / iP

[2021-09-09 12:17] Ein-Tim commented on #2286
PR: #3500

[2021-09-09 16:32] Ein-Tim commented on #3428
I saw from PRs that the person overview is opened & and there are notification icons for certificates now (#3504).

Closing as answered.

[2021-09-09 16:32] #3428 closed

[2021-09-09 16:33] ndegendogo commented on #3472
I can reproduce it on my true device with the same sequence.
cwa 2.8.1(0) / iOS 14.4.1 / iPhone 8

[2021-09-09 16:37] jucktnich commented on #3472
You can click on every tab not only the certificates tab

[2021-09-09 16:46] ndegendogo commented on #3472
I can NOT reproduce with
cwa 2.8.1(0) / iOS 12.5.3 / iPhone 6

[2021-09-09 18:15] justin-varner opened #3506 "Where did the iOS app go?"
## Issue

The Corona-Warn app is nowhere to be found on the US Apple iOS App Store and the link from https://www.coronawarn.app/en/ just displays a blank white page.

How does one install this app on an iPhone...

[2021-09-09 18:28] Ein-Tim commented on #3506
@justin-varner

The app is not in the US App Store, where you ever able to download it from there?

[2021-09-09 18:50] #3495 closed

[2021-09-09 19:32] justin-varner commented on #3506
I have not been able to download the app at all. It is missing from the app store completely.

I wasn't sure if Apple temporarily yanked it or if I needed to have a German IP to access (I can use a VPN for this but that's besides the point).

We'll be traveling to Germany in a few weeks and wanted to get out ahead of this but if that's not the intent then we'll just have to wait until we arrive.

[2021-09-09 19:43] Ein-Tim commented on #3506
@justin-varner

You can't download the app with an US AppleID, either you change your region in the current AppleID you have, or you create a new one with region set to Germany.

Related issue: https://github.com/corona-warn-app/cwa-wishlist/issues/41

[2021-09-09 19:55] jucktnich commented on #3506
You can use an app from some other EU countries, some are available in the US App Store. This wouldn't be an optimal solution, but better than nothing.

[2021-09-09 20:47] justin-varner commented on #3506
Thanks for the information and apologies for the duplicate issue. Closing this one out.

[2021-09-09 20:47] #3506 closed

[2021-09-10 05:20] mlenkeit commented on #3493
@Ein-Tim that's a feature 😉  The idea is to help visually distinguishing certificates if you have certificates of multiple people in the app. There are three different shades of blue. The colors start repeating with the fourth certificate.

[2021-09-10 05:24] mlenkeit commented on #3484
@hansemannn there's no support for a URL schema at the moment that would allow to open the vaccination certificate from other apps.

[2021-09-10 07:01] ouboub commented on #3485
I see, now I understand! This was the crucial information I was missing. Thanks very much

Very much so. But don't you think, coming back to the original issue, that this information (or better said a link) should be made available in the News? Maybe there are more users like me, having received Johnson, and then  being confused

Regards

[2021-09-10 08:52] Ein-Tim commented on #3485
@ouboub

Yes I think so, however, this was clearly stated in the blog post and as we have freedom of press here in Germany, there is no way for us to influence the news in any way. I wish we could make it clearer in the media anyhow, but I fear that's not possible (despite from getting in touch with dpa, etc.)

[2021-09-10 08:56] Ein-Tim commented on #3493
@mlenkeit

Ah thanks! Interesting Feature & nice to know!

Closing as answered (a fix is not necessary as this is intended).

[2021-09-10 08:56] #3493 closed

[2021-09-10 09:02] ouboub commented on #3485
I think we have a misunderstanding here: by News I did not mean the press (sorry in free software projects there is always a NEWS file of sorts). I meant the section

New Features in the App.

The information there is not clear.

The blog you quoted is a bit better but still some background information is missing and that is why I was confused.

My suggestion is to add a link to website that expla

[2021-09-10 09:20] Ein-Tim commented on #3485
@ouboub

Ah, okay, yes, I understood you wrong, sorry 😅
I think in general it would make sense to add a link to the blog post which announces the new version to the "New Features" screen in the app.
I've already opened a wishlist issue for this: https://github.com/corona-warn-app/cwa-wishlist/issues/513

[2021-09-10 09:22] thomasaugsten commented on #3352
Out investigation at the moment show that this white card is correct.

If you are checked into an event the app the app needs to check if the event was infectious or not.
For this check the app needs to fetch the latest published event ids from the CDN. If this fetch is not possible no exposure check for this event is possible.
The white card informs the user that the risk check was not successful

[2021-09-10 09:24] Ein-Tim commented on #3352
@thomasaugsten

Did you want to comment on #3188?

[2021-09-10 09:40] thomasaugsten commented on #3188
Out investigation at the moment show that this white card is correct.

If you are checked into an event the app the app needs to check if the event was infectious or not.
For this check the app needs to fetch the latest published event ids from the CDN. If this fetch is not possible no exposure check for this event is possible.
The white card informs the user that the risk check was not successful

[2021-09-10 09:49] Ein-Tim commented on #3188
@thomasaugsten But don't you & the dev team agree that this is very confusing for the user? I mean you also don't just show the exposure check failed card after 24h without a risk calculation (bluetooth), but only after 36h. Wouldn't it make sense to align this here?

All user I talked to about this just think that the app is not usable without internet and are frustrated.

[2021-09-10 10:04] Ein-Tim commented on #3436
As a "2/3" certificate would not be validated in the CovPassCheck-App, it makes no sense to show it as valid in the CWA.
These certificate should not exist, as the 3rd shot is optional.

Closing this as not fixable.

[2021-09-10 10:04] #3436 closed

[2021-09-10 10:10] thomasaugsten commented on #3188
This is very difficult to communicate because in fact the risk check is not possible we cannot say anything about the current risk state. It is also though to hide 24h the error before we show it to the enduser that his risk check is not working.

[2021-09-10 10:13] Ein-Tim commented on #3188
@thomasaugsten

Yes, I understand...
When does the app download new event keys? Always when connected to the internet or just when a risk check is running?
Because right now when there is a check-in the app always shows the exposure check failed card even if the last risk check was less then a minute ago.

[2021-09-10 10:16] thomasaugsten commented on #3188
Everyone you visit the Home Screen the apps Checks if there are new event ids are available

[2021-09-10 10:27] Ein-Tim commented on #3188
@thomasaugsten

Okay I understand. Does the app just download them or also carry out a risk check (and if there is a risk the status changes)?

[2021-09-10 11:12] thomasaugsten commented on #3188
If new event ids available then a new risk check will be executed

[2021-09-10 13:04] ndegendogo commented on #3352
Exactly. I didn't have any event checkin codes. I played with the ENF activation/ deactivation button while I was in unstable network coverage

[2021-09-10 20:14] Ein-Tim commented on #3188
@thomasaugsten

Mh, okay I see... Is the behavior under Android the same? Or what is the behavior there? If it's different iOS might be aligned to it.

[2021-09-10 20:52] ndegendogo commented on #3472
Some intermediate results from my investigations so far:
1) [this line of code](https://github.com/corona-warn-app/cwa-app-ios/blob/0976c16c616b448e1123a9c3df4c0cf85143a705/src/xcode/ENA/ENA/Source/Scenes/ContactDiary/Overview/DiaryOverviewTableViewController.swift#L59) triggers a recalculation of the layout for the navigation bar. If I just comment that line the issue is gone.

2) Unfortunately,

[2021-09-11 15:14] Ein-Tim commented on #3188
@MikeMcC399, could you let me know, does CWA under Android also show the "Exposure Check failed" risk card if there is no connection to the internet and there is a check-in?

[2021-09-11 15:40] MikeMcC399 commented on #3188
@Ein-Tim

I don't see this in Android.

Perhaps you could update the steps to reproduce in https://github.com/corona-warn-app/cwa-app-ios/issues/3188#issue-947123275 to be sure? There is no mention there of a dependency on check ins.

[2021-09-11 15:49] Ein-Tim commented on #3188
@MikeMcC399

Yes, for sure, I just updated them! Please let me know if you can reproduce this now (with a check-in).

[2021-09-11 16:13] MikeMcC399 commented on #3188
@Ein-Tim
I followed your updated steps to reproduce and with Android 11 and CWA 2.9.0 I could not reproduce any problem.

[2021-09-11 16:23] Ein-Tim commented on #3188
@MikeMcC399

Thank you so much for checking. That's the behavior I expect.

@thomasaugsten

What would the problem with aligning iOS to Android? Or is there an implementation problem under Android?

[2021-09-11 23:34] ndegendogo commented on #3472
PR #3511 😎

@dsarkar @heinezen could you please apply labels? - Thanks!

[2021-09-12 08:44] ndegendogo opened #3512 "UI glitch: Transition from Info View to Overview controllers after onboarding shortly shows a back button"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE -

[2021-09-12 08:48] ndegendogo commented on #3512
https://user-images.githubusercontent.com/6118267/132981285-4042d450-d707-4cc2-8519-d38e1768811f.mov

[2021-09-12 09:00] merlinseeling opened #3513 "CWA QR-Code certificates not scalable with check-apps"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 an

[2021-09-12 09:02] #3513 closed

[2021-09-12 09:08] Ein-Tim commented on #3513
Hi @merlinseeling

Did you close this by accident? If yes, either reopen this issue or just create a new one.

[2021-09-12 09:11] merlinseeling commented on #3513
I just started writing the issue and accidentally pressed ENTER... I'm writing a new one...

[2021-09-12 09:44] Ein-Tim commented on #3513
@merlinseeling

Okay 👍

Thank you!

[2021-09-12 09:47] ndegendogo commented on #3512
PR #3514

@dsarkar @heinezen could you please apply the labels? - Thanks!

[2021-09-12 10:10] merlinseeling opened #3515 "CWA QR-Code certificates not scannable with check-apps"
## Avoid duplicates

* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 12 a

[2021-09-12 10:38] Ein-Tim commented on #3515
I **cannot** reproduce this bug.

Device showing the certificate:
iPhone XR with CWA version 2.9.0 and iOS 14.7.1.

Device scanning the certificate:
Huawei P Smart 2019 with CovPassCheck version 1.95.12 and Android 10.

Which device is CovPassCheck running on @merlinseeling?

[2021-09-12 10:42] thomasaugsten commented on #3515
The recommended scanning distance is 50cm. Can you please retry this or try a different android device.

[2021-09-12 11:42] Ein-Tim commented on #3515
@merlinseeling

Thanks for providing the additional informations! Where did you download CovPassCheck from? The PlayStore?

Here is a part of my vaccination certificate:

Corona-Warn-App:
![IMG_1773](https://user-images.githubusercontent.com/67682506/132986200-9e6124ad-9307-4649-8863-46573ef299a7.jpg)

CovPass-App:
![IMG_1774](https://user-images.githubusercontent.com/67682506/132986214-f4a6252d-3

[2021-09-12 12:12] thomasaugsten commented on #3515
@merlinseeling  This is not reproducable thats why we need more information how you scan.  You can also provide a video to thomas.augsten@sap.com
The thickness of the qr-codes line should not influence the correctness of the qr code

[2021-09-12 12:36] merlinseeling commented on #3515
Thats strange, by 5 iOS devices that I saw, the QR-Code was not displayed correctly. @Ein-Tim is the screenshot from the CWA from an iOS device?

Yes!

For my testing it does. Because it works if the QR-Code thickness is correct.

Yes

[2021-09-12 12:36] ndegendogo commented on #3515
@merlinseeling could you please specify in more detail **how** you show the certificate?
- you press the 'Certificate' tab - right?
- the overview of certificates appears
- do you then show it directly from this overview, or do you select it / tap on the QR code?
- if you select it, it shows a list of certificates for a specific person.
- do you show it from this list?
- if you scroll down and sel

[2021-09-12 12:39] merlinseeling commented on #3515
Yes

Yes

It does not work in both cases

Yes

Yes

Yes

Yes

[2021-09-12 12:39] ndegendogo commented on #3515
@merlinseeling could you please give more details on the device types?
*(in your OP you mentioned iPhone 12 - what were the others?)*

[2021-09-12 12:40] Ein-Tim commented on #3515
@merlinseeling

Yes

[2021-09-12 12:40] thomasaugsten commented on #3515
@merlinseeling you can also try to make a screenshot show it on a monitor display and try to scan it to prove the we code is correct

[2021-09-12 12:41] merlinseeling commented on #3515
Yes as mentioned before, there where may, for example 2 iPhone SE 2020, an iPhone 12 and an iPhone 12 mini

[2021-09-12 12:43] merlinseeling commented on #3515
Guys is it possible that we meet at a Video Call?
I guess that's the easiest way for me, to show the Problem to you

[2021-09-12 12:57] thomasaugsten commented on #3515
I don't think this is necessary please try to scan a iOS screenshot from a of monitor display. And if you have the time please record a video.

[2021-09-12 15:18] merlinseeling commented on #3515
I tried it again and after 50 times it worked. I don't know how and why, but it worked, but only two times and only after holding the android device still for more than 30 seconds. I didn't managed to record it, because the CpCA is restricted so that I can not record the screen while it is open.

The problem now is only that it takes too long and the conditions must be perfect (both devices must b

[2021-09-12 15:24] Ein-Tim commented on #3515
To be honest, this seems like a problem with CovPassCheck rather than with CWA.

The QR-Code is alright how it is, I could also create a QR-Code like this and my QR-Code scanner is able to scan it:
![frame](https://user-images.githubusercontent.com/67682506/132993303-9eb0bef8-f1c1-4eb5-80ca-4a89935e6b6c.png)

[2021-09-12 15:29] Ein-Tim commented on #3515
I just created an EU digital COVID certificate QR-code certificate which has the design of the QR code I shared [here](https://github.com/corona-warn-app/cwa-app-ios/issues/3515#issuecomment-917656837) (no lines, only dots) and CovPassCheck scanned it without problems here...

[2021-09-12 15:31] thomasaugsten commented on #3515
@merlinseeling can you please use a iOS Screenshot and Display it on a Pcr Monitor to check if the QR code. Because the thicknesses no influence.

[2021-09-12 16:08] merlinseeling commented on #3515
@Ein-Tim and @thomasaugsten

Yeah, but no. QR-Codes can be displayed in many ways, but all rely on some simple rules. The thickness makes a difference because the scanning device has to differentiate the different pixels, no matter if they are squares or dots.

<img width="728" alt="Bildschirmfoto 2021-09-12 um 17 31 58" src="https://user-images.githubusercontent.com/76479756/132993551-6d6b4e35-e5

[2021-09-12 16:15] thomasaugsten commented on #3515
Please try to scan a iOS screenshot from a of monitor display. If you don't want to record a video please provide a screenshot to my mail. thomas.augsten@sap.com

[2021-09-12 16:23] merlinseeling commented on #3515
If I understand you correctly, I should mail you a screenshot of the CWA showing my certificate.

[2021-09-12 16:30] thomasaugsten commented on #3515
This is correct. On voluntary base of course

[2021-09-13 11:08] Ein-Tim commented on #3515
PR: #3517 improves this.

[2021-09-13 12:25] Ein-Tim commented on #3515
#3517 merged into `release/2.9.x`, so I think there will be a hotfix for this.

[2021-09-13 17:10] ndegendogo commented on #3515
yes, they have already tagged it as release candidate for their testing 🎉🎉🎉

[2021-09-14 08:02] Ein-Tim opened #3520 "Statusbar is not visible while requesting a test certificate"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-15 06:56] ndegendogo commented on #3474
PR is merged and is now available in the current development branch.

[2021-09-15 06:56] #3474 closed

[2021-09-15 07:23] dsarkar commented on #3520
@Ein-Tim Thank you: Internal Tracking ID: [EXPOSUREAPP-9453](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9453).

[2021-09-15 07:25] dsarkar commented on #3512
@ndegendogo Thanks: Internal Tracking ID: [EXPOSUREAPP-9454](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9454)

[2021-09-15 14:48] Ein-Tim opened #3533 "iOS Setting text says „Corona-Warn-App-App öffnen“"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-15 16:17] Ein-Tim commented on #3515
Version 2.9.1 has just been released on GitHub: https://github.com/corona-warn-app/cwa-app-ios/releases/tag/v2.9.1

[2021-09-15 16:25] jucktnich commented on #3533
You could try to name the app only Corona-Warn, this would fix it.

[2021-09-15 16:26] thomasaugsten commented on #3515
@merlinseeling Can you please install the update an retest

[2021-09-15 16:27] Ein-Tim commented on #3533
@jucktnich

The app itself is called Corona-Warn (name on the home screen, in the settings, etc.). Only the app in the Store is called Corona-Warn-App. The settings seem to use the name from the App Store.

[2021-09-15 16:29] jucktnich commented on #3533
@Ein-Tim i think you can alter the name for different places. If the Exposure Notification has its own name (I think so) it would be possible.

[2021-09-15 17:44] merlinseeling commented on #3515
Works properly now, thanks

Should I close the issue?

[2021-09-15 17:52] Ein-Tim commented on #3515
@merlinseeling

Yes, it this has been fixed please close it.

[2021-09-15 17:55] #3515 closed

[2021-09-16 04:45] ndegendogo commented on #3515
@merlinseeling thanks for your detailed initial analysis, and for your cooperation to get this reproduced and fixed so fast.
👍👍😁😁🎉🎉

[2021-09-16 05:58] ndegendogo commented on #3533
I see this on my iPhone 8 (cwa 2.9.0 / iOS 14.4.1 / German language settings).
I don't see this on my iPhone 6 (cwa 2.9.0 / iOS 12.5.3 / English language settings).

[2021-09-16 06:03] ndegendogo commented on #3533
@Ein-Tim I assume you cannot reproduce this on the simulator, as the true ENF is missing there?

A good place to investigate if cwa can do anything would be the app configuration files (plist and their like).
I am afraid this is to be done by SAP development team, as only they see the effect with the true ENF and/or true devices; so they are the only ones that are able to test this ...

[2021-09-16 06:19] ndegendogo commented on #3533
And I see this on the same iPhone 6 with cwa 2.9.0 / iOS 12.5.3 as soon as I switch to German language.

*This is a strong indication that the root cause is an inconsistency somewhere in the localized texts / strings and under control of cwa*

[2021-09-16 06:52] dsarkar commented on #3533
@Ein-Tim @ndegendogo @jucktnich Thanks. Internal Tracking ID: [EXPOSUREAPP-9467](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9467)

[2021-09-16 06:54] dsarkar commented on #3515
Dear @merlinseeling and community! Many thanks for contributing here! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-09-16 08:24] ndegendogo commented on #3460
The PR with the fix is merged and available in the latest developer build.
Closing the ticket.

[2021-09-16 08:24] #3460 closed

[2021-09-16 14:53] dsarkar commented on #3472
Internal Tracking ID: [EXPOSUREAPP-9482](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9482)

[2021-09-16 15:25] dsarkar commented on #3460
@ndegendogo Thanks for reporting the issue and providing a PR.

[2021-09-16 15:30] dsarkar commented on #2699
@ndegendogo Is the root cause of this issue here related to another issue you fix with https://github.com/corona-warn-app/cwa-app-ios/pull/3511?

[2021-09-16 15:41] dsarkar commented on #3471
Dear @yoanad and community.

Thanks for contributing here. As @Ein-Tim mentioned this enhancement has been implemented. We will therefore close this issue now.

Of course, feel free to create another wihslist item, as @Ein-Tim has suggested.

Thanks again, best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-09-16 15:41] #3471 closed

[2021-09-16 18:49] ndegendogo commented on #2699
@dsarkar no, this is different *(and originally I had hoped the same...)* 😅

Actually, I think I have understood **roughly** what is going on. I am not sure that I already understand the root cause; and I have not yet found a working solution.

***So, maybe I share my insights so far.***

In the scenario, the following happens:
- user taps a field of the form
- keyboard starts to appear
- this tri

[2021-09-17 10:59] dsarkar commented on #2699
@ndegendogo OK, thanks for the insight! I will forward this to the internal ticket for the developers.

[2021-09-17 23:35] ndegendogo opened #3547 "Cleanup navigation items in the top bottom view controllers"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-09-17 23:46] ndegendogo commented on #3547
I have submitted a first PR #3548 for the DataDonationViewController as an example.

@dsarkar @heinezen could you please label it? - Thanks!

[2021-09-21 12:52] serpensalbus commented on #3256
Is there still no solution yet? We need the certificate...

[2021-09-21 14:19] Ein-Tim commented on #3256
@serpensalbus

Try to put the app in background for some minutes (with active internet connection) and open it again, this helped the last time when I got this error.

[2021-09-21 14:46] serpensalbus commented on #3256
Thanks for the idea, but no luck.

[2021-09-21 14:53] serpensalbus commented on #3256
Meanwhile, I tried several times, but always the same error code. Seems to give an IOS app to SAP produces the expected result.

[2021-09-21 16:56] Ein-Tim opened #3559 "Are notifications from CWA flagged as "Time Sensitive" (iOS 15 feature "Focus")?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
iOS 15,

[2021-09-21 18:57] jucktnich commented on #3559
A notification about a high risk should maybe even get flagged as critical. (Cause its health related)

[2021-09-21 19:01] Ein-Tim commented on #3559
@jucktnich

Thanks for answering!

Now the question whether CWA already flags its notifications as "Time Sensitive" or if it's planned to implement this.

[2021-09-21 20:10] Ein-Tim commented on #3559
I found the answer (very well hidden) in the iOS settings:

<img src="https://user-images.githubusercontent.com/67682506/134240431-211a91e5-2c77-45d6-b49f-e5eac711256e.jpeg" width="300">

So notifications from CWA are not considered as Time Sensitive at the moment.

Now the last remaining question is:

**Is it planned to change this?** Do you plan to flag the high risk notifications from CWA as Ti

[2021-09-22 07:22] ndegendogo opened #3560 "UI glitch after certificate check"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8
- i

[2021-09-22 13:42] Ein-Tim commented on #2587
I assume https://github.com/corona-warn-app/cwa-app-ios/pull/3565 fixes this.

[2021-09-22 13:51] Ein-Tim commented on #2156
This has finally been **implemented** in version 2.10 by @ndegendogo! Thank you so much!

There is still one improvement to come in 2.11 (https://github.com/corona-warn-app/cwa-app-ios/pull/3475), still, this has basically been implemented.

Closing as implemented.

[2021-09-22 13:51] #2156 closed

[2021-09-22 13:54] Ein-Tim commented on #2414
I can confirm that this has been fixed in version 2.10 (by @ndegendogo).

One small thing, in darkmode, there is still a visible (unnecessary) free space:

| How it is now | How it should be |
|---|---|
| <img src="https://user-images.githubusercontent.com/67682506/134356778-c9707691-640c-40ac-8ef4-123566f908d4.png" width="300"> | <img src="https://user-images.githubusercontent.com/67682506/134356

[2021-09-22 16:20] dsarkar commented on #2156
@ndegendogo @Ein-Tim and community: Many thanks for contributing.

[2021-09-22 17:36] ndegendogo commented on #2414
@Ein-Tim only in dark mode, really? This seems strange ...

[2021-09-22 17:44] jucktnich commented on #2414
I **cannot** confirm a fix for iPhone SE 1

[2021-09-22 17:58] ndegendogo commented on #3283
Closing as implemened

[2021-09-22 17:58] #3283 closed

[2021-09-22 18:02] ndegendogo commented on #2414
@jucktnich @Ein-Tim what do you propose then? Reopen this, or a new ticket?

[2021-09-22 18:04] Ein-Tim commented on #2414
@ndegendogo It's only visible in dark mode, sorry.

You can look into this, without an open issue. But as said, this is only a minor thing and isn't worth a new ticket (at the moment) IHMO.

[2021-09-22 18:16] Ein-Tim commented on #2965
@dsarkar & @heinezen

Could you please let us know why exactly this feature has been declined? The reason @heinezen gives in https://github.com/corona-warn-app/cwa-app-ios/issues/2965#issuecomment-864567200 is a very general one.

Is the problem here also the accessibility from the lock screen?

[2021-09-22 18:21] iMonZ commented on #2965
https://www.computerbild.de/artikel/cb-News-App-Check-iOS-15.1-Impfnachweis-wandert-in-die-Wallet-30805397.html

[2021-09-22 18:24] Ein-Tim commented on #2965
@iMonZ Please see https://github.com/corona-warn-app/cwa-wishlist/issues/646#issuecomment-924325875 and what's written in the article:

According to Apple (https://developer.apple.com/news/?id=7h3vwlh5) only SMART Health Cards are able to use this feature. So this feature is useless for Europe at the moment.

[2021-09-22 19:29] ndegendogo commented on #3467
Closing as implemented

[2021-09-22 19:29] #3467 closed

[2021-09-22 20:36] ndegendogo commented on #3560
https://user-images.githubusercontent.com/6118267/134417995-c172d77d-afbe-496d-8c42-41ff8e01d83a.mp4

[2021-09-23 06:04] dsarkar commented on #3467
@ndegendogo Thanks for contributing!

[2021-09-23 07:03] dsarkar commented on #3283
@ndegendogo Thanks again!

[2021-09-23 08:13] ndegendogo opened #3567 "How to test the screens of certificates tab with simulator?"
## Avoid duplicates
* [x] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Question has not already been asked in another issue

## Your Question

* Sour

[2021-09-23 08:42] dsarkar commented on #3567
@marcussc @pascal-brause Maybe you can help out here? Thanks.

[2021-09-23 10:03] Ein-Tim commented on #3567
Related to #2907.

[2021-09-23 17:25] ezadoo commented on #2965
[As it come to my attention that it is now possible to export the Certificate as pdf and a note that the pdf contains sensitive personal data and it should only be shown to authorized personal.](https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/69#issuecomment-925174862)

And I want to ask the same question that Ein-Tim asked regarding this topic elsewhere:

Why is this f

[2021-09-23 20:35] ndegendogo commented on #2414
@Ein-Tim I have just checked on the simulator. The **layout** in dark mode and in light mode match exactly (you can watch this if you toggle the appearance in the simulator menu).
Only in light mode, the color tone of the background of the artwork and of the table are the same (both RGB = 255/255/255), whereas in dark mode, the color tones are different (background of artwork RGB = 0/0/0, backgrou

[2021-09-23 20:36] ndegendogo commented on #2414
@jucktnich may I ask for the iOS version of your SE 1? Is it a 12.5?

[2021-09-23 21:57] ndegendogo commented on #2414
@Ein-Tim actually, the runtime complains about a conflict in the layout.
So maybe this narrow dark-grey band between navigation bar and artwork is indeed an artefact of this layout conflict?

[2021-09-23 21:58] Ein-Tim commented on #2414
@ndegendogo

Yeah, could be.
What would speak against to remove the narrow grey band over the illustration?

[2021-09-23 22:16] Ein-Tim opened #3573 "Prio: App crashes when "Check Validity" button is clicked without active internet connection"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-24 05:07] jucktnich commented on #2414
@ndegendogo I'm on iOS 15. But I don't think, that the space is bad for the UX, since it's not as big as it was.

[2021-09-24 05:43] ndegendogo commented on #2414
You are right. It looks weird in dark mode.
And a PR would be the easiest way to get an opinion of the designers.

*So the next step would be to find out how to get rid of it - I'll try*

[2021-09-24 05:51] ndegendogo commented on #2414
@jucktnich this is actually good news.
I don't yet if / how it is possible to test the cwa user interface with a 12.4 simulator, and Apple never released a simulator for 12.5.
So I'll ignore the iOS version (for the moment) and focus on trying to get a simulator with the screen size of SE 1 .... 🤪

[2021-09-24 06:40] Ein-Tim commented on #2414
@ndegendogo

Thank you! 👍

[2021-09-24 06:41] Ein-Tim commented on #3573
@dsarkar I consider this as a high priority item. Could you mirror it to JIRA asap? Maybe a fix can be included in the upcoming 2.10.2 hot fix?

Thank you!

[2021-09-24 07:12] thomasaugsten commented on #3573
Will be included

[2021-09-24 10:11] Ein-Tim commented on #3573
PR #3576 fixes this issue. It's merging into `release/2.10.x` which confirms that this will be included in a hot fix version.

[2021-09-24 11:35] Ein-Tim opened #3577 "Can‘t select country for validity check"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-09-24 11:37] Ein-Tim commented on #3577
@thomasaugsten I'd argue this is also worth to be included in the hot fix (if that's reproducible).

[2021-09-24 11:51] thomasaugsten commented on #3577
Can you recheck please

[2021-09-24 11:53] Ein-Tim commented on #3577
@thomasaugsten

Works again! Thank you!

Closing as fixed.

[2021-09-24 11:53] #3577 closed

[2021-09-24 22:30] ndegendogo commented on #3547
@dsarkar @heinezen please label also PR #3580 - thanks!

[2021-09-25 08:01] Ein-Tim commented on #3485
@ouboub

Meanwhile version 2.10 of the CWA has been released, so can this issue be closed?

[2021-09-25 10:47] Ein-Tim commented on #3573
@dsarkar

Feel free to add a `Fix 2.10.2` label here.

[2021-09-25 12:29] ouboub commented on #3485
But has the issue been resolved? I mean has the information a bit updates and it is now clearer than before?

[2021-09-25 12:56] Ein-Tim commented on #3485
@ouboub I'm not sure whether I understand you correctly, it doesn't make sense to change something reg. version 2.9 anymore, the current version is 2.10.

[2021-09-25 16:45] ouboub commented on #3485
Ah, ok, I am acquainted with News files (information that accumulate
information), so I understand that version 2.10 does not contain anymore
that information.  If that is the case the issue can be closed, of course.

[2021-09-25 16:53] Ein-Tim commented on #3485
@ouboub

Yes, version 2.10 doesn't contain this information anymore.

You can either close it yourself or @dsarkar can do it.

[2021-09-25 17:20] ouboub commented on #3485
Not any longer relevant since the actual version is 2.10

[2021-09-25 17:20] #3485 closed

[2021-09-25 22:21] ndegendogo commented on #2414
The image of the European map is enclosed in a table cell. This cell has full screen width, but a [hard-coded height](https://github.com/corona-warn-app/cwa-app-ios/blob/7d1200b5e2518fa17ce437fe9d7eea71a813bb7f/src/xcode/ENA/ENA/Source/Scenes/ENSetting/EUSettings/EUSettingsViewModel.swift#L28). The image is scaled **without distortion** to fit inside this cell. But the cell is a bit too high, so t

[2021-09-26 09:48] dsarkar commented on #3547
Thanks @ndegendogo for another PR!

[2021-09-26 09:58] ndegendogo commented on #3492
I see the same effect on both my devices
iPhone 8 / iOS 14.4.1 / cwa 2.10.1 (9)
iPhone 6 / iOS 12.5.3 / cwa 2.10.1 (0)

So this time not related to the special screen size of SE1 😅😅

To me it looks like the table cells have transparent background (this is the default), and in most cases it is fine to see the background of the view shining through
only in this case it looks a bit weird 😅

[2021-09-26 19:40] dsarkar commented on #3492
Good evening @jucktnich and @ndegendogo Thanks for reporting: Internal Tracking ID: [EXPOSUREAPP-9660](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9660)

Good night, DS

[2021-09-26 20:56] ndegendogo opened #3583 "Unit tests: NavigationControllerViewScrollingTest is reported as flaky"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Simulator
-

[2021-09-26 21:01] ndegendogo commented on #3583
I did a series of test executions of the 7 test cases of NavigationControllerViewScrollingTest on a simulator (Xcode 13) for iPhone 13 Pro Max with iOS 15.0. About 10 percent of the runs had one failing test. This confirms that the tests are indeed unrobust.

[2021-09-26 21:18] ndegendogo commented on #3583
I have submitted a PR #3584 with an improved timing.

@dsarkar @heinezen please apply the labels - thanks!

[2021-09-27 06:49] dsarkar commented on #3583
Good morging @ndegendogo, Thanks: Internal Tracking ID: [EXPOSUREAPP-9661](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9661)

[2021-09-27 13:39] Ein-Tim commented on #3573
Confirm fixed in version 2.10.2.

Closing as fixed.

[2021-09-27 13:39] #3573 closed

[2021-09-28 05:29] Ein-Tim commented on #3559
@thomasaugsten Maybe you could give us a little hint? Is it planned to mark the increased risk notifications as time sensitive?

[2021-09-28 05:31] Ein-Tim commented on #3095
Can this issue be closed @thomasaugsten?

[2021-09-28 05:32] Ein-Tim commented on #2975
Please close this issue @dsarkar.

[2021-09-28 05:33] Ein-Tim commented on #2969
Could you please close this @dsarkar?

[2021-09-28 05:34] Ein-Tim commented on #2871
I guess this can be closed now @dsarkar?

[2021-09-28 05:35] Ein-Tim commented on #2849
Please update to iOS 15 and let us know if the situation has changed.

[2021-09-28 05:35] Ein-Tim commented on #2806
@FlightMS

Please update to the latest CWA version & iOS 15 and let us know if anything changed.

[2021-09-28 05:43] Ein-Tim commented on #2209
@ndegendogo

Could you check again under iOS 15? The picker has changed again.

[2021-09-28 06:06] Ein-Tim commented on #2587
https://github.com/corona-warn-app/cwa-app-ios/pull/3565 has been merged into `release/2.10.x` and is included in the hot fix version 2.10.2.

[2021-09-28 06:07] #2587 closed

[2021-09-28 06:08] Ein-Tim commented on #2648
@dsarkar

Any update on this? What's the status of the internal ticket? Has the fix been confirmed?

[2021-09-28 06:13] Ein-Tim commented on #2690
@jucktnich

The case you mention in the OP has been fixed, https://github.com/corona-warn-app/cwa-app-ios/issues/2690#issuecomment-841478685 will be fixed in one of the next releases.

Only https://github.com/corona-warn-app/cwa-app-ios/issues/2690#issuecomment-839812566 isn't fixed yet.

@heinezen / @dsarkar Could you maybe update the internal ticket so that only https://github.com/corona-warn-ap

[2021-09-28 06:16] Ein-Tim commented on #2745
@diimaan

If you want to you could give this another try under iOS 15 & CWA 2.10.2.

If not I suggest to close this issue as this seems to be an edge case and this can't really be fixed by the CWA devs but has to be fixed by Apple.

[2021-09-28 06:17] Ein-Tim commented on #3163
I'm still not able to reproduce this. Seems to be an edge case IHMO.

[2021-09-28 06:30] Ein-Tim commented on #3415
@jwildeboer

To answer your question, yes, CWA checks for a valid signature, but it doesn't check for the rules a country has set.

If you want to know more I suggest to read through here: https://github.com/corona-warn-app/cwa-app-android/issues/4053

Would you like to close this issue?

[2021-09-28 06:32] Ein-Tim commented on #3432
@ndegendogo

Are you able to reproduce this on the latest CWA version?

[2021-09-28 06:53] dsarkar commented on #2587
@Ein-Tim Thanks for reporting and following up!

[2021-09-28 07:11] ndegendogo commented on #3163
From the "look" of the screenshot, it could be a race condition of two unsynchronized animations ...

[2021-09-28 07:34] FlightMS commented on #2806
@Ein-Tim

No change here. I‘ve stopped scanning codes and entering data in the contact journal some time ago.

![BCEF0851-7D1D-4E03-8B6D-A9ACBD6397A1](https://user-images.githubusercontent.com/82420268/135043360-47bafe42-c5a4-46f3-bf3f-1ea849f7f9be.jpeg)

[2021-09-28 07:36] dsarkar commented on #3163
Hi @jucknich @Ein-Tim, same here, I can't reproduce anymore. I suggest closing this issue. Should we be able to reproduce this issue, we can re-open it and mirror internally the bug. Thanks.

---
Corona-Warn-App Open Source Team

[2021-09-28 08:02] #3095 closed

[2021-09-28 08:03] thomasaugsten commented on #3559
This is in discussion at the moment

[2021-09-28 08:58] dsarkar commented on #2806
@FlightMS Thanks for the feedback. The information was forwarded to the internal ticket. CC @Ein-Tim Thanks.

[2021-09-28 10:48] #3163 closed

[2021-09-28 10:48] jucktnich commented on #3163
Closed as not reproducible

[2021-09-28 10:52] dsarkar commented on #3163
@jucktnich Thanks for contributing anyway! Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-09-28 11:49] dsarkar commented on #3415
@Ein-Tim @jwildeboer The country list is not hard-coded into the CWA, but can be updated dynamically. We can most probably expect that these countries shown, might upload business rules at some point.

[2021-09-28 11:55] dsarkar commented on #3559
Internal Tracking ID: [EXPOSUREAPP-9690](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9690)

[2021-09-28 12:29] dsarkar commented on #2975
@Ein-Tim Thanks.

FAQ regarding this issue had been updated some time ago: https://www.coronawarn.app/de/faq/#vac_cert_mismatch

[2021-09-28 12:29] #2975 closed

[2021-09-28 13:11] #2969 closed

[2021-09-28 14:47] dsarkar commented on #2871
@Ein-Tim Thanks, right. As @Ein-Tim mentioned message has improved and also FAQ had been updated some time ago:

- **EN** https://www.coronawarn.app/en/faq/#vac_cert_invalid
- **DE** https://www.coronawarn.app/de/faq/#vac_cert_invalid

Dear @foss-, @melancholyaeon , @mbw83   @bleft, @MichaelDzsida @bockchristian  and all others in the community: Thanks for contributing here. Closing this issue now

[2021-09-28 14:47] #2871 closed

[2021-09-28 15:05] dsarkar commented on #2648
Hi @Ein-Tim, will be tested next weekend. Thanks.

[2021-09-28 17:43] ndegendogo commented on #3567
Maybe I could try to extend the developer menu, and bring back the "fake certificate" that was formerly the result of the "fake scanning" on the simulator?

@Ein-Tim what do you think?

[2021-09-28 18:48] Ein-Tim commented on #3567
@ndegendogo This would be a great addition! But this sounds like a lot of work to me, so if you don't want to do this or don't have the time to do this, this would also be ok.

If you decide to give it a try, let me know when I could support you somehow (Slack DM)!

[2021-09-28 20:51] ndegendogo opened #3599 "Community build: Developer Menu "Test keys" is broken"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Simulator fo

[2021-09-28 20:52] ndegendogo commented on #3599
I volunteer to analyse this in more detail

[2021-09-28 20:56] thomasaugsten commented on #3599
You need the developer entitlement to access this method

[2021-09-28 20:59] ndegendogo commented on #3599
The guard clause in MockENManager.getDiagnosisKeysImpl is wrong.
The result is preconfigured for success, so error is nil.

[2021-09-28 21:06] ndegendogo commented on #3599
@thomasaugsten thanks, of course you are right.
Still I expect that the mock at least not crashes in this case.
Let me try to fix / improve this (and you can still reject my PR if it is nonsense altogether)

[2021-09-28 22:51] ndegendogo commented on #3599
@dsarkar @heinezen I have submitted a PR #3600 to improve this - please apply the labels.
Thanks!

[2021-09-28 22:52] ndegendogo commented on #3583
PR is merged, the fix is available in branch release/2.12.x
Closing the ticket.

[2021-09-28 22:52] #3583 closed

[2021-09-29 06:10] dsarkar commented on #2413
@Ein-Tim, @jucktnich regarding this issue: "... Adding RKI or SAP as copyright holder would be wrong as the MIT license is only for the external copyright holders of copied and integrated source code."

This file is a template being used by another tool.

[2021-09-29 06:14] dsarkar commented on #3583
Thank you @ndegendogo!

[2021-09-29 07:16] ndegendogo commented on #3432
Meanwhile I am on version 2.10.2 (0).
I have not seen this error message again, and got regular risk checks since then.

I am not aware of any special circumstances or action that had caused the checks to stop back then in the 2.7. So, either it is indeed **fixed** 👍😁, or it is a very special (and unknown) combination of circumstances, and we can regard it as **not reproducible** 🤷

In any case, I

[2021-09-29 07:16] #3432 closed

[2021-09-30 21:45] ndegendogo commented on #3332
The empty space is related to the safe area of a footer view with the button "Remove All". This button is invisible till the user selects the menu "Edit". However, the safe area of this footer view is always active.

[2021-09-30 21:46] ndegendogo commented on #3408
Same root cause as #3332

[2021-10-01 06:47] dsarkar commented on #3332
@ndegendogo Thanks. Information is forwarded into internal ticket.

[2021-10-01 07:20] ndegendogo commented on #3599
Closing the ticket. The fix is merged and available on the current development branch. No need to wait for the release, as this is related to a development-only feature.

[2021-10-01 07:20] #3599 closed

[2021-10-01 07:23] dsarkar commented on #3599
@ndegendogo Thanks for reporting and providing a fix!

[2021-10-01 07:25] dsarkar commented on #3408
@ndegendogo Thanks, forwarded!

[2021-10-01 07:27] dsarkar commented on #3408
Internal Tracking ID: [EXPOSUREAPP-9750](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9750)

[2021-10-01 07:30] ndegendogo commented on #3408
@dsarkar please ask the devs if they are planning to work on this.
Else I would volunteer to try ... 😎

[2021-10-01 15:12] Ein-Tim opened #3626 "Clarify backup / migration behavior of the app"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Question is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Question has not already been asked in another issue

## Your Question
It is k

[2021-10-01 23:46] Ein-Tim commented on #149
FYI: I created #3627 which addresses most of the typos listed on the website.

[2021-10-02 12:37] heinezen commented on #3408
@ndegendogo There is nobody assigned yet, so you can try :)

----
Corona-Warn-App Open Source Team

[2021-10-02 17:34] ndegendogo commented on #3408
I have submitted PR #3628 with a fix.

@dsarkar @heinezen please apply the labels. Thanks!

[2021-10-02 17:35] ndegendogo commented on #3332
I have submitted PR #3628 with a fix.

@dsarkar @heinezen please apply the labels. Thanks!

[2021-10-02 20:13] Ein-Tim opened #3629 ""Error Reports" screen is missing title"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2021-10-02 20:59] Ein-Tim commented on #2648
@dsarkar

Thank you! I was just able to confirm the fix myself.

Closing as fixed.

[2021-10-02 20:59] #2648 closed

[2021-10-02 22:17] ndegendogo commented on #3567
🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉
***YES - the new universal scanner can scan the QR code from a photo 🎉🎉🎉 and that is the solution 🎉🎉🎉***

How to get a (valid) certificate into the simulator:
* make a photo of the QR code (e.g. a screenshot of cwa with your original health certificate) 😁 then export this photo to your MAC, and drag&drop it to your simulator.
* start simulator with cwa on newest development branch (rel

[2021-10-02 22:18] ndegendogo commented on #3567
closing as answered - and even fixed 👍😁

[2021-10-02 22:19] #3567 closed

[2021-10-02 22:23] ndegendogo commented on #2907
@Ein-Tim [try this](https://github.com/corona-warn-app/cwa-app-ios/issues/3567#issuecomment-932827610) and consider to close the ticket

[2021-10-02 22:24] Ein-Tim commented on #2907
This issue was solved by the Universal QR code scanner too, it's now possible to import real certificates into the Simulator and they will store there.

Thanks @ndegendogo for pointing this out in https://github.com/corona-warn-app/cwa-app-ios/issues/3567#issuecomment-932827610.

Closing as fixed.

[2021-10-02 22:24] #2907 closed

[2021-10-02 22:24] ndegendogo commented on #2907
😁😁😁😁😁

[2021-10-02 22:30] ndegendogo commented on #3547
@dsarkar @heinezen I have submitted another PR #3630 - please apply the labels. Thanks!

[2021-10-02 22:40] Ein-Tim opened #3631 "Simulator: Choosing "fake" HC1/HC2 leads to invalid signature error"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2021-10-02 22:45] Ein-Tim opened #3632 "Simulator: Choosing "fake" PCR test leads to "QR code is invalid" error"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2021-10-03 08:50] Ein-Tim commented on #3484
@hansemannn

Has your question been answered?

I'd suggest you open a new "Enhancement Request" issue, requesting to add an URL scheme. Best would be if you mention there that you'd be willing to implement this.

Have a nice Sunday.

[2021-10-03 11:39] jucktnich commented on #3484
+I think it would be cool to have something like `hc.coronawarn.app/check_certificate?start= 1633260123&end= 1633353723&country=de` which returns
[code]
(These answers should only be given after consent by the user).

[2021-10-03 16:08] ndegendogo commented on #3629
**Analysis:** This is a regression that was introduced as a side effect of the refactoring of the navigation items in TopBottomViewController, see #3474 and #3483.
[According to Apple documentation](https://developer.apple.com/documentation/uikit/uiviewcontroller/1621364-title), the title property of a UIViewController is reflected in the corresponding navigation item **if that navigation item is

[2021-10-03 16:34] ndegendogo commented on #3629
@dsarkar @heinezen I have submitted a PR #3634 with a fix - please apply the labels. Thanks!

[2021-10-04 09:24] webdesignweisshart commented on #2849
Things are looking good now after the update to iOS 15. Thank you.

[2021-10-04 09:24] #2849 closed

[2021-10-04 09:29] dsarkar commented on #2648
@Ein-Tim

![image](https://user-images.githubusercontent.com/1409741/135827322-220935c7-fa54-4090-8d33-62cdb6d8a59c.png)

Android: 2.10.1
iOS: 2.10.2

Slight difference between Android and iOS.

[2021-10-04 09:30] dsarkar commented on #2849
Hi @webdesignweisshart Thanks for your feedback! Good to know!

Best, DS

---
Corona-Warn-App Open Source Team

[2021-10-04 09:38] dsarkar commented on #3629
Thanks @ndegendogo, @Ein-Tim.

[2021-10-04 09:47] dsarkar commented on #3332
@ndegendogo Thanks.

[2021-10-04 09:54] dsarkar commented on #149
@Ein-Tim Thanks for the PR.

[2021-10-04 09:59] dsarkar commented on #3567
@ndegendogo Many thanks for the feedback.

[2021-10-04 11:29] Ein-Tim commented on #2648
@dsarkar

Will create a new enhancement issue asking to show "Gestern installiert" instead of "Seit 1 Tag installiert".
The issue, however, I reported in the OP has been fixed & I was able to confirm the fix.

[2021-10-04 11:32] dsarkar commented on #2648
@Ein-Tim Alright, thanks.

[2021-10-04 17:42] EnricoPicci opened #3642 "Quantitative analysis on the CWA code base performed using data provided by Git"
Dear all,
In the last weeks I have conducted some analysis on some CWA repos (cwa-server, cwa-app-ios, cwa-app-android).
The objective has been to test if it is possible to have a quantitative, data driven approach to the analysis of a large code base. The data used come from the logs produced by git, which hold the “temporal”, the “ownership” and the “size” dimensions of change (when a change occ

[2021-10-04 19:46] ndegendogo commented on #3642
@EnricoPicci very interesting article. Thanks!

[2021-10-04 20:58] ndegendogo commented on #3138
**Analysis:** On both screens, the image and the two text elements are laid out in a vertical stack view, with an additional padding added to the top to prevent the image from slipping under the button or the navigation bar.
**But:** the Certificates screen is a table view controller on top level, whereas in the Check-Ins screen the table view controller is embedded in a TopBottomViewController. T

[2021-10-04 21:49] ndegendogo commented on #3547
I have submitted still another PR #3644 on this ticket
@dsarkar @heinezen would you please be so kind and apply the labels? Thanks!

[2021-10-05 07:44] dsarkar commented on #3138
@ndegendogo Thanks. Your comment was mirrored into the internal ticket.

[2021-10-05 18:43] Ein-Tim opened #3648 "Show "Installed yesterday" instead of "Installed 1 day ago" (Align iOS to Android)"
## Avoid duplicates
* [X] This enhancement request has not already been raised before
* [X] Enhancement request is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wishlist)
* [X] If you are proposing a new feature, please do so in [CWA-Wishlist](https://github.com/corona-warn-app/cwa-wish

[2021-10-05 18:43] Ein-Tim commented on #2648
@dsarkar

I opened #3648.

[2021-10-05 19:36] ndegendogo commented on #3547
All PR are merged and available in the latest dev branch (release/2.13.x).
Closing as implemented.

[2021-10-05 19:36] #3547 closed

[2021-10-06 06:58] dsarkar commented on #3547
@ndegendogo Many thanks for all the PRs!

[2021-10-06 07:33] Ein-Tim commented on #3648
I can't check German under Android, but iOS shows "Installiert seit 1 Tag" in German.

[2021-10-06 07:37] dsarkar commented on #3648
@Ein-Tim ok, thanks: Android shows "yesterday"
![image](https://user-images.githubusercontent.com/1409741/136160003-6cfaa313-b010-4e61-85bc-f091f1e17a4b.png)

[2021-10-06 09:22] Ein-Tim commented on #3472
@jucktnich Can you confirm that this has been fixed in version 2.11?

[2021-10-06 11:55] jucktnich commented on #3472
With the way @ndegendogo described it's fixed, if it was the only way idk.
Closing as fixed.

[2021-10-06 11:55] #3472 closed

[2021-10-06 18:05] Ein-Tim commented on #2286
I can confirm that the button has been removed with version 2.11.

Closing this issue as implemented.

[2021-10-06 19:40] dsarkar commented on #2286
@Ein-Tim Thanks for confirming. Forwarded to internal ticket. Good night!

[2021-10-07 17:02] Ein-Tim opened #3663 "Onboarding: "If you are diagnosed with coronavirus" screen appears twice"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2021-10-07 18:14] Ein-Tim opened #3665 "Number in red badge on certificate is not centered, red circle in the background is very small"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2021-10-09 12:24] ndegendogo commented on #3138
Analysing and documenting the layout as of current version for three screen sizes (iPhone 8, iPhone 13 mini, iPhone 13 Pro Max), all with simulator for iOS 15.0.

The EmptyStateView is used in the following table view controllers as background view for empty table:
* DiaryDayViewController (contact diary single day view, both for People selection and for Places selection)
* HealthCertificateOvervi

[2021-10-09 12:42] ndegendogo commented on #3138
1) **DiaryDayViewController:**
* the People selection layout is well aligned with the Places selection layout.
* this layout differs significantly from the other mentioned layouts.

***I see no need for alignment here.***

**iPhone 8:**

https://user-images.githubusercontent.com/6118267/136658211-5b196ca3-4201-410c-94df-8ffc072e52e1.mp4

**iPhone 13 mini:**

https://user-images.githubusercontent.c

[2021-10-09 12:50] ndegendogo commented on #3138
**2) CheckinsOverviewViewController, TraceLocationsOverviewViewController and HealthCertificateOverviewViewController:**
* I can switch directly between those three with the tab buttons.
* their layout is structured very similar.

***These three should be aligned better.***

[2021-10-09 13:20] ndegendogo commented on #3138
**3) OnBehalfTraceLocationSelectionViewController:**
This screen is presented modally. The tab bar is not available.

***No need for alignment with the other screens.***

[2021-10-09 13:31] ndegendogo commented on #3492
It seems that the layout for the background with the image does not take the explanation text into account, so the image is positioned too high.
The explanation text needs more lines on devices with less width. You see this effect already on iPhone 8 if you compare with the iPhone 13 variants.

[2021-10-09 13:32] ndegendogo commented on #3492
**iPhone 8**

![Simulator Screen Shot - iPhone 8 - 2021-10-09 at 15 31 38](https://user-images.githubusercontent.com/6118267/136659868-26810604-efc3-4602-9ff9-0276bd38c7eb.png)

[2021-10-09 13:34] ndegendogo commented on #3492
**iPhone 13 Pro Max:**

![Simulator Screen Shot - iPhone 13 Pro Max - 2021-10-09 at 15 31 46](https://user-images.githubusercontent.com/6118267/136659959-7f549039-40a1-4762-8ded-314e0aaa98c7.png)

[2021-10-11 10:18] ndegendogo opened #3675 "Notification missing after red risk check from foreground"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [ ] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 8
- i

[2021-10-11 13:12] thomasaugsten commented on #3675
It will not block the notification.

We had exposure check at
   "Timestamp" : "2021-10-11 09:15:38 +0200",
   "Timestamp" : "2021-10-11 05:12:52 +0200",
   "Timestamp" : "2021-10-10 21:38:01 +0200",
   "Timestamp" : "2021-10-10 10:42:08 +0200",
   "Timestamp" : "2021-10-10 10:31:57 +0200",
   "Timestamp" : "2021-10-10 05:19:44 +0200",

And you say first check with "Übereinstimmende Schlüssel" >0

[2021-10-11 14:14] ndegendogo commented on #3675
I think it was about **2021-10-10 21:38** when I opened the app. The check was the first thing it did.

*Sorry for the misleading answer and the resulting confusion*

[2021-10-11 18:31] ndegendogo commented on #3675
@thomasaugsten So I will get the notification only if the app performs the first red check from background?
Maybe there is a misunderstanding / wrong expectation on my side?

Will I get a notification in the following scenarios:
(A) red check is performed while the app is closed ( = from the background)
(B) last time I was using the Journal tab before I closed the app; now I start the app and it p

[2021-10-12 05:58] Ein-Tim commented on #3512
@ndegendogo

Can you confirm that this has been fixed in the latest release?

[2021-10-12 06:11] Ein-Tim opened #3680 "Twitter Report: App deleted all contact journal entries"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone SE (2

[2021-10-12 06:13] Ein-Tim commented on #3317
FYI, more recent bug report on this: #3680

[2021-10-12 06:21] Ein-Tim commented on #3675
@ndegendogo

First when I read this issue I asked myself when you would want a push notification to be send, if the app's in foreground anyways.
But I think you bring up a valid point here:
If the app is opened on the contact journal tab (or on any other tab, besides from the start screen) and the app performs a risk check which finds an encounter with increased risk, the user has absolutely no cl

[2021-10-12 11:16] Ein-Tim commented on #3680
@dsarkar

This happened independently of any updates.

[2021-10-14 14:19] dsarkar commented on #3663
Internal Tracking ID: [EXPOSUREAPP-9926](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9926) duplicate of
Internal Tracking ID: [EXPOSUREAPP-8882](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8882)

[2021-10-15 16:42] Ein-Tim commented on #3188
@MikeMcC399

Hey Mike, could you please recheck this? On my Android device I was able to observe that if there are Check Ins, the app shows the "Exposure Check failed" card if one is offline.

Can you confirm this?

[2021-10-15 17:28] thomasaugsten commented on #3188
At the moment not for the restart error message you should create a separate ticket

[2021-10-17 15:11] ndegendogo opened #3709 "[a11y] Layout of 'warn on behalf' page is broken for extreme font sizes"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [x] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [x] Bug is not already reported in another issue

## Technical details

Screenshots were created wi

[2021-10-17 23:22] ndegendogo commented on #3709
Note: I found this issue while working on PR #3685. However, that PR will not fix it.

[2021-10-19 06:48] dsarkar commented on #2908
@ndegendogo Sure! Thanks for the PR!

[2021-10-19 20:56] Ein-Tim commented on #3187
As in version 2.12 the notification settings in the app were removed, this issue has been fixed.

Here's a screenshot how the "Notifications" settings are shown in the app now:
<img src="https://user-images.githubusercontent.com/67682506/137989219-1f726bbf-8050-4eae-a617-531dad4b3f06.png" width="300">

Closing this issue as fixed in version 2.12.

[2021-10-19 20:59] Ein-Tim commented on #2414
I am happy to confirm that this issue now has been finally fixed in version 2.12.

Here's a screenshot:

<img src="https://user-images.githubusercontent.com/67682506/137989573-8f11eb1a-dd96-4011-89f2-8fe76865e0d9.png" width="300">

Closing this issue as fixed in version 2.12.

[2021-10-19 20:59] #2414 closed

[2021-10-19 21:02] #3408 closed

[2021-10-21 04:50] Ein-Tim opened #3731 "Overlapping icons in PDF viewer (print certificates)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
-

[2021-10-21 11:56] Ein-Tim commented on #3665
@ndegendogo

Yes, confirm that.

[2021-10-28 18:01] tyrann0us opened #3764 "PCR test QR codes with uppercase LOCALHOST still can’t be scanned"
## Technical details

- Device name: iPhone 13 mini
- iOS version: 15.1
- App version: 2.12.1 (1)

## Describe the bug

PCR test forms that use uppercase HTTPS://LOCALHOST/?[…] in the QR code can’t be scanned with the app. Error message is “**Fehler** Der QR-Code wird nicht in der Corona-Warn-App unterstützt. Bitte scannen Sie einen geeigneten QR-Code.”

![7FC053FD-62C5-435D-8BF2-C0E4701A8876](htt

[2021-10-29 17:21] Ein-Tim opened #3772 "Corona-Warn-App does not open the certificate if the notification "Überprüfen Sie die Gültigkeit Ihrer Zertifikate" is clicked while the app is in foreground"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2021-10-29 18:10] Ein-Tim opened #3773 ""Health Certificate Information" screen is shown on the certificates tab again, even if the screen was already shown because the user added a certificate through the universal QR code scanner"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pr

[2021-10-30 10:13] dsarkar commented on #3772
@Ein-Tim Please, use a different certificate with a different name. Thanks.

[2021-10-30 10:23] Ein-Tim commented on #3772
@dsarkar

Agreed, I'm sorry.

I cannot provide a new video as I did click on all notifications, so I will just leave the video out.

[2021-10-30 10:31] dsarkar commented on #3772
@Ein-Tim I understand, no problem. I suggest closing this one and create a new "clean" issue. Thanks! Enjoy your weekend!

[2021-10-30 10:31] #3772 closed

[2021-10-30 12:11] jucktnich commented on #3772
@dsarkar what should you do in case you don't know if the content is appropriate like in this case?
Just creating the issue and waiting for corrections, write the content to an email address, ...?
Maybe you could append the Code of Conduct with the intended behaviour?

[2021-10-31 09:02] Ein-Tim opened #3774 "Corona-Warn-App does not open the certificate if the notification "Überprüfen Sie die Gültigkeit Ihrer Zertifikate" is clicked while the app is in foreground"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for iOS only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
-

[2021-11-01 11:11] symbolisch1234 opened #3775 "compatible ipod Touch on iOS >12.5 barred from installing"
## Current Implementation
I have an ipod Touch (6G) running iOS 12.5.3 - according to [Bundesregierung FAQ](https://www.bundesregierung.de/breg-de/themen/corona-warn-app/corona-warn-app-englisch/corona-warn-app-faq-1758636#toggledown-content-7) this version is sufficient for running CWA. However, the [app store](https://apps.apple.com/gb/app/corona-warn-app/id1512595757) bars me from installing CW

[2021-11-01 11:17] dsarkar commented on #3774
@Ein-Tim Thanks: Internal Tracking ID: [EXPOSUREAPP-10256](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10256)

[2021-11-01 11:20] Ein-Tim commented on #3775
@symbolisch1234

Yes, you're right, the iPod is missing the GAEN Framework, see https://github.com/corona-warn-app/cwa-app-ios/issues/1887#issuecomment-769983311.